 <div class="modal-header">
    <h3 class="modal-title">Review Application</h3>
</div>
<div class="modal-body">
  <div class="row">
  		<div class="col-sm-6 col-md-6 col-lg-6">
  			<h4>Usage Type:</h4>
  			<ul class="list-group">
  				<li class="list-group-item"><strong>Type:</strong> {{affiliateform.type}}</li>
  				<li class="list-group-item"><strong>Subtype:</strong> {{affiliateform.usageSubType}}</li>
  			</ul>

  			<h4>Contact Information:</h4>
  			<ul class="list-group">
  				<li class="list-group-item"><strong>Name:</strong> {{affiliateform.contact.name}}</li>
  				<li class="list-group-item"><strong>Email:</strong> {{affiliateform.contact.email}}</li>
  				<li class="list-group-item"><strong>Land-line Phone Number:</strong> {{affiliateform.contact.phone}} <span ng-show="affiliateform.extension">ext: {{affiliateform.contact.extension}}</span></li>
  				<li class="list-group-item"><strong>Mobile Phone Number:</strong> {{affiliateform.contact.mobilePhone}}</li>
  			</ul>

  			<ul class="list-group" ng-show="affiliateform.type=='INDIVIDUAL'">
  				<li class="list-group-item"><strong>Address:</strong> {{affiliateform.address.street}}</li>
  				<li class="list-group-item"><strong>City:</strong> {{affiliateform.address.city}}</li>
  				<li class="list-group-item"><strong>Post Code:</strong> {{affiliateform.address.postCode}}</li>
  				<li class="list-group-item"><strong>Country:</strong> {{affiliateform.address.country}}</li>
  			</ul>

  			<ul class="list-group" ng-show="affiliateform.type!='INDIVIDUAL'">
  				<h4>Organization:</h4>
  				<li class="list-group-item"><strong>Organization Name:</strong> {{affiliateform.organization.name}}</li>
  				<li class="list-group-item"><strong>Organization Type:</strong>
  					<span ng-show="affiliateform.organization.type=='OTHER'">{{affiliateform.organization.typeOther}}</span>
  					<span ng-show="affiliateform.organization.type!='OTHER'">{{affiliateform.organization.type}}</span> 
 					</li>
  				<li class="list-group-item"><strong>Address:</strong> {{affiliateform.address.street}}</li>
  				<li class="list-group-item"><strong>City:</strong> {{affiliateform.address.city}}</li>
  				<li class="list-group-item"><strong>Post Code:</strong> {{affiliateform.address.postCode}}</li>
  				<li class="list-group-item"><strong>Country:</strong> {{affiliateform.address.country}}</li>
  				<li class="list-group-item"><strong>Phone Number:</strong> {{affiliateform.contact.phone}} <span ng-show="affiliateform.contactextension">ext: {{affiliateform.contact.extension}}</span></li>
  				<li class="list-group-item"><strong>Alternate Email:</strong> {{affiliateform.contact.alternateEmail}}</li>
  				<li class="list-group-item" ng-show="affiliateform.type=='COMMERCIAL'"><strong>Third Email:</strong> {{affiliateform.contact.thirdEmail}}</li>
  				<li class="list-group-item" ng-show="affiliateform.type=='OTHER'"><strong>Other:</strong>{{otherText}}</li>
  			</ul>


  			<ul class="list-group" ng-show="affiliateform.type=='COMMERCIAL'">
  				<h4>Billing Address</h4>
  				<li class="list-group-item"><strong>Address:</strong> {{affiliateform.billing.street}}</li>
  				<li class="list-group-item"><strong>City:</strong> {{affiliateform.billing.city}}</li>
					<li class="list-group-item"><strong>Post Code:</strong> {{affiliateform.billing.postCode}}</li>
					<li class="list-group-item"><strong>Country:</strong> {{affiliateform.billing.country}}</li>
  			</ul>

  		</div>
	</div>
</div>

<div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">OK</button>
</div>