<div class="modal-header">
	<h3 class="modal-title" translate="register.affiliateRegistrationReview.title">Review Application
		<span class="pull-right">
			<button class="btn btn-link" ng-click="$dismiss()"  translate="register.affiliateRegistrationReview.editApp">Edit Application</button>
			<button class="btn btn-success" ng-click="ok()" ng-disabled="submitting">
				<span translate="global.word.submit">Submit</span>
				<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
			</button>
		</span>
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
				<h4><span translate="register.affiliateRegistration.usageType.label">Usage Type:</span></h4>
				<ul class="list-group">
					<li class="list-group-item-light"><strong translate="views.contactInfo.admin.usageType.name.label">Type:</strong> {{affiliateform.type | enum:'affiliate.type.'}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.admin.subtype.name.label">Subtype:</strong> {{affiliateform.subType | enum:'affiliate.subType.'}} {{affiliateform.otherText}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.admin.agreementType.label">Agreement Type:</strong> {{affiliateform.affiliateDetails.agreementType | enum:'affiliate.agreementType.'}}</li>
				</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
				<h4 translate="views.contactInfo.contact.title.label">Contact Information:</h4>
				<ul class="list-group">
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.fullName.label">Name:</strong> {{affiliateform.affiliateDetails.firstName}} {{affiliateform.affiliateDetails.lastName}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.email.name.label">Email:</strong> {{affiliateform.affiliateDetails.email}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.landline.name.label">Landline Phone Number:</strong> {{affiliateform.affiliateDetails.landlineNumber}} <span ng-show="affiliateform.extension" translate="views.contactInfo.contact.landlineExtension.short">ext: {{affiliateform.affiliateDetails.landlineExtension}}</span></li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.mobile.name.label">Mobile Phone Number:</strong> {{affiliateform.affiliateDetails.mobileNumber}}</li>
				</ul>

				<ul class="list-group" ng-show="affiliateform.type=='INDIVIDUAL'">
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.address.name.label">Address:</strong> {{affiliateform.affiliateDetails.address.street}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.city.name.label">City:</strong> {{affiliateform.affiliateDetails.address.city}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.postcode.name.label">Post Code:</strong> {{affiliateform.affiliateDetails.address.post}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.country.name.label">Country:</strong> {{affiliateform.affiliateDetails.address.country.commonName}}</li>
				</ul>
					<ul class="list-group" ng-show="affiliateform.type!='INDIVIDUAL'">
					<h4>Billing Address:</h4>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.address.name.label">Address:</strong> {{affiliateform.affiliateDetails.billingAddress.street}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.city.name.label">City:</strong> {{affiliateform.affiliateDetails.billingAddress.city}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.postcode.name.label">Post Code:</strong> {{affiliateform.affiliateDetails.billingAddress.post}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.country.name.label">Country:</strong> {{affiliateform.affiliateDetails.billingAddress.country.commonName}}</li>
				</ul>
				
		</div>
		<div class="col-xs-6">
				<ul class="list-group" ng-show="affiliateform.type!='INDIVIDUAL'">
					<h4 translate="views.contactInfo.organization.title">Organization:</h4>
					<li class="list-group-item-light"><strong translate="views.contactInfo.organization.name.label">Organization Name:</strong> {{affiliateform.affiliateDetails.organizationName}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.organization.type.name.label">Organization Type:</strong>
						<span ng-show="affiliateform.affiliateDetails.organizationType=='OTHER'">{{affiliateform.affiliateDetails.organizationTypeOther}}</span>
						<span ng-show="affiliateform.affiliateDetails.organizationType!='OTHER'">{{affiliateform.affiliateDetails.organizationType | enum:'affiliate.organizationType.'}}</span> 
 					</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.address.name.label">Address:</strong> {{affiliateform.affiliateDetails.address.street}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.city.name.label">City:</strong> {{affiliateform.affiliateDetails.address.city}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.postcode.name.label">Post Code:</strong> {{affiliateform.affiliateDetails.address.post}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.country.name.label">Country:</strong> {{affiliateform.affiliateDetails.address.country.commonName}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.landline.short">Phone Number:</strong> {{affiliateform.affiliateDetails.landlineNumber}} <span ng-show="affiliateform.affiliateDetailsextension" ><span  translate="views.contactInfo.contact.landlineExtension.short">ext:</span> {{affiliateform.affiliateDetails.landlineExtension}}</span></li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.alternativeEmail.name.label">Alternate Email:</strong> {{affiliateform.affiliateDetails.alternateEmail}}</li>
					<li class="list-group-item-light" ng-show="affiliateform.type=='COMMERCIAL'"><strong translate="views.contactInfo.contact.thirdEmail.label">Third Email:</strong> {{affiliateform.affiliateDetails.thirdEmail}}</li>
					<li class="list-group-item-light" ng-show="affiliateform.type=='OTHER'"><strong translate="views.contactInfo.admin.other.name.label">Other:</strong>{{otherText}}</li>
				</ul>
				<ul class="list-group" ng-show="affiliateform.type=='INDIVIDUAL'">
					<h4 translate="views.contactInfo.contact.billingAddress.name.label">Billing Address:</h4>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.address.name.label">Address:</strong> {{affiliateform.affiliateDetails.billingAddress.street}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.city.name.label">City:</strong> {{affiliateform.affiliateDetails.billingAddress.city}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.postcode.name.label">Post Code:</strong> {{affiliateform.affiliateDetails.billingAddress.post}}</li>
					<li class="list-group-item-light"><strong translate="views.contactInfo.contact.country.name.label">Country:</strong> {{affiliateform.affiliateDetails.billingAddress.country.commonName}}</li>
				</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<ul class="list-group" >
					<h4 translate="views.usageLog.usage.label">Usage</h4>
					<li class="list-group-item-light"><strong translate="views.usageLog.currentUsage.label">Current Usage:</strong> {{CommercialUsageService.currentCommercialUsageReport.context.currentUsage}}</li>
					<li class="list-group-item-light"><strong translate="views.usageLog.plannedUsage.label">Planned Usage:</strong> {{CommercialUsageService.currentCommercialUsageReport.context.plannedUsage}}</li>
					<li class="list-group-item-light"><strong translate="views.usageLog.purpose.label">Purpose:</strong> {{CommercialUsageService.currentCommercialUsageReport.context.purpose}}</li>
					<li class="list-group-item-light"><strong translate="views.usageLog.impStatus.label">Implementation Status:</strong> {{CommercialUsageService.currentCommercialUsageReport.context.implementationStatus | enum:'affiliate.implementationStatus.'}}</li>
				<li class="list-group-item-light"><strong translate="views.usageLog.otherActivities.label">Other Activities:</strong> {{CommercialUsageService.currentCommercialUsageReport.context.otherActivities}}</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-repeat="pair in usageCountryCountsPairs">
		<div class=" col-xs-6" ng-repeat="countryRecord in pair">
			<ul class="list-group">
			<li class="list-group-item-light">
			<strong translate="views.contactInfo.contact.country.name.label">Country:</strong> {{'global.country.' + countryRecord.country.isoCode2 | translate}} <br>
			<strong translate="views.usageLog.institutions.practices.label">Practices:</strong> {{countryRecord.snomedPractices | number}}
				<span ng-show="commercialUsageInstitutionsByCountry[countryRecord.country.isoCode2].length > 0">
					<br>
					<strong translate="views.usageLog.institutions.hospAndInst.plural.label">Hospitals/Institutions:</strong>
					<span ng-repeat="entry in commercialUsageInstitutionsByCountry[countryRecord.country.isoCode2]">
						{{entry.name}}<span ng-show="!$last">,</span>
					</span><br>
				</span>
			</li>
			</ul>
			</div>
	</div>

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="modal-footer">
	<button class="btn btn-link" ng-click="$dismiss()" translate="register.affiliateRegistrationReview.editApp">Edit Application</button>
	<button class="btn btn-success" ng-click="ok()" ng-disabled="submitting">
		<span translate="global.word.submit">Submit</span>
		<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
	</button>
</div>