<form novalidate="" name="affiliateApplicationForm" ng-submit="affiliateform.submit()" bs-validation="" id="affiliateApplicationForm">
  <div class="container">
	  <div class="row space" ng-show="approvalState === 'CHANGE_REQUESTED'">
		  <div class="col-sm-12 col-md-12 col-lg-12">
		  	<div class="alert alert-warning" role="alert">
		  		<div><strong>Affiliate Registration Needs Change</strong></div>
		  		<p>Your affiliate registration needs to be updated before it can processed. Please see email regarding the necessary changes to complete your registration.</p>
		  	</div>
		  </div>
		</div>
  	<h1>Affiliate Registration</h1>
  	<div class="row">
    <div class="col-sx-12 col-md-12">
      <div>
        <div class="panel panel-default applicant">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span> Usage Type</span>
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body">
              <h4>Please select the conditions that the product will be used under:</h4>
              <div class="form-group">
                <label>Usage Type:</label> <select class="form-control input-md" name="type" ng-model="affiliateform.type" ng-change="affiliateform.subType = ''; affiliateTypeChanged()" required="">
                  <option value="COMMERCIAL">Commercial - Developer, Vender or Terminology provider</option>
                  <option value="ACADEMIC">Academic - for internal use within an Organization. (Educational, Research, Development or Healthcare Provider)</option>
                  <option value="OTHER">Other - Use not stated in other options</option>
                  <option value="INDIVIDUAL">Individual - Personal, Educational or Research</option>
                </select>
                <p ng-show="affiliateApplicationForm.type.$error.required && affiliateApplicationForm.attempted" class="help-block">
                  Usage type field is required.
                </p>
              </div>
              <div class="form-group" ng-show="affiliateform.type && affiliateform.type!='OTHER'">
                <label>Subtype:</label> 
                <select class="form-control input-md" name="usageSubType" ng-model="affiliateform.subType" ng-required="affiliateform.type!='OTHER'" auto-submit>
                  <option value="DEVELOPER" ng-show="affiliateform.type=='COMMERCIAL'" translate="affiliate.subType.DEVELOPER">Developer</option>
                  <option value="DEVELOPMENT" ng-show="affiliateform.type=='ACADEMIC'" translate="affiliate.subType.DEVELOPMENT">Development</option>
                  <option value="EDUCATIONAL" ng-show="affiliateform.type!='COMMERCIAL'" translate="affiliate.subType.EDUCATIONAL">Educational</option>
                  <option value="HEALTHCAREPROVIDER" ng-show="affiliateform.type=='ACADEMIC'" translate="affiliate.subType.HEALTHCAREPROVIDER">Healthcare Provider</option>
                  <option value="PERSONAL" ng-show="affiliateform.type=='INDIVIDUAL'" translate="affiliate.subType.PERSONAL">Personal</option>
                  <option value="RESEARCH" ng-show="affiliateform.type!='COMMERCIAL'" translate="affiliate.subType.RESEARCH">Research</option>
                  <option value="VENDOR" ng-show="affiliateform.type=='COMMERCIAL'" translate="affiliate.subType.VENDOR">Vendor</option>
                </select>
                <p ng-show="affiliateApplicationForm.usageSubType.$error.required && affiliateApplicationForm.attempted" class="help-block">
                  Subtype field is required.
                </p>
              </div>
              <div class="form-group" ng-show="affiliateform.type=='OTHER'">
                <label>Other:</label> 
                <input type="text" class="form-control" placeholder="Other" name="otherText" 
                	ng-required="affiliateform.type=='OTHER'" ng-model="affiliateform.otherText" ng-maxlength="255" auto-submit>
                <p ng-show="affiliateApplicationForm.otherText.$error.required && affiliateApplicationForm.attempted" class="help-block">
                  Other field is required.
                </p>
                <p ng-show="affiliateApplicationForm.otherText.$error.maxLength" class="help-block">
                  Input value is too long.
                </p>
              </div>
              <div class="form-group">
              	<label>Type of Agreement:</label>
              	<select class="form-control"
              		name="agreementType"
									required
									ng-disabled="readOnly"
									ng-model="affiliateform.agreementType"
									ng-options="type | enum:'affiliate.agreementType.' for type in agreementTypeOptions"
									auto-submit>
								</select>
								<div ng-show="affiliateApplicationForm.attempted">
									<p ng-show="affiliateApplicationForm.agreementType.$error.required"
										class="help-block">Required field.</p>
								</div>
							</div>
						</div>
          </div>
        </div>
        
        <div class="panel panel-default applicant">
          <div class="panel-heading">
            <h4 class="panel-title">
            	<span>Home Country</span>
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body">
              <h4>Please state the country(s)  that will use this product</h4>
              <div class="form-group">
                   <input class="form-control" type="text" ng-model="affiliateform.affiliateDetails.address.country" required="" name="country" placeholder="Country"
                   		typeahead="country as country.commonName for country in availableCountries | filter:$viewValue | limitTo:8" auto-submit> 
                      <p ng-show="affiliateApplicationForm.country.$error.required && affiliateApplicationForm.attempted" class="help-block">
                        Required field.
                      </p>
						<p class="help-block"
			 				ng-show="affiliateApplicationForm.country.$error.excluded" 
			 				translate="register.messages.validate.country.notMLDS" translate-values="{link:affiliateform.affiliateDetails.address.country.alternateRegistrationUrl}">
			 				  This IHTSDO member country is excluded. Please <a href="{{affiliateform.affiliateDetails.address.country.alternateRegistrationUrl}}">see</a>
			  				</p>
  				        </div>
            <div class="form-group">
            	<label>Member:</label> <span ng-show="affiliateform.affiliateDetails.address.country.member">{{affiliateform.affiliateDetails.address.country.member.key | enum:'global.member.'}}</span>
            </div>
          </div>
        </div>
      </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Contact Information
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
              	<div class="col-md-6">
	               	<p><label>Name:</label> {{affiliateform.affiliateDetails.firstName + ' ' + affiliateform.affiliateDetails.lastName}}</p>
	               	<p><label>Email:</label> {{affiliateform.affiliateDetails.email}}</p>
              	</div>
              </div>
              <div class="row" ng-show="affiliateform.type === 'INDIVIDUAL'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Alternate Email:</label> 
                    <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" required="" name="contactAlternateEmail" 
                    	ng-model="affiliateform.affiliateDetails.alternateEmail" auto-submit ng-maxlength="100" 
                    	unique="{{[affiliateform.affiliateDetails.email, affiliateform.affiliateDetails.thirdEmail]}}">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="affiliateApplicationForm.contactAlternateEmail.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!affiliateApplicationForm.contactAlternateEmail.$error.required && affiliateApplicationForm.contactAlternateEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                    <p class="help-block" ng-show="!affiliateApplicationForm.contactAlternateEmail.$error.required
                    	&& !affiliateApplicationForm.contactAlternateEmail.$error.email 
                    	&& affiliateApplicationForm.contactAlternateEmail.$error.notUnique ">
                      Email Addresses need to be unique.
                    </p>
                    <p ng-show="affiliateApplicationForm.contactAlternateEmail.$error.maxLength" class="help-block">
		                  Input value is too long.
		                </p>
                  </div>
                </div>
              </div>
              
              <div class="row" ng-show="affiliateform.type === 'INDIVIDUAL'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Third Email:</label> 
                    <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" name="thirdEmail" 
                    	ng-model="affiliateform.affiliateDetails.thirdEmail" auto-submit ng-maxlength="100"  
                    	unique="{{[affiliateform.affiliateDetails.email, affiliateform.affiliateDetails.alternateEmail]}}">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="!affiliateApplicationForm.thirdEmail.$error.required && affiliateApplicationForm.thirdEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                    <p class="help-block" 
                    	ng-show="!affiliateApplicationForm.thirdEmail.$error.required 
                    		&& !affiliateApplicationForm.thirdEmail.$error.email 
		                    && affiliateApplicationForm.thirdEmail.$error.notUnique">
	                      Email Addresses need to be unique.
                    </p>
                    <p ng-show="affiliateApplicationForm.thirdEmail.$error.maxLength" class="help-block">
		                  Input value is too long.
		                </p>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <label>Landline Phone Number:</label>
                </div>
                <div class="col-md-2">
                  <label>Extension:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input class="form-control" type="tel" required="" name="contactPhone" ng-max-length="255" 
                    	ng-model="affiliateform.affiliateDetails.landlineNumber" auto-submit
                    	tel-country-model="affiliateform.affiliateDetails.address.country.isoCode2">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="affiliateApplicationForm.contactPhone.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!affiliateApplicationForm.contactPhone.$error.required && affiliateApplicationForm.contactPhone.$invalid" class="help-block">
                        Invalid Phone Number.
                      </p>
                    </div>
                    <p ng-show="affiliateApplicationForm.contactPhone.$error.maxLength" class="help-block">
		                  Input value is too long.
		                </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input class="form-control col-md-2" placeholder="Extension" name="contactExtension" ng-maxlength="255"
                    	ng-model="affiliateform.affiliateDetails.landlineExtension" auto-submit
                    	tel-country-model="affiliateform.affiliateDetails.address.country.isoCode2">
                   	<p ng-show="affiliateApplicationForm.contactExtension.$error.maxLength" class="help-block">
		                  Input value is too long.
		                </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Mobile Phone Number:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="tel" name="mobilePhone" ng-maxlength="255"
                    	ng-required="affiliateform.type!='INDIVIDUAL'" ng-model="affiliateform.affiliateDetails.mobileNumber" auto-submit
                    	tel-country-model="affiliateform.affiliateDetails.address.country.isoCode2">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="affiliateApplicationForm.mobilePhone.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!affiliateApplicationForm.mobilePhone.$error.required && affiliateApplicationForm.mobilePhone.$invalid" class="help-block">
                        Invalid Phone Number.
                      </p>
                    </div>
                    <p ng-show="affiliateApplicationForm.mobilePhone.$error.maxLength" class="help-block">
		                  Input value is too long.
		                </p>
                  </div>
                </div>
              </div>
              <div ng-show="affiliateform.type=='INDIVIDUAL'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address:</label>
                      <input class="form-control" name="address" placeholder="123 Somewhere Avenue" ng-maxlength="255" 
                      	ng-required="affiliateform.type=='INDIVIDUAL'" ng-model="affiliateform.affiliateDetails.address.street" auto-submit>
                      <p ng-show="affiliateApplicationForm.address.$error.required && affiliateApplicationForm.attempted" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="affiliateApplicationForm.address.$error.maxLength" class="help-block">
			                  Input value is too long.
			                </p>
                    </div>
                  </div>
                </div>
                <div class="row">
	                <div class="col-md-3">
	                  <label>City:</label>
	                </div>
	                <div class="col-md-3">
	                  <label>Post Code:</label>
	                </div>
	              </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="form-control" name="city" placeholder="City" ng-required="affiliateform.type=='INDIVIDUAL'" ng-model="affiliateform.affiliateDetails.address.city" ng-maxlength="255" auto-submit>
                      <p ng-show="affiliateApplicationForm.city.$error.required && affiliateApplicationForm.attempted" class="help-block" >
                        Required field.
                      </p>
                      <p ng-show="affiliateApplicationForm.postalCode.$error.maxlength" class="help-block">
                        Input value is too long.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="form-control" type="text" ng-model="affiliateform.affiliateDetails.address.post" name="postalCode" 
                      	ng-required="affiliateform.type=='INDIVIDUAL'" ng-maxlenth="25" 
                      	placeholder="Post Code" auto-submit>
                      <p ng-show="affiliateApplicationForm.postalCode.$error.required && affiliateApplicationForm.attempted" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="affiliateApplicationForm.postalCode.$error.maxlength" class="help-block">
                        Input value is too long.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                    	<label>Country:</label> <span>{{affiliateform.affiliateDetails.address.country.commonName}}</span>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default" ng-show="affiliateform.type && affiliateform.type!='INDIVIDUAL'">
          <div class="panel-heading">
            <h4 class="panel-title">
              Organization
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-error has-feedback">
                    <label>Organization Name:</label> 
                    <input class="form-control help-block" name="organizationName" placeholder="Organization Name" ng-maxlength="255" 
                    	ng-required="affiliateform.type!='INDIVIDUAL'" ng-model="affiliateform.affiliateDetails.organizationName" auto-submit>
                    <p class="help-block" ng-show="affiliateApplicationForm.organizationName.$error.required && affiliateApplicationForm.attempted">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.organizationName.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-error has-feedback">
                    <label>Organization Type:</label> 
                     <select class="form-control" name="organizationType" ng-required="affiliateform.type!='INDIVIDUAL'" ng-model="affiliateform.affiliateDetails.organizationType" auto-submit>
                    	<option ng-repeat="organizationType in organizationTypes" value="{{organizationType}}">{{organizationType | enum:'affiliate.organizationType.'}}</option>
                    </select>
                    <p class="help-block" ng-show="affiliateApplicationForm.organizationType.$error.required && affiliateApplicationForm.attempted">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="affiliateform.affiliateDetails.organizationType=='OTHER'">
                <div class="col-md-6">
                  <div class="form-group has-error has-feedback">
                    <input class="form-control help-block" name="organizationTypeOther" placeholder="Other Organization Type" ng-maxlength="255" 
                    	ng-required="affiliateApplicationForm.organizationType.type=='Other'" ng-model="affiliateform.affiliateDetails.organizationTypeOther" auto-submit>
                    <p class="help-block" ng-show="affiliateApplicationForm.organizationTypeOther.$error.required && affiliateApplicationForm.attempted">
                      An Organization type is required.
                    </p>
                    <p ng-show="affiliateApplicationForm.organizationTypeOther.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address:</label> 
                    <input class="form-control" name="address" placeholder="123 Somewhere Avenue" ng-change="copyAddress()" 
                    	required="" ng-model="affiliateform.affiliateDetails.address.street" auto-submit ng-maxlength="255">
                    <p ng-show="affiliateApplicationForm.address.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.address.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
	                <div class="col-md-3">
	                  <label>City:</label>
	                </div>
	                <div class="col-md-3">
	                  <label>Post Code:</label>
	                </div>
	              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" name="city" placeholder="City" required="" ng-maxlength="255" 
                    	ng-model="affiliateform.affiliateDetails.address.city" ng-change="copyAddress()" auto-submit>
                    <p ng-show="affiliateApplicationForm.city.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.city.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateform.affiliateDetails.address.post" 
                    	ng-change="copyAddress()" name="postCode" ng-required="affiliateform.type=='COMMERCIAL'"
                    	ng-maxlength="25" 
                    	placeholder="Post Code" auto-submit>
                    <p ng-show="affiliateApplicationForm.postCode.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.postCode.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                  	<label>Country:</label> <span>{{affiliateform.affiliateDetails.address.country.commonName}}</span>
                  </div>
                </div>
              </div>
                <hr>
					<div ng-show="affiliateform.type=='COMMERCIAL'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Use Organization Address as Billing Address</label> <input name="use" type="checkbox" ng-change="copyAddress()" ng-model="isSameAddress">
                  </div>
                </div>
              </div>
         
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Billing Address:</label> 
                    <input class="form-control" name="billingAddress" placeholder="Address" ng-maxlength="255" 
                    	ng-disabled="isSameAddress" ng-required="affiliateform.type=='COMMERCIAL'" ng-model="affiliateform.affiliateDetails.billingAddress.street" auto-submit>
                    <p ng-show="affiliateApplicationForm.billingAddress.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.billingAddress.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>City:</label>
                </div>
                <div class="col-md-3">
                  <label>Post Code:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" name="billingCity" placeholder="City" ng-maxlength="255" 
                    	ng-disabled="isSameAddress" ng-required="affiliateform.type=='COMMERCIAL'" ng-model="affiliateform.affiliateDetails.billingAddress.city" auto-submit>
                    <p ng-show="affiliateApplicationForm.billingCity.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.billingCity.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateform.affiliateDetails.billingAddress.post" name="billingPostCode" 
                    	ng-disabled="isSameAddress" ng-required="affiliateform.type=='COMMERCIAL'" ng-maxlength="25" 
                    	placeholder="Post Code" auto-submit>
                    <p ng-show="affiliateApplicationForm.billingPostCode.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                    <p ng-show="affiliateApplicationForm.billingPostCode.$error.maxlength" class="help-block">
                      Input value is too long.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                  	<label>Billing Country:</label>
                    <input class="form-control" type="text" ng-model="affiliateform.affiliateDetails.billingAddress.country" name="billingCountry" 
                    ng-disabled="isSameAddress" ng-required="affiliateform.type=='COMMERCIAL'" placeholder="Country"
                    typeahead="country as country.commonName for country in availableCountries | filter:$viewValue | limitTo:8" auto-submit>
                    <p ng-show="affiliateApplicationForm.billingCountry.$error.required && affiliateApplicationForm.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
					</div> <!-- End Billing Fields -->
					<hr>              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Alternate Email:</label> 
                    <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" ng-required="affiliateform.type!='INDIVIDUAL'" name="alternateEmail" ng-model="affiliateform.affiliateDetails.alternateEmail" auto-submit unique="{{[affiliateform.affiliateDetails.email, affiliateform.affiliateDetails.thirdEmail]}}">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="affiliateApplicationForm.alternateEmail.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!affiliateApplicationForm.alternateEmail.$error.required && affiliateApplicationForm.alternateEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                    <p class="help-block"
                    	ng-show="!affiliateApplicationForm.alternateEmail.$error.required
                    		&& !affiliateApplicationForm.alternateEmail.$error.email
                    		&& affiliateApplicationForm.alternateEmail.$error.notUnique">
                      Email Addresses need to be unique.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Third Email:</label> <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" name="thirdEmail" ng-model="affiliateform.affiliateDetails.thirdEmail" auto-submit unique="{{[affiliateform.affiliateDetails.email, affiliateform.affiliateDetails.alternateEmail]}}">
                    <div ng-show="affiliateApplicationForm.attempted">
                      <p ng-show="!affiliateApplicationForm.thirdEmail.$error.required && affiliateApplicationForm.thirdEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                    <p class="help-block" 
                    	ng-show="!affiliateApplicationForm.thirdEmail.$error.required 
                    		&& !affiliateApplicationForm.thirdEmail.$error.email 
		                    && affiliateApplicationForm.thirdEmail.$error.notUnique">
	                      Email Addresses need to be unique.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="affiliateform.type=='OTHER'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Other</label> 
                    <textarea class="form-control" rows="4" name="otherText" ng-model="affiliateform.other.textArea" auto-submit></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-controller="AffiliateRegistrationUsageLogController" ng-include="'views/user/affiliateRegistrationUsageLog.html'">
      </div>
      
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            SNOMED CT Agreement
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <a ng-click="viewLicence(affiliateform.affiliateDetails.address.country.member.key)" target="_blank" class="btn btn-default btn-block">SNOMED Licence</a>
          </p>
          <p class="form-group">
            <label><input required="" type="checkbox" name="snoMedTC" required="" ng-model="affiliateform.snoMedTC"> I agree to the licence 
            <span ng-show="affiliateApplicationForm.snoMedTC.$error.required && affiliateApplicationForm.attempted" class="help-block">You must agree to the terms and conditions of the SNOMED CT Licence in order to register, which also indicates potential fees that be required.</span></label>
          </p>
          <div class="panel-footer">
            <button type="button" class="btn btn-muted btn-success" ng-click="openReviewModal(affiliateform)">Register</button>
            <div ng-show="affiliateApplicationForm.attempted" class="has-error">
							<p ng-show="affiliateApplicationForm.$invalid" class="help-block">Please fix the errors listed above.</p>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form><!-- /container -->
