<div class="masthead">
  <div class="container">
    <img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo">
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-sx-12 col-md-12 col-md-12">
      <div class="page-header">
        <h1>Affiliate Registration</h1>
        <p class="lead">Please complete the application.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form ng-submit="affiliateform.submit()" bs-validation>
    <div class="container">
      <div class="col-sx-12 col-lg-12">
        <div class="panel-group" id="accordion">
        <div class="panel panel-default applicant">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a ng-click="collapsePanel.type = !collapsePanel.type"> <span> <i class="fa fa-cog"></i> License Type <span ng-show="affiliateform.type"> - {{affiliateform.type}}</span>
              </span> <span class="pull-right" ng-show="collapsePanel.type">Edit</span>
              </a>
            </h4>
          </div>
          <div id="collapseIndividual" ng-show="!collapsePanel.type" class="panel-collapse collapse in">
            <div class="panel-body">
              <h4>How will you be using the standard? FIXME COPY</h4>
              <div class="col-lg-6">
                <div class="thumbnail">
                  <div class="caption">
                    <h3>Software application</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. FIXME copy</p>
                    <div class="center-block">
                      <p class="block-centre">
                        <label class="btn btn-lg btn-default"><i class="fa fa-cube"></i> Vendor or Developer <input class="hide" type="radio" name="typeVendor"
                          ng-click="collapsePanel.type = !collapsePanel.type" ng-model="affiliateform.type" value="Software Vendor"
                        > </label>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="thumbnail">
                  <div class="caption">
                    <h3>Research or Public Good</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. FIXME copy</p>
                    <div class="center-block">
                      <p class="block-centre">
                        <label class="btn btn-lg btn-default"><i class="fa fa-user-md"></i> Research Organisation <input class="hide" type="radio" id="typeResearch"
                          ng-click="collapsePanel.type = !collapsePanel.type" ng-model="affiliateform.type" value="Research"
                        > </label>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      
          <div class="panel panel-default applicant">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-disabled="collapsePanel.applicantType" ng-click="collapsePanel.applicantType = !collapsePanel.applicantType"> <span> <i class="fa fa-file"></i> Applicant <span
                    ng-show="affiliateform.applicantType"
                  > - {{affiliateform.applicantType}} </span>
                </span> <span class="pull-right" ng-show="collapsePanel.applicantType">Edit</span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" ng-show="!collapsePanel.applicantType" class="panel-collapse collapse in">
              <div class="panel-body">
                <h4>Will you be using SNOMED CT as an individual, or do you represent an organization? FIXME COPY</h4>
                <div class="col-lg-6">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Individual</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. FIXME COPY</p>
                      <div class="center-block">
                        <p class="block-centre">
                          <label class="btn btn-lg btn-default"><i class="fa fa-user"></i> Individual <input class="hide" type="radio"
                            ng-click="collapsePanel.applicantType = !collapsePanel.applicantType" ng-model="affiliateform.applicantType" value="Individual"
                          > </label>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Organisation</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. FIXME COPY</p>
                      <p>
                        <label class="btn btn-lg btn-default"><i class="fa fa-building"></i> Organisation <input class="hide" type="radio"
                          ng-click="collapsePanel.applicantType = !collapsePanel.applicantType" ng-model="affiliateform.applicantType" value="Organisation"
                        > </label>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsePanel.contact = !collapsePanel.contact"> <i class="fa fa-user"></i> Contact Information
                </a>
              </h4>
            </div>
            <div id="collapseIndividual" ng-show="!collapsePanel.contact" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <p>
                        <strong>Name</strong>
                      </p>
                      <input class="form-control" placeholder="John Smith" required autofocus ng-model="affiliateform.contact.name">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <p>
                        <strong>Email</strong>
                      </p>
                      <input class="form-control" placeholder="JohnSmith@OrganisationABC.com" required autofocus ng-model="affiliateform.contact.email">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <p>
                        <strong>Phone Number</strong>
                      </p>
                      <input class="form-control" placeholder="tel." required autofocus ng-model="affiliateform.contact.phone">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default" ng-show="affiliateform.applicantType=='Organisation'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsePanel.Organisation = !collapsePanel.Organisation"><i class="fa fa-building"></i> Organisation </a>
              </h4>
            </div>
            <div id="collapseOrganisation" class="panel-collapse collapse in" ng-show="!collapsePanel.Organisation">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <p>Are you authorized by your organization to enter into legal agreements? FIXME - copy FIXME - tooltip</p>
                      <label><input type="checkbox" ng-model="affiliateform.Organisation.isAgent" ng-required="affliateform.applicantType=='Organisation'"> Yes, I am an agent for my
                        organization. </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <p>
                        <strong>Name</strong>
                      </p>
                      <input class="form-control" placeholder="Organisation Name" ng-required="affliateform.applicantType=='Organisation'" autofocus ng-model="affiliateform.Organisation.name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Address </label> <input class="form-control" placeholder="123 Somewhere Avenue" ng-required="affliateform.applicantType=='Organisation'" autofocus
                        ng-model="affiliateform.Organisation.address"
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <input class="form-control" placeholder="City" ng-required="affliateform.applicantType=='Organisation'" autofocus ng-model="affiliateform.Organisation.city">
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <select class="form-control input-md" ng-model="affiliateform.Organisation.country">
                        <option value="">Country</option>
                        <option value="Canada">Canada</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Spain">Spain</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <input class="form-control" placeholder="Phone Number" ng-required="affliateform.applicantType=='Organisation'" autofocus ng-model="affiliateform.Organisation.phonenumber">
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <input class="form-control" placeholder="Extenstion" autofocus ng-model="affiliateform.Organisation.extension">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label> Department/Sub Division </label> <input class="form-control" placeholder="Position" ng-required="affliateform.applicantType=='Organisation'" autofocus
                        ng-model="affiliateform.Organisation.position"
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label> Website </label> <input class="form-control" placeholder="www.Organisation.com" ng-required="affliateform.applicantType=='Organisation'" autofocus
                        ng-model="affiliateform.Organisation.website"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">SNOMED CT Agreement</h3>
            </div>
            <div class="panel-body">
              <p>License abstract -- explain importance of terms. Describe reporting and possible $$$ obligations! FIXME - copy</p>
              <p>
                <a href="http://ihtsdo.org/fileadmin/user_upload/Docs_01/License/Ihtsdo_AffiliateLicenceAgreement_v11.pdf" target="_blank" class="btn btn-default btn-block"><i
                  class="fa fa-file-pdf-o fa-lg"
                ></i> SNOMED License</span></a>
              </p>
              <p>
                <label class="cen"> <input type="checkbox" name="snomed" ng-model="affiliateform.snoMedTC" /> I agree to the license
                </label>
              </p>

              <div class="panel-footer">
                <input type="submit" class="btn btn-muted btn-default" value="Register" />
                <button type="button" class="btn btn-link">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- panel group -->

      </div>
      <!-- column -->

    </div>
  </form>
  <!-- main END -->
</div>
<!-- /container -->