/bin
/target
local.config.properties
local-*
.c9
node
node_modules
Affiliate
AffiliateDetails
.idea
*.iml
.classpath
.vscode
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
src/main/webapp/bower_components/es5-shim/tests/
src/main/webapp/bower_components/jquery/test/
src/main/webapp/bower_components/respond/test/
src/main/webapp/bower_components/jquery/speed/closest.html
src/main/webapp/bower_components/jquery/speed/
src/main/webapp/bower_components/placeholders/test/
.editorconfig
.springBeans
.yo-rc.json
.bowerrc
ca.*
sqldump.sql
