<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="@{${announcementTitle}}">IHTSDO-MLDS Announcement</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p th:text="#{email.greeting(${announcementName})}">
            Dear user,
        </p>
        <p th:utext="@{${announcementMessage}}">
            ANNOUNCE BODY
        </p>
        <p>
            <a th:href="@{${loginUrl}}" th:text="#{email.loginLinkLabel}">Login to IHTSDO-MLDS</a>
        </p>
        <p>
            <span th:text="#{email.close}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">IHTSDO-MLDS</em>
        </p>
    </body>

</html>
