<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{applicationApproved.title}">IHTSDO-MLDS Application Approved</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName + ' ' + user.lastName})}">
            Dear user,
        </p>
        <p th:text="#{applicationApproved.text1}">
            You application to IHTSDO has been approved.  You are now licensed to use
            our resources.  Login below. 
        </p>
        <p>
            <a th:href="@{${loginUrl}}"
               th:text="#{duplicateRegistration.loginLinkLabel}">Login</a>
        </p>
        <p th:text="#{applicationApproved.text2}">
        		You now have access to download SNOWMED CT, to view available packages follow the link below.
        </p>
        <p>
        	<a th:href="@{${viewPackagesUrl}}"
               th:text="#{applicationApproved.viewPackagesLabel}">View Packages</a>
        </p>
        <p>
            <span th:text="#{email.close}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">IHTSDO.</em>
        </p>
    </body>
</html>
