<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{passwordReset.title}">IHTSDO-MLDS activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{passwordReset.text1}">
            We have received a request to reset the password for this account on the IHTSDO-MLDS system.
            If this was you, please follow the link below to reset your password:
        </p>
        <p>
            <a th:href="@{${passwordResetUrl}}"
               th:text="#{passwordReset.resetLinkLabel}">Password Reset Link</a>
        </p>
        <p>
            <span th:text="#{email.close}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">IHTSDO.</em>
        </p>
    </body>
</html>