<div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 translate="views.activate.title">Activation</h1>

			<div class="alert alert-success" ng-show="success">
				<strong translate="views.activate.messages.success.title">User account has been created.</strong>
				<span translate="views.activate.messages.success.body" translate-value-linkbegin='<a href="#/usageReports">' translate-value-linkend="</a>"> 
					The system will take you to continue your registration process in a few moments.
					If you are not redirected automatically please {{linkbegin}}click here.{{linkend}}
				</span>
			</div>
			

			<div class="alert alert-danger" ng-show="error">
				<strong translate="views.activate.messages.error.title">Your user could not be activated.</strong>
				<span translate="views.activate.messages.error.body">Please use the registration form to sign up. If you are still encountering difficulties please contact support.</span>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>
