<table class="table table-condensed table-striped table-bordered table-responsive">
    <thead>
    <tr>
        <th ng-click="predicate = 'timestamp'; reverse=!reverse">{{'audits.table.header.date' | translate}}</th>
        <th ng-click="predicate = 'principal'; reverse=!reverse">{{'audits.table.header.principal' | translate}}</th>
        <th ng-click="predicate = 'type'; reverse=!reverse">{{'audits.table.header.status' | translate}}</th>
        <th ng-click="predicate = 'data.message'; reverse=!reverse">{{'audits.table.header.data' | translate}}</th>
    </tr>
    </thead>

    <tr ng-repeat="audit in audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
        <td><span>{{audit.timestamp| date:'medium'}}</span></td>
        <td><small>{{audit.principal}}</small></td>
        <td>{{audit.type | enum:'audits.type.'}}</td>
        <td>
            <span ng-if="audit.data.message">{{audit.data.message}}</span>
            <span ng-if="audit.data.remoteAddress">{{'audits.table.data.remoteAddress' | translate}} {{audit.data.remoteAddress}}</span>
            <span ng-if="audit.data['releasePackage.name']"><strong>Release Package Name:</strong> {{audit.data['releasePackage.name']}}</span>
            <span ng-if="audit.data['releaseVersion.name']"><strong>Release Version Name:</strong> {{audit.data['releaseVersion.name']}}</span>
            <span ng-if="audit.data['releaseFile.label']"><strong>Release File Label:</strong> {{audit.data['releaseFile.label']}}</span>
            <span ng-if="audit.data['download.statusCode']"><strong>Http:</strong> {{audit.data['download.statusCode']}}</span>
            <span ng-if="audit.data['application.name']"><strong>Application:</strong> {{audit.data['application.name']}}</span>
            <span ng-if="audit.data['application.approvalState']"><strong>Application State:</strong> {{audit.data['application.approvalState'] | enum:'approval.state.'}}</span>
            <span ng-if="audit.data['application.type']"><strong>Type:</strong> {{audit.data['application.type'] | enum:'application.applicationType.'}}</span>
            <span ng-if="audit.data['application.member']"><strong>Member:</strong> {{audit.data['application.member'] | enum:'global.member.'}}</span>
            <span ng-if="audit.data['affiliate.creator']"><strong>Affiliate:</strong> {{audit.data['affiliate.creator']}}</span>
            <span ng-if="audit.data['affiliate.notesInternal']"><strong>Staff Notes:</strong> {{audit.data['affiliate.notesInternal']}}</span>
            <span ng-if="audit.data['import.success'] === 'true'" class="text-success"><span class="glyphicon glyphicon-ok"></span> Successful Import</span>
            <span ng-if="audit.data['import.success'] === 'false'" class="text-danger"><span class="glyphicon glyphicon-remove"></span> Failed Import</span>
            <span ng-if="audit.data['import.source']"><strong>Source Member:</strong> {{audit.data['import.source']}}</span>
            <span ng-if="audit.data['import.affiliates'] && audit.data['import.affiliates'] !== '-1'"><strong>Affiliates:</strong> {{audit.data['import.affiliates']}}</span>
            <span ng-if="audit.data['import.errors'] && audit.data['import.errors'] !== '0'"><strong>Errors:</strong> {{audit.data['import.errors']}}</span>
        </td>
    </tr>
</table>

