<div class="table-responsive">
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th ng-click="predicate = 'timestamp'; reverse=!reverse">{{'audits.table.header.date' | translate}}</th>
        <th ng-click="predicate = 'principal'; reverse=!reverse">{{'audits.table.header.principal' | translate}}</th>
        <th ng-click="predicate = 'type'; reverse=!reverse">{{'audits.table.header.status' | translate}}</th>
        <th ng-click="predicate = 'data.message'; reverse=!reverse">{{'audits.table.header.data' | translate}}</th>
    </tr>
    </thead>
    <tr ng-repeat="audit in audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
        <td><span>{{audit.timestamp| date: 'yyyy-MM-dd HH:mm:ss'}}</span></td>
        <td><small>{{audit.principal}}</small></td>
        <td>{{audit.type | enum:'audits.type.'}}</td>
        <td>
            <span ng-if="audit.data.message">{{audit.data.message}}</span>
            <span ng-if="audit.data.remoteAddress">{{'audits.table.data.remoteAddress' | translate}} {{audit.data.remoteAddress}}</span>
            
            <span ng-if="audit.data['affiliate.creator']"><i class="fa fa-users"></i> <strong>Affiliate:</strong> {{audit.data['affiliate.creator']}}</span>
            <span ng-if="audit.data['affiliate.affiliateId']"><strong>No:</strong> {{audit.data['affiliate.affiliateId']}}</span>
            <span ng-if="audit.data['affiliate.homeMember']"><strong>Member:</strong> {{audit.data['affiliate.homeMember'] | enum:'global.member.'}}</span>
            <span ng-if="audit.data['affiliate.standingState']"><strong>Standing:</strong>
            	<span ng-show="audit.data['affiliate.standingState'] === 'REJECTED'" class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
            	<span ng-show="audit.data['affiliate.standingState'] === 'DEREGISTERED'" class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
            	{{audit.data['affiliate.standingState'] | enum:'affiliate.standingState.'}}
            </span>
            <span ng-if="audit.data['affiliate.notesInternal']"><strong>Staff Notes:</strong> {{audit.data['affiliate.notesInternal']}}</span>
            
            <span ng-if="audit.data['releasePackage.name']"><i class="fa fa-cube"></i> <strong>Release Package Name:</strong> {{audit.data['releasePackage.name']}}</span>
            <span ng-if="audit.data['releaseVersion.name']"><strong>Release Version Name:</strong> {{audit.data['releaseVersion.name']}}</span>
            <span ng-if="audit.data['releaseFile.label']"><strong>Release File Label:</strong> {{audit.data['releaseFile.label']}}</span>
            <span ng-if="audit.data['download.statusCode']"><strong>Http:</strong> {{audit.data['download.statusCode']}}</span>
            
            <span ng-if="audit.data['application.name']"><i class="fa fa-tasks"></i> <strong>Application:</strong> {{audit.data['application.name']}}</span>
            <span ng-if="audit.data['application.applicationId']"><strong>No:</strong> {{audit.data['application.applicationId']}}</span>
            <span ng-if="audit.data['application.type']"><strong>Type:</strong> {{audit.data['application.type'] | enum:'application.applicationType.'}}</span>
            <span ng-if="audit.data['application.member']"><strong>Member:</strong> {{audit.data['application.member'] | enum:'global.member.'}}</span>
            <span ng-if="audit.data['application.approvalState']"><strong>Application State:</strong>
               	<span ng-show="audit.data['application.approvalState'] === 'APPROVED'" class="text-success"><span class="glyphicon glyphicon-ok"></span></span>
            	<span ng-show="audit.data['application.approvalState'] === 'REJECTED'" class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
            	{{audit.data['application.approvalState'] | enum:'approval.state.'}}
            </span>
            
            <span ng-if="audit.data['import.success'] === 'true'" class="text-success"><span class="glyphicon glyphicon-ok"></span> Successful Import</span>
            <span ng-if="audit.data['import.success'] === 'false'" class="text-danger"><span class="glyphicon glyphicon-remove"></span> Failed Import</span>
            <span ng-if="audit.data['import.source']"><strong>Source Member:</strong> {{audit.data['import.source']}}</span>
            <span ng-if="audit.data['import.affiliates'] && audit.data['import.affiliates'] !== '-1'"><strong>Affiliates:</strong> {{audit.data['import.affiliates']}}</span>
            <span ng-if="audit.data['import.errors'] && audit.data['import.errors'] !== '0'"><strong>Errors:</strong> {{audit.data['import.errors']}}</span>
            
            <span ng-if="audit.data['usage.type']"><i class="fa fa-file-text"></i> <strong>Usage:</strong> {{audit.data['usage.type'] | enum:'affiliate.type.'}}</span>
            <span ng-if="audit.data['usage.commercialUsageId']"><strong>No:</strong> {{audit.data['usage.commercialUsageId']}}</span>
            <span ng-if="audit.data['usage.period.start'] || audit.data['usage.period.end']"><strong>Period:</strong> {{audit.data['usage.period.start']}} - {{audit.data['usage.period.end']}}</span>
            <span ng-if="audit.data['usage.approvalState']"><strong>Approval State:</strong>
            	<span ng-show="audit.data['usage.approvalState'] === 'APPROVED'" class="text-success"><span class="glyphicon glyphicon-ok"></span></span> 
            	{{audit.data['usage.approvalState'] | enum:'approval.state.'}}
            </span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.type'] || audit.data['affiliate.affiliateDetails.otherText']">
            	<strong>Affiliate Type:</strong> {{audit.data['affiliate.affiliateDetails.type'] | enum:'affiliate.type.'}} {{audit.data['affiliate.affiliateDetails.otherText']}}
            	<s>{{audit.data['originial.affiliate.affiliateDetails.type'] | enum:'affiliate.type.'}} {{audit.data['originial.affiliate.affiliateDetails.otherText']}}</s>
            	</span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.subType']">
            	<strong>Sub-type:</strong> {{audit.data['affiliate.affiliateDetails.subType'] | enum:'affiliate.subType.'}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.subType'] | enum:'affiliate.subType.'}} </s>
           	</span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.agreementType']">
            	<strong>Agreement Type:</strong>
            		{{audit.data['affiliate.affiliateDetails.agreementType'] | enum:'affiliate.agreementType.'}}
           		<s> {{audit.data['original.affiliate.affiliateDetails.agreementType'] | enum:'affiliate.agreementType.'}} </s>
       		</span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.organizationType'] || audit.data['affiliate.affiliateDetails.organizationTypeOther']">
            	<strong>Agreement Type:</strong>
            		{{audit.data['affiliate.affiliateDetails.organizationType'] | enum:'affiliate.organizationType.'}} audit.data['affiliate.affiliateDetails.organizationTypeOther']
           		<s> {{audit.data['original.affiliate.affiliateDetails.organizationType'] | enum:'affiliate.organizationType.'}} audit.data['original.affiliate.affiliateDetails.organizationTypeOther']</s>
       		</span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.organizationName']">
            	<strong>Organization Name:</strong>
            		{{audit.data['affiliate.affiliateDetails.organizationName']}}
	            <s> {{audit.data['original.affiliate.affiliateDetails.organizationName']}} </s>
           	</span>
           	
            <span ng-if="audit.data['affiliate.affiliateDetails.firstName']">
            	<strong>First Name:</strong>
            		{{audit.data['affiliate.affiliateDetails.firstName']}}
	            <s> {{audit.data['original.affiliate.affiliateDetails.firstName']}} </s>
           	</span>
            <span ng-if="audit.data['affiliate.affiliateDetails.lastName']">
            	<strong>Last Name:</strong>
            		{{audit.data['affiliate.affiliateDetails.lastName']}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.lastName']}} </s>
           	</span>
            
            <span ng-if="audit.data['affiliate.affiliateDetails.email']">
            	<strong>Email:</strong>
            		{{audit.data['affiliate.affiliateDetails.email']}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.email']}} </s>
           	</span>
            <span ng-if="audit.data['affiliate.affiliateDetails.alternateEmail']">
            	<strong>Alternative Email:</strong>
            		{{audit.data['affiliate.affiliateDetails.alternateEmail']}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.alternateEmail']}} </s>
           	</span>
            <span ng-if="audit.data['affiliate.affiliateDetails.thirdEmail']">
            	<strong>Third Email:</strong>
            		{{audit.data['affiliate.affiliateDetails.thirdEmail']}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.thirdEmail']}} </s>
           	</span>

            <span ng-if="audit.data['affiliate.affiliateDetails.landlineNumber'] || audit.data['affiliate.affiliateDetails.landlineExtension']">
            	<strong>Landline:</strong>
            		{{audit.data['affiliate.affiliateDetails.landlineNumber']}} <span ng-show="audit.data['affiliate.affiliateDetails.landlineExtension']">ext: {{audit.data['affiliate.affiliateDetails.landlineExtension']}}</span>
            	<s> {{audit.data['original.affiliate.affiliateDetails.landlineNumber']}} <span ng-show="audit.data['original.affiliate.affiliateDetails.landlineExtension']">ext: {{audit.data['original.affiliate.affiliateDetails.landlineExtension']}}</span>
            	</s>
           	</span>
            <span ng-if="audit.data['affiliate.affiliateDetails.mobileNumber']">
            	<strong>Mobile:</strong>
            		{{audit.data['affiliate.affiliateDetails.mobileNumber']}}
            	<s> {{audit.data['original.affiliate.affiliateDetails.mobileNumber']}} </s>
           	</span>

            <span ng-if="audit.data['affiliate.affiliateDetails.address.street'] || audit.data['affiliate.affiliateDetails.address.city'] || audit.data['affiliate.affiliateDetails.address.post']">
            	<strong>Address:</strong> 
            		{{audit.data['affiliate.affiliateDetails.address.street']}}, {{audit.data['affiliate.affiliateDetails.address.city']}}, {{audit.data['affiliate.affiliateDetails.address.post']}}
            	<s>	{{audit.data['original.affiliate.affiliateDetails.address.street']}}, {{audit.data['original.affiliate.affiliateDetails.address.city']}}, {{audit.data['original.affiliate.affiliateDetails.address.post']}} </s>
           	</span>
            <span ng-if="audit.data['affiliate.affiliateDetails.billingAddress.street'] || audit.data['affiliate.affiliateDetails.billingAddress.city'] || audit.data['affiliate.affiliateDetails.billingAddress.post'] || audit.data['affiliate.affiliateDetails.billingAddress.country']">
            	<strong>Billing:</strong>
            		{{audit.data['affiliate.affiliateDetails.billingAddress.street']}}, {{audit.data['affiliate.affiliateDetails.billingAddress.city']}}, {{audit.data['affiliate.affiliateDetails.billingAddress.post']}}<span ng-show="audit.data['affiliate.affiliateDetails.billingAddress.country']">, {{audit.data['affiliate.affiliateDetails.billingAddress.country'] | enum:'global.country.'}}</span>
           		<s>	{{audit.data['original.affiliate.affiliateDetails.billingAddress.street']}}, {{audit.data['original.affiliate.affiliateDetails.billingAddress.city']}}, {{audit.data['original.affiliate.affiliateDetails.billingAddress.post']}}<span ng-show="audit.data['original.affiliate.affiliateDetails.billingAddress.country']">, {{audit.data['original.affiliate.affiliateDetails.billingAddress.country'] | enum:'global.country.'}}</span></s>
           	</span>
            
        </td>
    </tr>
</table>
</div>
