<form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="save()" bs-validate>

	  <div class="row space">
	  <div class="col-sm-12 col-md-12 col-lg-12">
            
            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>
              <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>
	  </div>
            
	<div class="row">
    <div class="col-sx-12 col-md-12">
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a ng-click="collapsePanel.contact = !collapsePanel.contact">Contact Information</a>
            </h4>
          </div>
          <div id="collapseIndividual" collapse="collapsePanel.contact" class="panel-collapse collapse in">
            <div class="panel-body">
                          <div class="row">
                <div class="col-md-6">
            
                <div class="form-group">
                    <label>First Name</label> <input class="form-control" placeholder="John" required="" name="firstName" ng-model="affiliateDetails.firstName" auto-submit>
                    <p ng-show="form.firstName.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                </div>
                <div class="form-group">
                    <label>Last Name</label> <input class="form-control" placeholder="Last" required="" name="firstName" ng-model="affiliateDetails.lastName" auto-submit>
                    <p ng-show="form.lastName.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                </div>
                </div>
                </div>
                
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email</label> 
                    <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" required="" name="email" ng-model="affiliateDetails.email" auto-submit unique="{{[form.alternateEmail, form.thirdEmail]}}">
                    <div ng-show="form.attempted">
                      <p ng-show="form.email.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!form.email.$error.required && form.email.$error.notUnique" class="help-block">
                        Email Addresses need to be unique.
                      </p>
                      <p ng-show="!form.email.$error.required && form.email.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Landline Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input class="form-control" type="tel" required="" name="contactPhone" ng-model="affiliateDetails.landlineNumber" auto-submit>
                    <div ng-show="form.attempted">
                      <p ng-show="form.landlineNumber.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!form.landlineNumber.$error.required && form.landlineNumber.$invalid" class="help-block">
                        Invalid Phone Number.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input class="form-control col-md-2" placeholder="Extension" ng-model="affiliateDetails.landlineExtension" auto-submit>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Mobile Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="tel" name="mobileNumber" ng-required="type!='INDIVIDUAL'" ng-model="affiliateDetails.mobileNumber" auto-submit>
                    <div ng-show="form.attempted">
                      <p ng-show="form.mobileNumber.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!form.mobileNumber.$error.required && form.mobileNumber.$invalid" class="help-block">
                        Invalid Phone Number.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="type=='INDIVIDUAL'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address</label> <input class="form-control" name="addressStreet" placeholder="123 Somewhere Avenue" ng-required="type=='INDIVIDUAL'" ng-model="affiliateDetails.address.street" auto-submit>
                      <p ng-show="form.addressStreet.$error.required && form.attempted" class="help-block">
                        Required field.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="form-control" name="addressCity" placeholder="City" ng-required="type=='INDIVIDUAL'" ng-model="affiliateDetails.address.city" auto-submit>
                      <p ng-show="form.addressCity.$error.required && form.attempted" class="help-block">
                        Required field.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="form-control" type="text" ng-model="affiliateDetails.address.post" name="addressPost" ng-required="type=='INDIVIDUAL'" placeholder="Post Code" auto-submit>
                      <p ng-show="form.addresPost.$error.required && form.attempted" class="help-block">
                        Required field.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="text" ng-model="affiliateDetails.address.country" name="countryIndividual" ng-required="type=='INDIVIDUAL'" placeholder="Country" typeahead="country.commonName for country in availableCountries | filter:$viewValue | limitTo:8" auto-submit>
                      <p ng-show="form.countryIndividual.$error.required && form.attempted" class="help-block">
                        Required field.
                      </p>
						<p ng-show="form.countryIndividual.$error.excluded" class="help-block">
							This IHTSDO member country manages an independent registry for SNOMED users.  Please go to your <a href="{{selectedCountry.alternateRegistrationUrl}}">national service</a> to register. FIXME COPY
						</p>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



		<div class="panel panel-default" ng-show="type && type!='INDIVIDUAL'">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a ng-click="collapsePanel.Organization = !collapsePanel.Organization">Organization</a>
            </h4>
          </div>
          <div id="collapsePanel.Organization" class="panel-collapse collapse in" ng-show="!collapsePanel.Organization">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-error has-feedback">
                    <label>Organization Name</label> <input class="form-control help-block" name="organizationName" placeholder="Organization Name" ng-required="type!='INDIVIDUAL'" ng-model="affiliateDetails.organizationName" auto-submit>
                    <p class="help-block" ng-show="form.organizationName.$error.required && form.attempted">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <!-- Exclude organization type  -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address</label> <input class="form-control" name="addressStreet" placeholder="123 Somewhere Avenue" ng-change="copyAddress()" required="" ng-model="affiliateDetails.address.street" auto-submit>
                    <p ng-show="form.addressStreet.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" name="addressCity" placeholder="City" required="" ng-model="affiliateDetails.address.city" ng-change="copyAddress()" auto-submit>
                    <p ng-show="form.addressCity.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateDetails.address.post" ng-change="copyAddress()" name="addressPost" ng-required="type=='COMMERCIAL'" placeholder="Post Code" auto-submit>
                    <p ng-show="form.addressPost.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateDetails.address.country" ng-change="copyAddress()" name="addressCountry" required="" placeholder="Country" typeahead="country.commonName for country in availableCountries | filter:$viewValue | limitTo:8" auto-submit>
                    <p ng-show="form.addressCountry.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
						<p ng-show="form.addressCountry.$error.excluded" class="help-block">
							This IHTSDO member country manages an independent registry for SNOMED users.  Please go to your <a href="{{selectedCountry.alternateRegistrationUrl}}">national service</a> to register. FIXME COPY
						</p>
                  </div>
                </div>
              </div>
                <hr>
					<div ng-show="type=='COMMERCIAL'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Use Organization Address as Billing Address</label> <input name="use" type="checkbox" ng-change="copyAddress()" ng-model="isSameAddress">
                  </div>
                </div>
              </div>
         
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Billing Address</label> <input class="form-control" name="billingAddressStreet" placeholder="Address" ng-disabled="isSameAddress" ng-required="type=='COMMERCIAL'" ng-model="affiliateDetails.billingAddress.street" auto-submit>
                    <p ng-show="form.billingAddressStreet.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" name="billingAddressCity" placeholder="City" ng-disabled="isSameAddress" ng-required="type=='COMMERCIAL'" ng-model="affiliateDetails.billingAddress.city" auto-submit>
                    <p ng-show="form.billingAddressCity.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateDetails.billingAddress.post" name="billingAddressPost" ng-disabled="isSameAddress" ng-required="type=='COMMERCIAL'" placeholder="Post Code" auto-submit>
                    <p ng-show="form.billingAddressPost.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" ng-model="affiliateDetails.billingAddress.country" name="billingAddressCountry" ng-disabled="isSameAddress" ng-required="type=='COMMERCIAL'" placeholder="Country" typeahead="country.commonName for country in availableCountries | filter:$viewValue | limitTo:8" auto-submit>
                    <p ng-show="form.billingAddressCountry.$error.required && form.attempted" class="help-block">
                      Required field.
                    </p>
                  </div>
                </div>
              </div>
					</div> <!-- End Billing Fields -->              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Alternate Email</label> 
                    <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" ng-required="type!='INDIVIDUAL'" name="alternateEmail" ng-model="affiliateDetails.alternateEmail" auto-submit unique="{{[form.email, form.thirdEmail]}}">
                    <div ng-show="form.attempted">
                      <p ng-show="form.alternateEmail.$error.required" class="help-block">
                        Required field.
                      </p>
                      <p ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.notUnique" class="help-block">
                        Email Addresses need to be unique.
                      </p>
                      <p ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="type=='COMMERCIAL'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Third Email</label> <input class="form-control" type="email" placeholder="JohnSmith@OrganizationABC.com" ng-required="type=='COMMERCIAL'" name="thirdEmail" ng-model="affiliateDetails.thirdEmail" auto-submit unique="{{[form.email, form.alternateEmail]}}">
                    <div ng-show="form.attempted">
                      <p ng-show="form.thirdEmail.$error.required" class="help-block">
                        Required field.
                      </p>
                       <p ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.notUnique" class="help-block">
                        Email Addresses need to be unique.
                      </p>
                      <p ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.email" class="help-block">
                        Invalid Email Address.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Ignore Other -->
            </div>
          </div>
        </div>
      </div>
      </div>

        
               <div class="form-group">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                	Save
                	<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
                </button>
               </div>

</form>
