<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h1 translate="views.contactInfo.title">
				Account Information
			</h1>
		</div>
	</div>
</div>

<form id="form" name="form" role="form" novalidate  bs-validation>
	<div class="row" ng-hide="approved">
		<div class="col-sm-12 col-md-12 col-lg-12"> 
			<div class="alert alert-warning">
				<p>
					<strong translate="views.contactInfo.messages.notApproved.title">Registration not approved yet</strong>
				</p>
				<p translate="views.contactInfo.messages.notApproved.body">You can only modify the contact information for an affiliate
					once the registration request has been approved.</p>
			</div>
		</div>
	</div>

	<div class="row space">
		<div class="col-sm-12">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
		
			<div class="panel panel-default" ng-show="$root.Session.isStaffOrAdmin()">
				<div class="panel-heading">
					<h4 class="panel-title" translate="views.contactInfo.admin.title">
						Admin Editable
					</h4>
				</div>
				<div class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.admin.usageType.name.label">Type:</label>
									<select class="form-control input-md" name="type" required="" 
										ng-model="affiliateDetails.type"
										ng-change="affiliateDetails.subType = null; affiliateDetails.otherText = null"
										>
										<option value="COMMERCIAL">{{'COMMERCIAL' | enum:'affiliate.type.'}}</option>
										<option value="ACADEMIC">{{'ACADEMIC' | enum:'affiliate.type.'}}</option>
										<option value="OTHER">{{'OTHER' | enum:'affiliate.type.'}}</option>
										<option value="INDIVIDUAL">{{'INDIVIDUAL' | enum:'affiliate.type.'}}</option>
									</select>
									<p class="help-block"
										ng-show="form.type.$error.required && form.attempted"
										translate="views.contactInfo.admin.usageType.required"
										>Usage type field is required.</p>
								</div>

								<div class="form-group" 
									ng-show="affiliateDetails.type=='OTHER'">
									<label translate="views.contactInfo.admin.other.name.label">Other:</label>
									<input type="text" class="form-control" placeholder="{{'views.contactInfo.admin.other.placeholder' | translate}}" name="otherText"
										ng-required="affiliateDetails.type=='OTHER'"
										ng-model="affiliateDetails.otherText">
									<p
										ng-show="form.otherText.$error.required && form.attempted"
										class="help-block"
										translate="views.contactInfo.admin.other.required"
										>Other field is required.</p>
								</div>

								<div class="form-group" 
									ng-show="affiliateDetails.type && affiliateDetails.type != 'OTHER'">
									<label translate="views.contactInfo.admin.subtype.name.label">Subtype:</label>
										<select class="form-control input-md" name="usageSubType" ng-model="affiliateDetails.subType" ng-required="affiliate.type!='OTHER'">
											<!-- TODO MB can we share the options with affiliateRegistration.html? -->
											<option value="DEVELOPER" ng-show="affiliateDetails.type=='COMMERCIAL'" translate="affiliate.subType.DEVELOPER">Developer</option>
											<option value="DEVELOPMENT" ng-show="affiliateDetails.type=='ACADEMIC'" translate="affiliate.subType.DEVELOPMENT">Development</option>
											<option value="EDUCATIONAL" ng-show="affiliateDetails.type!='COMMERCIAL'" translate="affiliate.subType.EDUCATIONAL">Educational</option>
											<option value="HEALTHCAREPROVIDER" ng-show="affiliateDetails.type=='ACADEMIC'" translate="affiliate.subType.HEALTHCAREPROVIDER">Healthcare Provider</option>
											<option value="PERSONAL" ng-show="affiliateDetails.type=='INDIVIDUAL'" translate="affiliate.subType.PERSONAL">Personal</option>
											<option value="RESEARCH" ng-show="affiliateDetails.type!='COMMERCIAL'" translate="affiliate.subType.RESEARCH">Research</option>
											<option value="VENDOR" ng-show="affiliateDetails.type=='COMMERCIAL'" translate="affiliate.subType.VENDOR">Vendor</option>
					                  </select>

									<p class="help-block"
										ng-show="form.usageSubType.$error.required && form.attempted"
										translate="views.contactInfo.admin.subtype.required">
										Subtype field is required.
									</p>
								</div>
								
								<div class="form-group">
									<label translate="views.contactInfo.admin.agreementType.name.label">Type of Agreement:</label>
									<select class="form-control input-md"
					              		name="agreementType"
										required
										ng-disabled="readOnly"
										ng-model="affiliateDetails.agreementType"
										ng-options="type | enum:'affiliate.agreementType.' for type in agreementTypeOptions"
										auto-submit>
									</select>
									<div ng-show="form.attempted">
										<p class="help-block"
											ng-show="form.agreementType.$error.required"
											 translate="form.requiredField">Required field.</p>
								</div>
								
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title" translate="views.contactInfo.contact.title">
						Contact Information
					</h4>
				</div>
				<div class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<label translate="views.contactInfo.contact.firstName.name.label">First Name:</label>
									<input class="form-control"
										placeholder="{{'views.contactInfo.contact.firstName.placeholder'|translate}}" required="" name="firstName"
										ng-model="affiliateDetails.firstName" ng-disabled="readOnly">
									<p ng-show="form.firstName.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
								</div>
								<div class="form-group">
									<label translate="views.contactInfo.contact.lastName.name.label">Last Name:</label> <input class="form-control"
										placeholder="{{'views.contactInfo.contact.lastName.placeholder'|translate}}" required="" name="lastName"
										ng-model="affiliateDetails.lastName" ng-disabled="readOnly">
									<p ng-show="form.lastName.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-show="!$root.Session.isStaffOrAdmin()">
									<label translate="views.contactInfo.contact.email.name.label">Email:</label>
									<span>{{affiliateDetails.email}}</span> 
								</div>
								<div class="form-group" ng-show="$root.Session.isStaffOrAdmin()">
									<label translate="views.contactInfo.contact.email.name.label">Email:</label>
										<input class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
										name="email" ng-required="true" 
										ng-model="affiliateDetails.email" ng-disabled="readOnly"
										unique="{{[affiliateDetails.alternateEmail, affiliateDetails.thirdEmail]}}">
									<div ng-show="form.attempted">
										<p ng-show="form.email.$error.required"
											class="help-block" translate="form.requiredField">Required field.</p>
										<p
											ng-show="!form.email.$error.required && form.email.$error.notUnique"
											class="help-block" translate="views.contactInfo.contact.email.uniqueness">
											Email Addresses need to be unique.</p>
										<p
											ng-show="!form.email.$error.required && form.email.$error.email"
											class="help-block" translate="views.contactInfo.contact.email.invalid">
											Invalid Email Address.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row" ng-show="type=='INDIVIDUAL'">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.alternativeEmail.name.label">Alternate Email:</label> <input class="form-control"
										type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
										ng-required="type!='INDIVIDUAL'" name="alternateEmail"
										ng-model="affiliateDetails.alternateEmail" ng-disabled="readOnly"
										unique="{{[affiliateDetails.email, affiliateDetails.thirdEmail]}}">
									<div ng-show="form.attempted">
										<p ng-show="form.alternateEmail.$error.required"
											class="help-block" translate="form.requiredField">Required field.</p>
										<p
											ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.notUnique"
											class="help-block"  translate="views.contactInfo.contact.email.uniqueness">
											Email Addresses need to be unique.</p>
										<p
											ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.email"
											class="help-block" translate="views.contactInfo.contact.email.invalid">
											Invalid Email Address.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="type=='INDIVIDUAL'">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.thirdEmail.name.label">Third Email:</label> <input class="form-control"
										type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
										name="thirdEmail"
										ng-model="affiliateDetails.thirdEmail" ng-disabled="readOnly"
										unique="{{[affiliateDetails.email, affiliateDetails.alternateEmail]}}">
									<div ng-show="form.attempted">
										<p
											ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.notUnique"
											class="help-block" translate="views.contactInfo.contact.email.uniqueness">
											Email Addresses need to be unique.</p>
										<p
											ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.email"
											class="help-block" translate="views.contactInfo.contact.email.invalid">
											Invalid Email Address.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<label translate="views.contactInfo.contact.landline.name.label">Landline Phone Number:</label>
							</div>
							<div class="col-md-2">
								<label translate="views.contactInfo.contact.landlineExtension.name.label">Extension:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="tel" required=""
										name="contactPhone" ng-model="affiliateDetails.landlineNumber" ng-disabled="readOnly">
									<div ng-show="form.attempted">
										<p ng-show="form.landlineNumber.$error.required"
											class="help-block" translate="form.requiredField">
											Required field.</p>
										<p
											ng-show="!form.landlineNumber.$error.required && form.landlineNumber.$invalid"
											class="help-block" translate="views.contactInfo.contact.landline.invalid">
											Invalid Phone Number.</p>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<input class="form-control col-md-2" placeholder="Extension"
										ng-model="affiliateDetails.landlineExtension"
										ng-disabled="readOnly">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label translate="views.contactInfo.contact.mobile.name.label">Mobile Phone Number:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="tel" name="mobileNumber"
										ng-required="type!='INDIVIDUAL'"
										ng-model="affiliateDetails.mobileNumber" ng-disabled="readOnly">
									<div ng-show="form.attempted">
										<p ng-show="form.mobileNumber.$error.required"
											class="help-block" translate="form.requiredField">
											Required field.</p>
										<p
											ng-show="!form.mobileNumber.$error.required && form.mobileNumber.$invalid"
											class="help-block" translate="views.contactInfo.contact.landline.invalid">
											Invalid Phone Number.</p>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="type=='INDIVIDUAL'">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label translate="views.contactInfo.contact.address.name.label">Address</label> 
										<input class="form-control"
											name="addressStreetIndividual"
											placeholder="{{'views.contactInfo.contact.address.placeholder'|translate}}"
											ng-required="type=='INDIVIDUAL'"
											ng-model="affiliateDetails.address.street"
											ng-disabled="readOnly">
										<p
											ng-show="form.addressStreetIndividual.$error.required && form.attempted"
											class="help-block" translate="form.requiredField">Required field.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<label translate="views.contactInfo.contact.city.name.label">City:</label>
								</div>
								<div class="col-md-3">
									<label translate="views.contactInfo.contact.postcode.name.label">Post Code:</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<input class="form-control" name="addressCityIndividual"
											placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" ng-required="type=='INDIVIDUAL'"
											ng-model="affiliateDetails.address.city"
											ng-disabled="readOnly">
										<p
											ng-show="form.addressCityIndividual.$error.required && form.attempted"
											class="help-block" translate="form.requiredField">Required field.</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<input class="form-control" type="text"
											ng-model="affiliateDetails.address.post"
											name="addressPostIndividual" ng-required="type=='INDIVIDUAL'" ng-max-length="25"
											placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}" ng-disabled="readOnly">
										<p
											ng-show="form.addresPostIndividual.$error.required && form.attempted"
											class="help-block" translate="form.requiredField">
											Required field.</p>
										<p
											ng-show="form.addresPostIndividual.$error.maxlength"
											class="help-block" translate="views.contactInfo.contact.postcode.tooLong">
											Post Code is too long.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label translate="views.contactInfo.contact.country.name.label">Country:</label> 
										<span>{{affiliateDetails.address.country.commonName}}</span>
									</div>
								</div>
							</div>
							
							<hr>
						<!-- Start Billing Fields -->
						<div class="row" ng-show="!$root.Session.isStaffOrAdmin()">
              <div class="col-md-6">
                <div class="form-group">
                  <label translate="views.contactInfo.contact.billingAddress.sameAsAddress">Use Address as Billing Address</label>
                  <input name="use" type="checkbox" ng-change="copyAddress()" ng-model="isSameAddress">
                </div>
              </div>
            </div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.billingAddress.name.label">Billing Address:</label> 
									<input class="form-control"
										name="billingAddressStreet" placeholder="{{'views.contactInfo.contact.billingAddress.placeholder'|translate}}" ng-required="type=='INDIVIDUAL'"
										ng-model="affiliateDetails.billingAddress.street"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressStreet.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.city.name.label">City:</label>
							</div>
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.postcode.name.label">Post Code:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" name="billingAddressCity"
										placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" ng-required="type=='INDIVIDUAL'"
										ng-model="affiliateDetails.billingAddress.city"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressCity.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" type="text"
										ng-model="affiliateDetails.billingAddress.post"
										name="billingAddressPost" ng-required="type=='INDIVIDUAL'" ng-maxlength="25"
										placeholder="{{'views.contactInfo.contact.postCode.placeholder'|translate}}" ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressPost.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
									<p
										ng-show="form.billingAddressPost.$error.maxlength"
										class="help-block" translate="views.contactInfo.contact.postcode.tooLong">
										Post Code is too long.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  translate="views.contactInfo.contact.country.name.label">Country:</label>
									<input class="form-control" type="text"
										ng-model="affiliateDetails.billingAddress.country"
										name="billingAddressCountry" ng-required="type=='INDIVIDUAL'"
										placeholder="{{'views.contactInfo.contact.postCode.placeholder'|translate}}"
										typeahead="country as country.commonName for country in availableCountries | filter:$viewValue | limitTo:8"
										typeahead-editable="false"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressCountry.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
									<p 
										ng-show="form.billingAddressCountry.$error.editable" 
										class="help-block" translate="views.contactInfo.contact.country.unrecognized">
										Unrecognized country.</p>
								</div>
							</div>
						</div>
						<!-- End Billing Fields -->
							
						</div>
					</div>
				</div>
			</div>



			<div class="panel panel-default" ng-show="type && type!='INDIVIDUAL'">
				<div class="panel-heading">
					<h4 class="panel-title" translate="views.contactInfo.organization.title">
						Organization
					</h4>
				</div>
				
				<div class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-show="!$root.Session.isStaffOrAdmin()">
									<label translate="views.contactInfo.organization.name.name.label">Organization Name:</label> 
									<span>{{affiliateDetails.organizationName}}</span>
								</div>
								<div class="form-group" ng-show="$root.Session.isStaffOrAdmin()">
									<label translate="views.contactInfo.organization.name.name.label">Organization Name:</label>  
									<input class="form-control"
											name="organizationName"
											placeholder="{{'views.contactInfo.organization.name.placeholder'|translate}}"
											ng-required="type!='INDIVIDUAL'"
											ng-model="affiliateDetails.organizationName"
											ng-disabled="readOnly">
										<p
											ng-show="form.organizationName.$error.required && form.attempted"
											class="help-block" translate="form.requiredField">
											Required field.</p>
								</div>
							</div>
						</div>
						<!-- Exclude organization type  -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.address.name.label">Address:</label> 
									<input class="form-control"
										name="addressStreet" placeholder="{{'views.contactInfo.contact.address.placeholder'|translate}}"
										ng-required="type!='INDIVIDUAL'" ng-model="affiliateDetails.address.street"
										ng-disabled="readOnly" ng-change="copyAddress()">
									<p
										ng-show="form.addressStreet.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.city.name.label">City:</label>
							</div>
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.postcode.name.label">Post Code:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" name="addressCity"
										placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" ng-required="type!='INDIVIDUAL'"
										ng-model="affiliateDetails.address.city"
										ng-disabled="readOnly" ng-change="copyAddress()">
									<p 
										ng-show="form.addressCity.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">Required field.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" type="text"
										ng-model="affiliateDetails.address.post" name="addressPost"
										ng-required="type!='INDIVIDUAL'" placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}"
										ng-maxlength="25" ng-disabled="readOnly" ng-change="copyAddress()">
									<p 
										ng-show="form.addressPost.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
									<p 
										ng-show="form.addressPost.$error.maxlength"
										class="help-block" translate="views.contactInfo.contact.postcode.tooLong">
										Post Code is too long.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.country.name.label">Country:</label> 
									<span>{{affiliateDetails.address.country.commonName}}</span>
								</div>
							</div>
						</div>
						<hr>
						<!-- Start Billing Fields -->
						<div class="row" ng-show="!$root.Session.isStaffOrAdmin()">
              <div class="col-md-6">
                <div class="form-group">
                  <label translate="views.contactInfo.contact.billingAddress.useOrganizationAddress">Use Organization Address as Billing Address</label> 
                  <input name="use" type="checkbox" ng-change="copyAddress()" ng-model="isSameAddress">
                </div>
              </div>
            </div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.billingAddress.name.label">Billing Address:</label> 
									<input class="form-control"
										name="billingAddressStreet" placeholder="{{'views.contactInfo.contact.billingAddress.placeholder'|translate}}" ng-required="type!='INDIVIDUAL'"
										ng-model="affiliateDetails.billingAddress.street"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressStreet.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.city.name.label">City:</label>
							</div>
							<div class="col-md-3">
								<label translate="views.contactInfo.contact.postcode.name.label">Post Code:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" name="billingAddressCity"
										placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" ng-required="type!='INDIVIDUAL'"
										ng-model="affiliateDetails.billingAddress.city"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressCity.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<input class="form-control" type="text"
										ng-model="affiliateDetails.billingAddress.post"
										name="billingAddressPost" ng-required="type!='INDIVIDUAL'" ng-maxlength="25"
										placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}" ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressPost.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
									<p
										ng-show="form.billingAddressPost.$error.maxlength"
										class="help-block" translate="views.contactInfo.contact.postcode.tooLong">
										Post Code is too long.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  translate="views.contactInfo.contact.country.label">Country:</label>
									<input class="form-control" type="text"
										ng-model="affiliateDetails.billingAddress.country"
										name="billingAddressCountry" ng-required="type!='INDIVIDUAL'"
										placeholder="{{'views.contactInfo.contact.country.placeholder'|translate}}"
										typeahead="country as country.commonName for country in availableCountries | filter:$viewValue | limitTo:8"
										typeahead-editable="false"
										ng-disabled="readOnly || isSameAddress">
									<p
										ng-show="form.billingAddressCountry.$error.required && form.attempted"
										class="help-block" translate="form.requiredField">
										Required field.</p>
									<p
										ng-show="form.billingAddressCountry.$error.editable" 
										class="help-block" translate="views.contactInfo.contact.country.unrecognized">
										Unrecognized country</p>
								</div>
							</div>
						</div>
						<!-- End Billing Fields -->
						<hr>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label translate="views.contactInfo.contact.alternativeEmail.name.label">Alternate Email:</label>
									<input class="form-control"
										type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
										ng-required="type!='INDIVIDUAL'" name="{{'views.contactInfo.contact.alternativeEmail.placeholder'|translate}}"
										ng-model="affiliateDetails.alternateEmail" ng-disabled="readOnly"
										unique="{{[affiliateDetails.email, affiliateDetails.thirdEmail]}}">
									<div ng-show="form.attempted">
										<p ng-show="form.alternateEmail.$error.required"
											class="help-block" translate="form.requiredField">
											Required field.</p>
										<p
											ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.notUnique"
											class="help-block" translate="views.contactInfo.contact.email.uniqueness">
											Email Addresses need to be unique.</p>
										<p
											ng-show="!form.alternateEmail.$error.required && form.alternateEmail.$error.email"
											class="help-block" translate="views.contactInfo.contact.email.invalid">
											Invalid Email Address.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  translate="views.contactInfo.contact.thirdEmail.name.label">Third Email:</label> 
									<input class="form-control"
										type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
										name="thirdEmail"
										ng-model="affiliateDetails.thirdEmail" ng-disabled="readOnly"
										unique="{{[affiliateDetails.email, affiliateDetails.alternateEmail]}}">
									<div ng-show="form.attempted">
										<p
											ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.notUnique"
											class="help-block"  translate="views.contactInfo.contact.email.uniqueness">
											Email Addresses need to be unique.</p>
										<p
											ng-show="!form.thirdEmail.$error.required && form.thirdEmail.$error.email"
											class="help-block" translate="views.contactInfo.contact.email.invalid">
											Invalid Email Address.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Ignore Other -->
					</div>
				</div>
			</div>

			<div class="form-group">
				<div>
					<button class="btn btn-success" ng-show="!readOnly && form.$invalid" ng-click="form.attempted = true">
						<span translate="global.word.save">Save</span>
					</button>
					<button class="btn btn-success" ng-hide="readOnly || form.$invalid"  ng-disabled="readOnly || form.$invalid" ng-click="save()">
						<span translate="global.word.save">Save</span>
						<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
					</button>
					<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting" 
						translate="global.word.cancel">
						Cancel
					</button>
				</div>

				<div ng-show="form.attempted" class="has-error">
					<p ng-show="form.$invalid" class="help-block" translate="form.pleaseFix">
						Please fix the errors listed above.
					</p>
				</div>

			</div>

		</div>
	</div>

        

</form>
