<div>

    <h2>Countries</h2>

    <button class="btn btn-primary btn-lg" ng-click="openCreate()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Country
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ISO Code-2</th>
                    <th>ISO Code-3</th>
                    <th>Common Name</th>
                    <th>Exclude registrants?</th>
                    <th>Excluded registrants alternate url</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in countries">
                    <td>{{country.isoCode2}}</td>
                    <td>{{country.isoCode3}}</td>
                    <td>{{country.commonName}}</td>
                    <td>{{country.excludeRegistration}}</td>
                    <td>{{country.alternateRegistrationUrl}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(country.isoCode2)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(country.isoCode2)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
