<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div ng-switch="authenticated" ng-show="errorMessage" class="well">
                <h3 class="text-danger"translate="errors.title">Error Page!</h3>
                <div class="alert alert-danger" ng-switch-when="true"
                     translate="{{errorMessage}}" translate-values="{username: '{{account.login}}'}">
                    
                    You are logged in as user "Admin".
                </div>
            </div>
        </div>
    </div>
</div>
