<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-justified">
                    <li><a href="/#/landing/IHTSDO?lang=en"><small><span translate="global.member.IHTSDO">IHTSDO</span></small></a></li>
<!--                    <li><a href="/#/landing/BE"><small><span translate="global.member.BE">Belgium</span></small></a></li>
-->                    <li><a href="/#/landing/DK?lang=en"><small><span translate="global.member.DK">Denmark</span></small></a></li>
<!--                    <li><a href="/#/landing/EE?lang=ee"><small><span translate="global.member.EE">Estonia</span></small></a></li>
                    <li><a href="/#/landing/HK"><small><span translate="global.member.HK">Hong Kong, China</span></small></a></li>
                    <li><a href="/#/landing/IN"><small><span translate="global.member.IN">India</span></small></a></li>
                    <li><a href="/#/landing/MY"><small><span translate="global.member.MY">Malaysia</span></small></a></li>
                    <li><a href="/#/landing/NL?lang=nl"><small><span translate="global.member.NL">Netherlands</span></small></a></li>
                    <li><a href="/#/landing/NZ"><small><span translate="global.member.NZ">New Zealand</span></small></a></li>
-->                    <li><a href="/#/landing/PT?lang=pt"><small><span translate="global.member.PT">Portugal</span></small></a></li>
<!--                    <li><a href="/#/landing/SE"><small><span translate="global.member.SE">Sweden</span></small></a></li>
-->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-justified">
                    <li>&copy; IHTSDO 2015</li>
                    <li><a href="https://confluence.ihtsdotools.org/display/MLDSDOC/Members+Licensing+and+Distribution+Service+Documentation" target="_blank"> <span translate="global.menu.help">Help</span></a></li>
                    <li>
                        <a href="/tos.html" target="_blank" translate="views.footer.tos">Terms of Service</a>
                    </li>
                    <li>
                        <a href="//www.iubenda.com/privacy-policy/104809" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a>
                        <script type="text/javascript">
                            (function(w, d) {
                            	var loader = function() {
                            		var s = d.createElement("script"),
                            			tag = d.getElementsByTagName("script")[0];
                            		s.src = "//cdn.iubenda.com/iubenda.js";
                            		tag.parentNode.insertBefore(s, tag);
                            	};
                            	if (w.addEventListener) {
                            		w.addEventListener("load", loader, false);
                            	} else if (w.attachEvent) {
                            		w.attachEvent("onload", loader);
                            	} else {
                            		w.onload = loader;
                            	}
                            })(window, document);
                        </script>
                    </li>
                    <li>
                        <a href="http://www.ihtsdo.org/contact-us/" target="_blank" translate="views.footer.contact">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
