<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="nav nav-justified">
                    <li>&copy; IHTSDO 2015</li>
                    <li>
                        <a href="/tos.html" target="_blank">Terms of Service</a>
                    </li>
                    <li>
                        <a href="http://www.iubenda.com/privacy-policy/104809" class="iubenda-nostyle no-brand iubenda-embed" target="privacy_policy_tab" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="http://www.ihtsdo.org/contact-us/" target="_blank">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            (function(w, d) {
                var loader = function() {
                    var s = d.createElement("script"),
                        tag = d.getElementsByTagName("script")[0];
                    s.src = "//cdn.iubenda.com/iubenda.js";
                    tag.parentNode.insertBefore(s, tag);
                };
                if (w.addEventListener) {
                    w.addEventListener("load", loader, false);
                } else if (w.attachEvent) {
                    w.attachEvent("onload", loader);
                } else {
                    w.onload = loader;
                }
            })(window, document);
        </script>
</footer>
