<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-justified">
                    <li><a id="copyright" href="http://www.snomed.org">Copyright © SNOMED International. All rights reserved.</a></li>
                    <li>
                        <a href="https://confluence.ihtsdotools.org/display/MLDSDOC/Member+Licensing+and+Distribution+Service+Documentation" target="_blank"> <span translate="global.menu.help">Help</span></a>
                    </li>
                    <li>
                        <a href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Terms+of+Service" target="_blank" translate="views.footer.tos">Terms of Service</a>
                    </li>
                    <li>
                        <a href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Privacy+Policies" target="_blank" translate="global.menu.privacyPolicy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="http://www.snomed.org/contact-us/" target="_blank" translate="views.footer.contact">Contact us</a>
                    </li>
                    <li>
                        <a href="http://www.snomedinaction.org" target="_blank" translate="views.footer.register">Register your deployment</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
            <!-- to be modified when countries go live -->
            <div class="col-md-3">
                <ul class="nav nav-justified">
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-justified">
                    <li>
                        <a href="/#/landing/IHTSDO?lang=en"><img class="img-responsive" src="images/small_logo.png" style="display:inline-block;line-height:20px;height:20px;"></span>
                        </a>
                    </li>
                    <li><a href="/#/landing/AR?lang=es"><span class="famfamfam-flag-ar"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/AT?lang=de-at"><span class="famfamfam-flag-at"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/BE?lang=en"><span class="famfamfam-flag-be"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/CL?lang=es"><span class="famfamfam-flag-cl"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/CZ"><span class="famfamfam-flag-cz"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/CY?lang=en"><span class="famfamfam-flag-cy"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/DE?lang=de"><span class="famfamfam-flag-de"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/DK?lang=en"><span class="famfamfam-flag-dk"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/EE?lang=en"><span class="famfamfam-flag-ee"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/FI?lang=en"><span class="famfamfam-flag-fi"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/IS?lang=en"><span class="famfamfam-flag-is"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/IE?lang=en"><span class="famfamfam-flag-ie"></span>&nbsp;</a></li>
                    <!--                  <li><a href="/#/landing/HK?lang=en"><span class="famfamfam-flag-hk"></span>&nbsp;</a></li>
-->
                    <li><a href="/#/landing/IL?lang=en"><span class="famfamfam-flag-il"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/IN?lang=en"><span class="famfamfam-flag-in"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/MY?lang=en"><span class="famfamfam-flag-my"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/MT?lang=en"><span class="famfamfam-flag-mt"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/NL?lang=nl"><span class="famfamfam-flag-nl"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/NZ?lang=en"><span class="famfamfam-flag-nz"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/NO?lang=en"><span class="famfamfam-flag-no"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/PT?lang=pt"><span class="famfamfam-flag-pt"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/SI?lang=en"><span class="famfamfam-flag-si"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/KR?lang=en"><span class="famfamfam-flag-kr"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/SE?lang=se"><span class="famfamfam-flag-se"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/CH?lang=de-ch"><span class="famfamfam-flag-ch"></span>&nbsp;</a></li>
                    <li><a href="/#/landing/TH?lang=th"><span class="famfamfam-flag-th"></span>&nbsp;</a></li>
                    <!--                  <li><a href="/#/landing/SG?lang=en"><span class="famfamfam-flag-sg"></span>&nbsp;</a></li>
-->
                    <li><a href="/#/landing/UY?lang=es"><span class="famfamfam-flag-uy"></span>&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <hr>
</footer>

<script>
    document.body.innerHTML = document.body.innerHTML.replace(document.getElementById("copyright").innerHTML, 'Copyright © ' + new Date().getFullYear() + ' SNOMED International. All rights reserved.');
</script>
