<div class="jumbotron row">
	<div class="col-sx-8 col-md-8 col-lg-8">
		<h1>
			<span translate="register.welcome">Welcome the IHTSDO-MLDS</span> - FIXME copy
		</h1>
		<p>
			<span translate="register.subwelcome">The gateway to access SNOMED CT - Orientation</span> - FIXME copy
		</p>
	</div>
	<div class="col-sx-4 col-md-4 col-lg-4 signin">
		<form class="form" bs-validation="" novalidate="" name="createUserForm" ng-controller="RegisterController" ng-submit="register()" id="createUserForm">
			<div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
				<strong>Registration failed!</strong> Please check your input and try again.
			</div>
			<div class="alert alert-danger" ng-show="errorUserExists" translate=
			"register.messages.error.userexists">
				<strong>A user has already registered with that email address.</strong> Did you mean to
				login?
			</div>
			<h4 class="form-signin-heading" translate="register.title">
				Register
			</h4>
			<div class="form-group">
				<input class="form-control" type="text" name="country" autofocus=""
					placeholder="Country"
					ng-model="registerAccount.countryCommonName" 
					required=""
					typeahead="country.commonName for country in availableCountries | filter:$viewValue | limitTo:8"
					typeahead-editable="false"><!--  createUserForm.attempted -->
				<p ng-show="createUserForm.country.$error.required" class="help-block">Required field.</p>
				<p ng-show="createUserForm.country.$error.editable" class="help-block">Unrecognized country</p>
				<p ng-show="excludedCountry" class="help-block">Your country has their own registry for SNOMED.  Please go to {{registerAccount.country.commonName}}</p>
				</p>
			</div>
			<div class="form-group">
				<input ng-model="registerAccount.firstName" name="name" type="text" class=
				"form-control" placeholder="{{'global.form.name.placeholder' | translate}}" required="" />
			</div>
			<div class="form-group">
				<input ng-model="registerAccount.email" name="email" type="email" class="form-control"
				placeholder="{{'global.form.email.placeholder' | translate}}" required="" />
			</div>
			<div class="form-group">
				<input ng-model="registerAccount.password" name="password" type="password" class=
				"form-control" placeholder="{{'login.form.password.placeholder' | translate}}" required="" />
			</div>
			<div class="checkbox">
				<label><input ng-model="user.tos" name="tos" type="checkbox" required="" />
				<small class="muted" translate="register.form.tos">Agree to our <a href="/tos.html" target="_blank">terms of
				service</a>.</small></label>
			</div><!--  ng-disabled="!user.name || !user.email || !user.password" -->
			<button type="submit" class="btn btn-lg btn-primary btn-block" translate="register.form.button">Start
			Registration</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sx-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="http://placehold.it/350x150" alt="Image" />
		<h2>
			What is SNOMED CT? FIXME copy
		</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
			commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
			porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details - FIXME link
			destination</a>
		</p>
	</div>
	<div class="col-sx-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="http://placehold.it/350x150" alt="Image" />
		<h2>
			How do I gain access to SNOMED CT? FIXME copy
		</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
			commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
			porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details - FIXME link
			destination</a>
		</p>
	</div>
	<div class="col-sx-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="http://placehold.it/350x150" alt="Image" />
		<h2>
			What are the license alteratives and terms? FIXME copy
		</h2>
		<p>
			Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
			Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details - FIXME link
			destination</a>
		</p>
	</div>
</div><!-- /container -->
