<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<div class="main-login">
				<h2 translate="views.landingPage.appName">Members Licensing and Distribution Service</h2>
				<p>
					<strong translate="global.word.welcome">Welcome</strong>
				</p>
				<p><i class="fa fa-angle-right"></i> {{landingText}}</p>
				<p><i class="fa fa-angle-right"></i> <span translate="views.landingPage.furtherDetails">For further details, please refer to the <a href="http://www.ihtsdo.org" target="_blank">IHTSDO website</a> or the <a href="https://ihtsdo.freshdesk.com/support/solutions/4000002199" target="_blank">Frequently Asked Questions</a>.</span></p>
				<a class="btn btn-success btn-lg" href="#register" translate="global.menu.account.register">Register</a>
				<p><span translate="global.word.or">or</span> <a href="#login" translate="views.landingPage.loginHere">login here</a>
			</div>
		</div>
	</div>
</div>
