<h1>Request Account Password Reset</h1>
<p>
	We will send you an email containing a link to a password reset form.
</p> 
<div class="container">
	<form class="form" role="form" name="passwordResetForm" novalidate bs-validation>
                <div class="form-group">
                    <label translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="passwordResetData.email" required>
                    <div ng-show="passwordResetForm.attempted">
							 				<p ng-show="passwordResetForm.email.$error.required" class="help-block">Required field.</p>
							 				<p ng-show="!passwordResetForm.email.$error.required && passwordResetForm.email.$error.email" class="help-block">Invalid Email Address.</p>
						 				</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary" ng-click="requestResetEmail()" >Request Password Reset</button>
	</form>
</div>