<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 login">
           <h1>Reset Account Password</h1> 
           <p>Enter the new password below.</p> 
         <div class="alert alert-success" ng-show="success" translate="password.messages.success">
                <strong>Password changed!</strong>
            </div>

            <div class="alert alert-danger" ng-show="error.expired" translate="password.messages.expired">
                <strong>Password change failed!</strong> .
            </div>
            <div class="alert alert-danger" ng-show="error.server" translate="global.messages.error.server">
                <strong>An error occurred!</strong> .
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                <strong>The password and its confirmation do not match!</strong>
            </div>
    <form class="form" role="form" name="form" novalidate bs-validation="" ng-submit="submit()">
        <div class="form-group">
            <label translate="global.form.newpassword">New password</label>
            <input type="password" class="form-control" name="password" 
                placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                ng-model="resetPassword.password" ng-minlength=5 
                required>
            <div ng-show="form.$error">
                <div class="help-block" ng-show="form.password.$error.required && form.attempted"
                    translate="global.messages.validate.newpassword.required">
                    Your password is required.
                </div>
                <div class="help-block" ng-show="form.password.$error.minlength  && form.attempted"
                    translate="global.messages.validate.newpassword.minlength">
                    Your password is required to be at least 5 characters
                </div>
                <div class="help-block" ng-show="form.password.$error.maxlength  && form.attempted"
                    translate="global.messages.validate.newpassword.maxlength">
                    Your password cannot be longer than 50 characters
                </div>
            </div>
            <password-strength-bar password-to-check="resetPassword.password"></password-strength-bar>
        </div>
        <div class="form-group">
            <label translate="global.form.confirmpassword">New password confirmation</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                   ng-model="resetPassword.confirmPassword" ng-minlength=5 ng-maxlength=50 required match="resetPassword.password">
            <div ng-show="form.$error">
                <div class="help-block"
                       ng-show="form.confirmPassword.$error.required  && form.attempted" translate="global.messages.validate.confirmpassword.required">
                    Your password confirmation is required.
                </div>
                <div class="help-block"
                       ng-show="form.confirmPassword.$error.minlength && form.attempted" translate="global.messages.validate.confirmpassword.minlength">
                    Your password confirmation is required to be at least 5 characters
                </div>
                <div class="help-block"
                       ng-show="form.confirmPassword.$error.maxlength && form.attempted" translate="global.messages.validate.confirmpassword.maxlength">
                    Your password confirmation cannot be longer than 50 characters
                </div>
                <div class="help-block"
                       ng-show="form.confirmPassword.$error.match && !form.confirmPassword.$error.required  && !form.confirmPassword.$error.minlength && !form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.match">
                    Your password confirmation does not match your password
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" >Change Password</button>
    </form>
    </div>
</div>

