<div id="sideNav" class="col-md-2 sidebar" location-aware-nav>
  <ul class="nav nav-sidebar">
    <li><a href="#/pendingApplications"><i class="fa fa-tasks"></i> Pending Applications</a></li>
    <li class="disabled"><a><i class="fa fa-file-text"></i>  Usage Reports</a></li>
    <li><a href="#/affiliates"><i class="fa fa-users"></i> Affiliate Management</a></li>
    <li class="disabled"><a><i class="fa fa-signal"></i> Activity Log</a></li>
    <li><a href="#/releaseManagement"><i class="fa fa-cube"></i> Release Management</a></li>
    <li><a href="#/licences"><i class="fa fa-gavel"></i> Licence T&C</a></li>
    <li class="disabled"><a><i class="fa fa-clipboard"></i> Reports & Extracts</a></li>
  </ul>
  <ul class="nav nav-sidebar" ng-show="$root.Session.isAdmin()">
    <li><a href="#/importAffiliates"><i class="fa fa-upload"></i> Import Affiliate Records</a></li>
    <li><a href="#/blocklist"><i class="fa fa-bolt"></i> Manage Blocklist</a></li>
    <li><a href="#/countries"><i class="fa fa-flag-o"></i> National Registration List</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
  </ul>
</div>