<div id="sideNav" class="sidebar" location-aware-nav>
  <ul class="nav nav-sidebar">
    <li>
		<a href="#/pendingApplications">
			<i class="fa fa-tasks"></i> 
			<span translate="pendingApplications.title">Pending Applications</span>
		</a>
	</li>
    <li>
		<a href="#/affiliateManagement">
			<i class="fa fa-users"></i> 
			<span translate="affiliateManagement.title">Affiliate Management</span>
		</a>
	</li>
    <li>
		<a href="#/releaseManagement">
			<i class="fa fa-cube"></i> 
			<span translate="releaseManagement.title">Release Management</span>
		</a>
	</li>
    <li>
    	<a href="#/usageReportsReview">
    		<i class="fa fa-file-text"></i>
    		<span translate="reviewUsageReports.title">Review Usage Reports</span>
    	</a>
    </li>
    <li>
    	<a href="#/memberManagement">
    		<i class="fa fa-institution"></i>
    		<span translate="memberManagement.title">Member Management</span>
    	</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar" ng-show="$root.Session.isAdmin()">
    <li>
    	<a href="#/activityLog">
    		<i class="fa fa-signal"></i>
    		<span translate="activityLog.title">Activity Log</span>
    	</a>
   	</li>
    <li>
    	<a href="#/importAffiliates">
    		<i class="fa fa-upload"></i>
    		<span translate="importAffiliateRecords.title">Import Affiliate Records</span>
    	</a>
    </li>
    <li>
    	<a href="#/blocklist">
    		<i class="fa fa-bolt"></i>
    		<span translate="manageBlocklist.title">Manage Blocklist</span>
    	</a>
    </li>
    <li>
    	<a href="#/countries">
    		<i class="fa fa-flag-o"></i>
    		<span translate="nationalRegistrationList.title">National Registration List</span>
    	</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar" ng-show="$root.Session.isAdmin()">
    <li>
		<a href="#/metrics">
			<i class="fa fa-exchange"></i> 
			<span translate="metrics.title">System Metrics</span>
		</a>
	</li>
    <li>
    	<a href="#/logs">
    		<i class="fa fa-navicon"></i>
    		<span translate="systemLoggers.title">System Loggers</span>
    	</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>
    	<a href="#/logout">
    		<i class="fa fa-sign-out"></i>
    		<span>Logout</span>
    	</a>
    </li>
  </ul>
</div>