<div class="panel panel-default" ng-class="{'dashboard': showingUserDashboardWidgets}">
	<div class="panel-heading" ng-class="{'dashboard-height': showingUserDashboardWidgets}">
		<span class="pull-right">
			<button class="btn btn-success btn-xs" ng-if="$root.Session.isUser() || $root.Session.isAdmin()"
				ng-click="usageReportsUtils.openAddUsageReportModal($parent.affiliate)"><i class="fa fa-plus"></i> New Report</button>
		</span>
		<h3 class="panel-title">Usage Reports
		<button ng-click="viewUsageReports()" ng-show="showViewAll" class="btn btn-link btn-xs">View All <i class="fa fa-angle-double-right"></i></button>
		</h3>
	</div>
	<div class="table-responsive" ng-class="{'user-dashboard-item': showingUserDashboardWidgets}">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Report Date</th>
					<th ng-show="showAllColumns">Usage Type</th>
					<th ng-show="showAllColumns">Approval State</th>
					<th ng-show="showAllColumns">Countries</th>
					<th>Hospitals</th>
					<th>Practices</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="usageReportsUtils.goToUsageReport(usageReport)"
					ng-class="{highlight:usageReportsUtils.isUsageReportWaitingForApplicant(usageReport)}"
					ng-repeat="usageReport in affiliate.commercialUsages | orderBy:['-startDate', isActiveUsageReport, '-effectiveTo']">
					<td ng-class="{'text-muted':usageReport.effectiveTo !== null}">
						<span class="btn-link"> 
							<span ng-show="usageReport.effectiveTo" class="text-muted">
								<i class="fa fa-minus-square-o"></i>
							</span>
							<span
								ng-show="usageReportsUtils.isUsageReportWaitingForApplicant(usageReport)"
								tooltip="Declaration has not been submitted"
								tooltip-placement="top"
								ng-class="{'text-muted':usageReport.effectiveTo}">
								<i class="fa fa-exclamation-circle"></i>
							</span>
							<span ng-class="{'text-muted':usageReport.effectiveTo}">
								{{usageReport.startDate | date : 'yyyy-MM'}} &#8211 {{usageReport.endDate | date : 'yyyy-MM'}}
								
							</span>
						</span>
					</td>
					<td ng-show="showAllColumns">
						<span class="btn-link" ><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{ usageReport.type | enum:'affiliate.type.'}}
						</span></span>
					</td>
					<td ng-show="showAllColumns">
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{ usageReport.approvalState | enum:'approval.state.'}}
						</span></span>
					</td>
					<td ng-show="showAllColumns">
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportCountries(usageReport) | number}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportHospitals(usageReport) | number}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportPractices(usageReport) | number}}
						</span></span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
