<div class="panel panel-default dashboard"
	ng-controller="UsageReportsTableController">
	<div class="panel-heading">
		<span class="pull-right">
			<button class="btn btn-success btn-xs" ng-if="$root.Session.isAdmin()"
				ng-click="usageReportsUtils.openAddUsageReportModal($parent.affiliate)"><i class="fa fa-plus"></i> New Report</button>
		</span>
		<h3 class="panel-title">Usage Reports</h3>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Report Date</th>
					<th>Usage Type</th>
					<th>Approval State</th>
					<th>Countries</th>
					<th>Hospitals</th>
					<th>Practices</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="usageReportsUtils.goToUsageReport(usageReport)"
					ng-class="{highlight:usageReportsUtils.isUsageReportWaitingForApplicant(usageReport), 'text-muted':usageReport.effectiveTo}"
					ng-repeat="usageReport in $parent.affiliate.commercialUsages | orderBy:['-startDate', isActiveUsageReport, '-effectiveTo']">
					<td ng-class="{'text-muted':usageReport.effectiveTo !== null}">
						<span class="btn-link"> 
							<span ng-show="usageReport.effectiveTo" class="text-muted">
								<i class="fa fa-minus-square-o"></i>
							</span>
							<span
								ng-show="usageReportsUtils.isUsageReportWaitingForApplicant(usageReport)"
								tooltip="Declaration has not been submitted"
								tooltip-placement="top"
								ng-class="{'text-muted':usageReport.effectiveTo}">
								<i class="fa fa-exclamation-circle"></i>
							</span>
							<span ng-class="{'text-muted':usageReport.effectiveTo}">
								{{usageReport.startDate | date : 'MMM'}} - {{usageReport.endDate | date : 'MMM'}}
								{{usageReport.startDate | date : 'yyyy'}}
							</span>
						</span>
					</td>
					<td>
						<span class="btn-link" ><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{ usageReport.type | enum:'affiliate.type.'}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{ usageReport.approvalState | enum:'approval.state.'}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportCountries(usageReport)}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportHospitals(usageReport)}}
						</span></span>
					</td>
					<td>
						<span class="btn-link"><span ng-class="{'text-muted':usageReport.effectiveTo}">
							{{usageReportsUtils.usageReportPractices(usageReport)}}
						</span></span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
