
<div class="masthead">
  <div class="container">
    <img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo">
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <div class="col-sx-12 col-md-8 col-md-8">
      <div class="page-header">
        <h1>Affiliate Registration</h1>
        <p class="lead">Please fill complete the form.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
      <form ng-submit="affiliateform.submit()">
  <div class="container-fluid">
    <div class="col-sx-12 col-md-8 col-md-8">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" id="applicant">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsePanel.applicant = !collapsePanel.applicant"><i class="fa fa-cog"></i> Applicant </a>
              </h4>
            </div>
            <div id="collapseOne" ng-show="!collapsePanel.applicant" class="panel-collapse">
              <div class="panel-body">
                <h4>Select your Organization type</h4>
                <div class="col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Individual</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                      <div class="center-block">
                        <p class="block-centre">
                          <label for="individual" class="btn btn-lg btn-default"><i class="fa fa-user"></i> Individual <input style="display: none;" type="radio" id="individual" ng-model="affiliateform.type"
                            value="Individual"
                          >
                          </label>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Vendor or Developer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                      <p>
                        <label for="vendor" class="btn btn-lg btn-default"><i class="fa fa-users"></i>  Vendor or Developer <input style="display: none;" type="radio" id="vendor" ng-model="affiliateform.type"
                          value="Vendor/Developer"
                        >
                        </label>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Research Organization</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                      <p>
                        <label for="research" class="btn btn-lg btn-default"><i class="fa fa-user-md"></i>  Research Organization <input style="display: none;" type="radio" id="research" ng-model="affiliateform.type"
                          value="Research Organization"
                        >
                        </label>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsePanel.organization = !collapsePanel.organization" href="#collapseTwo"><i class="fa fa-building"></i> Organization </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse" ng-show="!collapsePanel.organization">
              <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <p>Name</p>
                        <input class="form-control" placeholder="Organization Name" required autofocus ng-model="affiliateform.organization.name">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Address </label> <input class="form-control" placeholder="123 Somewhere Avenue" required autofocus ng-model="affiliateform.organization.address">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <input class="form-control" placeholder="City" required autofocus ng-model="affiliateform.organization.city">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <select class="form-control input-md" ng-model="affiliateform.organization.country">
                          <option value="">Country</option>
                          <option value="Canada">Canada</option>
                          <option value="Denmark">Denmark</option>
                          <option value="England">England</option>
                          <option value="USA">USA</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <input class="form-control" placeholder="Phone Number" required autofocus ng-model="affiliateform.organization.phonenumber">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <input class="form-control" placeholder="Extenstion" required autofocus ng-model="affiliateform.organization.extension">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> Department/Sub Division </label> <input class="form-control" placeholder="Position" required autofocus ng-model="affiliateform.organization.position">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> Website </label> <input class="form-control" placeholder="www.organization.com" required autofocus ng-model="affiliateform.organization.website">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sx-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-cog"></i> Applicant</h3>
        </div>
        <div class="panel-body">
          <p>
            <strong>Organization Type:</strong>
          </p>
          <p>{{affiliateform.type}}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-building"></i> Organization</h3>
        </div>
        <div class="panel-body">
          <p>
            <strong>Name:</strong>
          </p>
          <p>{{affiliateform.organization.name}}</p>
          <hr>
          <p>
            <strong>Address:</strong>
          </p>
          <p>{{affiliateform.organization.address}}</p>
          <hr>
          <p>
            <strong>City:</strong>
          </p>
          <p>{{affiliateform.organization.city}}</p>
          <hr>
          <p>
            <strong>Country:</strong>
          </p>
          <p>{{affiliateform.organization.country}}</p>
          <hr>
          <p>
            <strong>Phone Number:</strong>
          </p>
          <p>{{affiliateform.organization.phonenumber}} {{affiliateform.organization.extension}}</p>
          <hr>
          <p>
            <strong>Department/Sub Division:</strong>
          </p>
          <p>{{affiliateform.organization.position}}</p>
          <hr>
          <p>
            <strong>Website:</strong>
          </p>
          <p>{{affiliateform.organization.website}}</p>

        </div>
        
         <div class="panel-footer">
              <a class="btn btn-muted btn-default">Save</a>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SNOMED Agreement</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-file-pdf-o fa-lg"></i> SNOMED License</span></a></p>
              <p><label class="cen> <input type="checkbox"> I agree to the Terms &amp; Conditions</label></p>
            
            <div class="panel-footer">
            
              <a class="btn btn-muted btn-default" href="#/pendingRegistration">Register </a>
              <button type="button" class="btn btn-link">Cancel</button>
             </div>
        </div>
      </div>
    </div>
  </div>
    </form>
  <!-- main END -->
</div>
<!-- /container -->
