<div class="navbar navbar-fixed-top masthead">
<div class="container">
 <div class="navbar-header">
  	<img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo">
    </div>
     </div>
</div>
  <div class="jumbotron">
    <div class="container" id="welcome">
    <div class="col-lg-8">
   		<h1>We've sent you an email.</h1>
	<p>Go look and click the link. </p>
	</div>

</div>
</div>

<footer>
      	<div class="container">
        	<div class="col-lg-6">
        		<p>&copy; IHTSDO 2014</p>
        	</div>
        	<div class="col-lg-6">
        		<div class="pull-right">
        		<a class="btn btn-link" href="#">Terms and Conditions</a>
        		<a class="btn btn-link" href="#">Privacy Policy</a>
        	</div>
        	</div>
        </div>
   </footer>