<div class="navbar navbar-fixed-top masthead">
<div class="container">
 <div class="navbar-header">
  	<img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo">
    </div>
         <form class="navbar-form navbar-right navbar-login">
           <div class="form-group">
             <input type="text" placeholder="Email" class="form-control">
           </div>
           <div class="form-group">
             <input type="password" placeholder="Password" class="form-control">
           </div>
           <a class="btn btn-default" href="#/dashboard">Login</a>
         </form>
     </div>
</div>
  <div class="jumbotron">
    <div class="container" id="welcome">
    <div class="col-lg-8">
   		<h1>We've sent you an email.</h1>
	<p>Go look and click the link. </p>
	</div>

</div>
</div>

 <footer>
  	<div class="container">
    	<p>&copy; IHTSDO 2014</p>
    	<div class="pull-right">
    		<a class="btn btn-link" href="#">Terms and Conditions</a>
    		<a class="btn btn-link" href="#">Privacy Policy</a>
    	</div>
    </div>
</footer>
