<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:context="http://www.springframework.org/schema/context"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	     xsi:schemaLocation="
	     	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
           	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
           " >
           
    <context:component-scan base-package="ca.intelliware.ihtsdo.mlds" />
    <context:annotation-config/>
    <!-- 
    <tx:annotation-driven proxy-target-class="true"/>
    
    <jpa:repositories base-package="ca.intelliware.ihtsdo.mlds" />
     -->
    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="false">
        <property name="jndiName" value="java:comp/env/jdbc/mlds" />
    </bean>
    
			<!-- 
 	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	</bean>

	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="mlds" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.show_sql">${jpaProperties.show_sql}</prop>
				<prop key="hibernate.format_sql">${jpaProperties.format_sql}</prop>
				<prop key="use_sql_comments">${jpaProperties.use_sql_comments}</prop>
				<prop key="hibernate.search.default.directory_provider">${jpaProperties.lucense.directory_provider}</prop>
				<prop key="hibernate.search.default.indexBase">${jpaProperties.lucense.directory_path}</prop>
				<prop key="org.hibernate.envers.default_schema">${jpaProperties.default_schema}</prop>
				<prop key="hibernate.connection.useUnicode">true</prop>
				<prop key="hibernate.connection.charSet">UTF-8</prop>
				<prop key="hibernate.connection.characterEncoding">UTF-8</prop>
				<prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
			</props>
		</property>
	</bean>
			 -->

	<bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="changeLog" value="classpath:db-changelog.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
<!-- 

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
     		<property name="entityManagerFactory" ref="entityManagerFactory" />
    	</bean>
 -->

</beans>