.debug {
	outline: 1px solid red;	
}

.no-padding {
    padding: 0;
}

.panel-heading p {
	color: #333;
	margin-top: 10px;
}

.list-group-item-light {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #FFF;
}

.selected {
	font-weight: bold;
}

.branding-showcase {
	border: 4px solid #E5E5E5;
}
.branding-showcase .container {
	width: 100%;	
}

.dropdown-menu .btn-link {
	color: inherit;
}

.dropdown-menu .btn-link:hover {
	text-decoration: none;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

/*Overrides for Bootstrap accordion for viewReleases page. Standard accordion styles have been used for styling elsewhere.
Actual accordion wrapped in id="accordion-override" div. */
#accordion-override .panel-heading {
        margin-left:10px;
        padding:5px;
    }
#accordion-override .inner-heading{
        margin-left:0px;
        padding:5px;
        padding-left:0px;
    }
#accordion-override .panel{
    border: 1px solid #eee;
}
#accordion-override .panel-body{
    border: none;
    border-top:1px solid #eee;
}

#accordion-override .glyphicon-chevron-right{
   margin-right:10px;
   margin-top:2px; 
}
#accordion-override .glyphicon-chevron-down{
   margin-right:10px;
   margin-top:2px; 
}
/*Overrides end*/