<div class="masthead">
	<div class="container">
	 <div class="pull-left">
	  	<img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo">
	    </div>
	          <form class="navbar-form navbar-right navbar-login">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control">
	            </div>
	            <a class="btn btn-default" href="/dashboard">Login</a>
	          </form>
	      </div>
	    </div>
    <div class="jumbotron">
      <div class="container">
      <div class="col-lg-8">
     		<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum metus in leo rutrum, a pellentesque mi pretium. </p>
		</div>
	<div class="col-lg-4">
		<div class="signin">
			<form class="form" ng-controller="NewUserRegistrationController" ng-submit="createUser()">
				<div ng-show="error.developerMessage" class="alert alert-danger">{{error.code}}-{{error.developerMessage}}</div>
				<h4 class="form-signin-heading">Register</h4>
	        <div class="form-group">
		        <input ng-model="user.name" type="text" class="form-control" placeholder="Your name" required autofocus>
			      </div>
		      <div class="form-group">
		        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required autofocus>
		      </div>
		      <div class="form-group">
		        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
		      </div>
	      
			  <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!user.name || !user.email || !user.password" >Start Registration</button>
	      </form>
		   </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> <small class="muted">Agree to our <a href="">terms of service</a> and <a href="">privacy policy.</a></small>
		    </label>
		  </div>
		  </div>
		</div>
      </div>
    </div>

    <div class="container"> 
      <div class="row">
        <div class="col-md-4">
        <img src="http://placehold.it/350x150">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <img src="http://placehold.it/350x150">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
       <img src="http://placehold.it/350x150"> 
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
     
    </div> <!-- /container -->
    
     <footer ng-include="'templates/common/footer.html'">
      </footer>
 
