<div class="modal-header">
  <h3 class="modal-title">Add Institution</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h3>{{country}}</h3>
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <label>Institution Name</label> <input class="form-control" placeholder="Enter Institution Name">
        </div>
      </div>
    </div>
   <hr> 
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <h4>Type</h4>
          <button type="submit" class="btn btn-default">Hospital</button>
          <button type="submit" class="btn btn-default">Practice</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
        <h4>Started to Use</h4>
       <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        </div>
        
         <div class="col-md-4">
        <h4>Ceased Use</h4>
       <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
	<button class="btn btn-primary" ng-click="add()" ng-disabled="submitting">
		<span ng-show="!submitting">Add</span>
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
	<button class="btn btn-danger" ng-click="addFail()" ng-disabled="submitting">
		<span ng-show="!submitting">Add Fail</span>
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
</div>