<div class="modal-header">
  <h3 class="modal-title">Add Institution</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h3>{{country.commonName}}</h3>
  <form name="newInstitution" bs-validation>
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <label>Institution Name</label> 
          <input class="form-control" placeholder="Enter Institution Name" name="name" ng-model="institution.name" ng-required="true">
          <span ng-show="newInstitution.name.$error.required && institution.submitAttempted" class="help-block">Required Field</span>
        </div>
      </div>
    </div>
   <hr> 
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <h4>Type</h4>
          <div class="form-group">
	          <label class="btn btn-default" ng-model="institution.type" btn-radio="'Hospital'" name="type" ng-required="true">Hospital</label>
	        	<label class="btn btn-default" ng-model="institution.type" btn-radio="'Practice'" name="type" ng-required="true">Practice</label>
	        	<span ng-show="newInstitution.type.$error.required && institution.submitAttempted" class="help-block">Required Field</span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
			<div class="col-md-4 form-group">
				<h4>Started to Use</h4>
				<div class="input-group datepicker">
					<input type="text" class="form-control" name="startDate" ng-model="institution.startDate" ng-required="true"
						datepicker-popup="{{dateOptions.format}}" datepicker-options="dateOptions" 
						is-open="datepickers.startDate" close-text="Close"/> 
					<span class="input-group-addon" ng-click="open($event, 'startDate')"><i class="fa fa-calendar"></i></span>
				</div>
				<span ng-show="newInstitution.startDate.$error.required && institution.submitAttempted" class="help-block">Required Field</span>
			</div>

			<div class="col-md-4 form-group">
				<h4>Ceased Use</h4>
				<div class="input-group datepicker">
					<input type="text" class="form-control" name="ceaseDate" ng-model="institution.ceaseDate" ng-required="false"
						datepicker-popup="{{dateOptions.format}}" datepicker-options="dateOptions" 
						is-open="datepickers.ceaseDate" close-text="Close"/> 
					<span class="input-group-addon" ng-click="open($event, 'ceaseDate')"><i class="fa fa-calendar"></i></span>
				</div>
			</div>
		</div>
   </form>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
	
	<button class="btn btn-success" ng-show="newInstitution.$invalid" ng-click="institution.submitAttempted = true">Add</button>
	<button class="btn btn-success" ng-click="add()" ng-show="!newInstitution.$invalid" ng-disabled="submitting">
		<span ng-show="!submitting">Add</span>
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
</div>