<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"> 
    <div class="page-header">
     <h1>
       {{'global.menu.account.dashboard' | translate}} <span class="pull-right"><small>Welcome {{firstName}} {{lastName}}</small></span>
     </h1>
   </div>
 </div>
</div>
<div class="well" ng-repeat="affiliate in affiliates">
  <div class="user-info">
	<div class="col-sm-6 col-md-6 col-lg-6">
        <strong>{{'affiliate.title' | translate}}:</strong> {{affiliate.application.organizationName ? affiliate.application.organizationName : affiliate.application.name}}<br>
        <strong>{{'affiliate.type.title' | translate}}:</strong> {{'affiliate.type.'+affiliate.type | translate}}
   	</div>
   	<div class="col-sm-6 col-md-6 col-lg-6">
      	<span class="alert alert-warning pull-right" ng-show="isApplicationPending(affiliate.application)"><strong>Application Status:</strong> Pending Approval</span>
      	<span class="alert alert-success pull-right" ng-show="affiliate.application.approvalState === 'APPROVED'"><strong>Application Status:</strong> Approved</span>
        <a ng-show="isApplicationWaitingForApplicant(affiliate.application)" class="btn btn-default" href="#/affiliateRegistration">Edit Affiliate Application</a>
   	</div>     	
</div>
<div class="row space" ng-hide="anySubmittedUsageReports(affiliate) || affiliate.application.approvalState === 'REJECTED'">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-danger" role="alert">
  		<div><strong>Usage Declaration Required</strong></div>
  		<p>You have not submitted a usage declaration. To complete your affiliate registration, please submit an existing or new usage declaration.</p>
  	</div>
  </div>
</div>

<div class="row space" ng-show="affiliate.application.approvalState === 'CHANGE_REQUESTED'">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-warning" role="alert">
  		<div><strong>Affiliate Registration Requires Change</strong></div>
  		<p>Your affiliate registration needs to be updated before it can processed. Please see email regarding the necessary changes to complete your registration.</p>
  	</div>
  </div>
</div>

<div class="row space" ng-show="affiliate.application.approvalState === 'REJECTED'">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-danger" role="alert">
  		<div><strong>Affiliate Registration Declined</strong></div>
  		<p>Your affiliate registration has been declined. Please see email regarding the details of the decision.</p>
  	</div>
  </div>
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="form-group  pull-right">
      <button ng-click="openAddUsageReportModal(affiliate)" class="btn btn-success"><i class="fa fa-plus"></i> Add New Usage Declaration </button>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="report">
      <table class="table table-striped table-hover">
        <tr>
          <th colspan="2">Declaration Period</th>
          <th>Date Submitted</th>
          <th class="text-right">Countries</th>
          <th class="text-right" ng-show="affiliateIsCommercial(affiliate)">Hospitals</th>
          <th class="text-right" ng-show="affiliateIsCommercial(affiliate)">Practices</th>
          <th></th>
        </tr>
         <tbody>
          <tr ng-class="{info: usageReport.approvalState === 'NOT_SUBMITTED'}" ng-repeat="usageReport in affiliate.commercialUsages">
          <td class="exclaim">
          	<a href="#" tooltip-placement="top" tooltip="Declaration has not been submitted">
	          	<i ng-show="{{usageReport.approvalState === 'NOT_SUBMITTED'}}" class="fa fa-exclamation-circle fa-2x"></i>
	        </a>
          </td>
          <td class="text-left"><a ng-click="goToUsageReport(usageReport)">{{usageReport.startDate | date : 'MMM'}} - {{usageReport.endDate | date : 'MMM'}} {{usageReport.startDate | date : 'yyyy'}}</a></td>
          <td class="text-left">
          	<span ng-show="usageReport.submitted">{{usageReport.submitted | date : 'd MMM yyyy'}}</span>
          	<span ng-hide="usageReport.submitted">Not Submitted</span>
          </td>
          <td class="text-right">{{usageReportCountries(usageReport) | number}}</td>
          <td class="text-right" ng-show="affiliateIsCommercial(affiliate)">{{usageReportHospitals(usageReport) | number}}</td>
          <td ng-show="affiliateIsCommercial(affiliate)"><p class="text-right">{{usageReportPractices(usageReport) | number}}</p></td>
          <td> <a class="btn btn-default btn-xs pull-right" ng-click="goToUsageReport(usageReport)"><i class="fa fa-pencil"></i> Edit</a></td>
      </tbody>
      </table>

</div>