<div class="well" ng-repeat="affiliate in affiliates">
  <div class="row" ng-hide="anySubmittedUsageReports(affiliate) || affiliate.application.approvalState === 'REJECTED'">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-danger" role="alert">
        <div><strong>Usage Declaration Required</strong></div>
        <p>You have not submitted a usage declaration. To complete your affiliate registration, please submit an existing or new usage declaration.</p>
      </div>
    </div>
  </div>

  <div class="row" ng-show="affiliate.application.approvalState === 'CHANGE_REQUESTED'">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-warning" role="alert">
        <div><strong>Affiliate Registration Requires Change</strong></div>
        <p>Your affiliate registration needs to be updated before it can processed. Please see email regarding the necessary changes to complete your registration.</p>
      </div>
    </div>
  </div>

  <div class="row" ng-show="affiliate.application.approvalState === 'REJECTED'">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-danger" role="alert">
        <div><strong>Affiliate Registration Declined</strong></div>
        <p>Your affiliate registration has been declined. Please see email regarding the details of the decision.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
     <div class="page-header">
      <h1>Welcome {{firstName}} {{lastName}}</h1> 
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
   <span class="alert alert-warning pull-right" ng-show="isApplicationPending(affiliate.application)"><strong>Application Status:</strong> Pending Approval</span>
   <span class="alert alert-success pull-right" ng-show="affiliate.application.approvalState === 'APPROVED'"><strong>Application Status:</strong> Approved</span>
   <a ng-show="isApplicationWaitingForApplicant(affiliate.application)" class="btn btn-default" href="#/affiliateRegistration">Edit Affiliate Application</a>
 </div>       
</div>

<div class="row">
  <div class="col-lg-4"> 
    <span class="pull-right"><button class="btn btn-success btn-xs" ng-click="openAddUsageReportModal(affiliate)"><i class="fa fa-plus"></i> New Report</button></span>

    <h3>Usage Reports </h3>
    <table class="table table-striped">
      <thead> 
        <tr>
          <th>Usage Report</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody> 
        <tr ng-class="{{usageReport.approvalState === 'NOT_SUBMITTED'}}" ng-repeat="usageReport in affiliate.commercialUsages">
          <td>
          </td>
          <td>
            <a href="#" tooltip-placement="top" tooltip="Declaration has not been submitted">
              <i ng-show="{{usageReport.approvalState === 'NOT_SUBMITTED'}}" class="fa fa-exclamation-circle"></i>
            </a>
            <a ng-click="goToUsageReport(usageReport)">{{usageReport.startDate | date : 'MMM'}} - {{usageReport.endDate | date : 'MMM'}} {{usageReport.startDate | date : 'yyyy'}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <h3>Applications</h3>
    <table class="table table-striped">
      <thead> 
        <tr>
          <th>Application</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody> 
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <h3>Account Information</h3>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
   <div class="page-header">
    <h1>
     Release Packages <a class="btn btn-link">View All <i class="fa fa-angle-double-right"></i></a>
   </h1> 
 </div>

</div>
</div>

<div class="row">
  <div class="col-lg-12">
   <h3>International Releases</h3>
 </div>

 <div class="col-md-4">
  <div class="well">
    <h3>SNOMED CT International Edition</h3>
    <p>Current: January, 2014</p>
    <a class="btn btn-link"><i class="fa fa-file"></i> Full Download</a>
  </div>
</div>
<div class="col-md-4">
  <div class="well">
    <h3>SNOMED CT Medical Devices</h3>
    <p>Current: January, 2014</p>
    <a class="btn btn-link"><i class="fa fa-file"></i> Full Download</a>
  </div>
</div>
<div class="col-md-4">
  <div class="well">
    <h3>SNOMED CT International Edition</h3>
    <p>Current: January, 2014</p>
    <a class="btn btn-link"><i class="fa fa-file"></i> Full Download</a>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>SNOMED Canadian Extension</h3>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>SNOMED CT International Edition</h3>
      <p>Current: January, 2014</p>
      <a class="btn btn-link"><i class="fa fa-file"></i> Full Download</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Other Available Releases</h3>
  </div>
  <div class="col-md-4">
    <div class="well">
      <p><a class="btn btn-link">Australia</a><br>
        <a class="btn btn-link">Hong Kong</a></p>
      </div>
    </div>
  </div>

</div>
</div>
</div>