<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
	<h3 class="modal-title"><span translate="global.word.delete">Remove</span> <span translate="views.usageLog.institutions.hospAndInst">Hospital/Institution</span></h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<p><span translate="views.usageLog.institutions.modal.sure">Are you sure you want to remove</span> <strong>{{institution.name}}</strong> <span translate="global.word.from">from</span> {{ 'global.country.' + country.isoCode2 | translate }}?</p>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting" translate="global.word.cancel">Cancel</button>
	<button class="btn btn-danger" ng-click="removeInstitution()">
		<span translate="global.word.delete">Remove</span>
		<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
	</button>
</div>