<div class="modal-header">
  <h3 class="modal-title">Delete Institution
  </h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<p>Are you sure you want to remove {{institutions[index].name}} from {{country.commonName}}?</p>
</div>
<div class="modal-footer">
	<button class="btn btn-link pull-left" ng-click="cancel()" ng-disabled="submitting">No</button>
	<button class="btn btn-primary pull-right" ng-click="removeInstitution()">Yes</button>
</div>