<div class="modal-header">
	<h3 class="modal-title" translate="views.extensionApplication.delete.title">Cancel Application</h3>
</div>
<div class="modal-body">
	<p translate="views.extensionApplication.delete.sure">Are you sure you want to cancel this application?</p>
	<p translate="views.extensionApplication.delete.sure.detail">Doing so will cause you to lose all saved information on this application.</p>
</div>
<div class="modal-footer">
	<button class="btn btn-muted btn-primary pull-left" ng-click="$close()" translate="global.word.yes">Yes</button>
	<button class="btn btn-muted btn-warning" ng-click="$dismiss()" translate="global.word.no">No</button>
</div>