<div class="modal-header">
  <h3 class="modal-title">Edit Country Counts</h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	  <h3>{{count.country.commonName}}</h3>
	
	<form name="formCount" bs-validation>
    <div class="row">
      <div class="form-group">
        <div class="col-md-6">
          <label>Practices</label> 
          <input type="number" class="form-control" name="practices" ng-model="count.practices" ng-required="true">
          <span ng-show="formCount.practices.$error.required && submitAttempted" class="help-block">Required Field</span>
        </div>
      </div>
    </div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
	<button class="btn btn-success" ng-show="formCount.$invalid" ng-click="attemptedSubmit = true">Add</button>
	<button class="btn btn-success" ng-show="!formCount.$invalid" ng-click="updateCount()">Update Count</button>
</div>