<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h3 class="modal-title">Add Practices</h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	  <h3>{{count.country.commonName}}</h3>
	
	<form name="formCount" bs-validation novalidate>
    <div class="row">
      <div class="col-md-6">
	      <div class="form-group">
          <label>Data Analysis Practices</label> 
          <input type="number" min="0" class="form-control" name="analysisPractices" ng-model="count.analysisPractices" ng-required="true">
          <span ng-show="formCount.analysisPractices.$error.required && submitAttempted" class="help-block">Required Field</span>
          <span ng-show="formCount.analysisPractices.$error.number && submitAttempted" class="help-block">Not a valid number</span>
        </div>
      </div>
      <div class="col-md-6">
	      <div class="form-group">
          <label>Data Creation Practices</label> 
          <input type="number" min="0" class="form-control" name="creationPractices" ng-model="count.creationPractices" ng-required="true">
          <span ng-show="formCount.creationPractices.$error.required && submitAttempted" class="help-block">Required Field</span>
          <span ng-show="formCount.creationPractices.$error.number && submitAttempted" class="help-block">Not a valid number</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
    	<div class="col-md-12">
    		<div class="form-group">
    			<label>Notes</label>
    			<textarea class="form-control" rows="3" ng-model="count.notes" ></textarea>
    		</div>
    	</div>
    </div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
	<button class="btn btn-success" ng-show="formCount.$invalid" ng-click="submitAttempted = true">Update</button>
	<button class="btn btn-success" ng-show="!formCount.$invalid" ng-click="updateCount()">
		Update
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
</div>