<div class="row space" ng-show="extensionForm.approvalState === 'CHANGE_REQUESTED'">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-warning" role="alert">
  		<div><strong>Extension Registration Needs Change</strong></div>
  		<p>Your extension registration needs to be updated before it can processed. Please see email regarding the necessary changes to complete your registration.</p>
  	</div>
  </div>
</div>

<div class="row space" ng-show="isApplicationRejected">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-danger" role="alert">
  		<div><strong>Extension Registration Rejected</strong></div>
  		<p>Your extension registration needs to be updated before it can processed. Please see email regarding the necessary changes to complete your registration.</p>
  	</div>
  </div>
</div>

<div class="row space" ng-show="isApplicationApproved">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="alert alert-success" role="alert">
  		<div><strong>Extension Registration Approved</strong></div>
  		<p>Your application has been approved.</p>
  	</div>
  </div>
</div>


<form name="extensionApplicationForm" novalidate bs-validation>
	<div class="row">
		<div class="col-sx-12 col-md-12">
			<div>
				<div class="panel panel-default applicant">
					<div class="panel-heading">
						<h4 class="panel-title">{{extensionForm.member.key | enum:'global.member.'}} Extension Application Form</h4>
					</div>
					<div id="collapseIndividual" collapse="collapsePanel.type"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<h4>Please describe why you would like access to this extension.</h4>
							<div class="form-group">
								<label>Purpose of Use:</label>
								<textarea class="form-control" rows="10" cols="135" required name="reason" ng-disabled="readOnly" ng-minlength="3" ng-model="extensionForm.reason"></textarea>
								<p ng-show="extensionApplicationForm.attempted && extensionApplicationForm.reason.$error.required"
									class="help-block">Required field.</p>
								<p ng-show="extensionApplicationForm.attempted && extensionApplicationForm.reason.$error.minlength"
									class="help-block">Reason needs to be longer.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{extensionForm.member.key | enum:'global.member.'}} Extension Agreement</h3>
					</div>
					<div class="panel-body">
						<p>
							<a ng-click="viewLicence(extensionForm.member.key)"
								target="_blank" class="btn btn-default btn-block">{{extensionForm.member.key | enum:'global.member.'}} Extension Licence</a>
						</p>
						<p class="form-group">
	            <label><input required="" type="checkbox" name="snoMedTC" required="" ng-model="snoMedTC" ng-checked="readOnly" ng-disabled="readOnly"> I agree to the licence 
	            <span ng-show="extensionApplicationForm.snoMedTC.$error.required && extensionApplicationForm.attempted" class="help-block">You must agree to the terms and conditions of the SNOMED CT Licence in order to register, which also indicates potential fees that be required.</span></label>
	          </p>
						<div class="panel-footer" ng-show="!readOnly">
							<button class="btn btn-muted btn-danger pull-right" ng-hide="readOnly" ng-click="cancelApplication()">Cancel</button>
							<button class="btn btn-muted btn-success" ng-click="submit()" ng-disabled="readOnly">Apply</button>
							<div ng-show="extensionApplicationForm.attempted"
								class="has-error">
								<p ng-show="extensionApplicationForm.$invalid"
									class="help-block">Please fix the errors listed above.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
