<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h3 class="modal-title">Retract Usage Declaration</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  
  <p>Retract Instructions - Are you sure you want to re-tract this report? You will return to the same usage report to edit and re-submit. For a new time period you must submit a new declaration report.</p>
  
  <p><strong>Declaration for {{commercialUsageReport.startDate | date : 'yyyy-MM'}} &#8211 {{commercialUsageReport.endDate | date : 'yyyy-MM'}}</strong></p>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
	
	<button class="btn btn-danger" ng-click="retract()"ng-disabled="submitting">
		Retract Declaration
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
</div>