<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h3 class="modal-title">Submit Usage Declaration</h3>
</div>

<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  
  <p>Submit Instructions -- FIXME copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla dolor, suscipit ac leo id, pretium pellentesque mauris. Sed semper lorem eget neque molestie placerat.</p>

  			<h4>Declaration:</h4>
  			<ul class="list-group">
          <li class="list-group-item list-group-item-default"><strong>Usage:</strong></li>
  				<li class="list-group-item"><strong>Period:</strong> {{commercialUsageReport.startDate | date : 'MMM'}} - {{commercialUsageReport.endDate | date : 'MMM yyyy'}}</li>
  				<li class="list-group-item"><strong>Licence Type:</strong> {{commercialUsageReport.type | enum:'affiliate.type.'}}</li>
  			</ul>

  			
  			<ul class="list-group" >
           <li class="list-group-item list-group-item-"><strong>Usage:</strong></li>
  				<li class="list-group-item"><strong>Current Usage:</strong> {{commercialUsageReport.context.currentUsage}}</li>
  				<li class="list-group-item"><strong>Planned Usage:</strong> {{commercialUsageReport.context.plannedUsage}}</li>
  				<li class="list-group-item"><strong>Purpose:</strong> {{commercialUsageReport.context.purpose}}</li>
  				<li class="list-group-item"><strong>Implementation Status:</strong> {{commercialUsageReport.context.implementationStatus | enum:'affiliate.implementationStatus.'}}</li>
  				<li class="list-group-item" ng-show="commercialUsageReport.type=='COMMERCIAL'" ng-repeat="countryRecord in usageByCountryList">
  					<strong>Country:</strong> {{countryRecord.country.commonName}}<br>
 					<strong>Practices:</strong> {{countryRecord.count.practices}}<br>
  				  	<strong>Hospitals:</strong>
  					<span ng-repeat="entry in countryRecord.entries">
  						{{entry.name}}<span ng-show="!$last">,</span>
 					</span><br>
 				</li>
 				<li class="list-group-item" ng-show="commercialUsageReport.type!='COMMERCIAL'">
 					<strong>Countries:</strong>
					<span ng-repeat="countryRecord in usageByCountryList">
  						{{countryRecord.country.commonName}}<span ng-show="!$last">,</span>
 						</span><br>
 					</li>
 				</ul>

</div>

<div class="modal-footer">
	<button class="btn btn-link" ng-click="cancel()" ng-disabled="submitting">Edit</button>
	
	<button class="btn btn-success" ng-click="submit()"ng-disabled="submitting">
		Submit Declaration
		<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
	</button>
</div>