<div class="row">
  <div class="container">
    <h1>Usage Log</h1>
    <p>Page Instructions -- FIXME copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nulla dolor, suscipit ac leo id, pretium pellentesque mauris. Sed semper lorem eget neque molestie placerat. </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a ng-click="collapsePanel.geographic = !collapsePanel.geographic"> Geographic Scope </a>
        </h4>
      </div>
      <div class="panel-body" collapse="collapsePanel.geographic" class="panel-collapse collapse in">
        <p>
          <strong>Select the countries in which SNOMED CT will be used</strong>
        </p>
        <div class="well">
          <form action="">

            <div class="col-sx-4 col-md-4 col-lg-6">
              <h4>List of Countries</h4>
              <div class="selectpicker">
                <div class="input-group">
                  <input class="form-control" type="search" ng-model="q" placeholder="Search Countries" /> <span class="input-group-addon"><span class="fa fa-search"></span> </span>
                </div>
                <div class="form-group">
                  <select name="countries" multiple ng-model="selectedCountryCodesToAdd" class="form-control">
                    <option ng-repeat="country in availableCountries | filter:q" value="{{country.isoCode2}}">{{country.commonName}}</option>
                  </select>
                </div>
                <div class="form-group">
                	<button class="btn" ng-disabled="!canAddSelectedCountries()" ng-click="addSelectedCountries()">Add Country</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a ng-click="collapsePanel.sublicensed = !collapsePanel.sublicensed">Sublicensed Institutions</a>
					</h4>
				</div>
				<div class="panel-body" collapse="collapsePanel.sublicensed">
					<div ng-repeat="country in countries">
						
                  <div class="well">
                        <div class="form-group">
                             <h3>{{country.commonName}}</h3>
                             <p>FIXME copy Instructions...Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="btn btn-success" ng-click="openAddInstitutionModal(country)">Add Institution</a>
						</div>
      
						<table class="table table-striped">
							<tr>
								<th>Institution Name</th>
								<th>Type</th>
								<th>License Start</th>
								<th></th>
							</tr>

							<tr>
								<td>Health ABC</td>
								<td>Institution</td>
								<td>Jan 2014</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown">
											Edit <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Add</a></li>
											<li><a href="#">Edit</a></li>
											<li><a href="#">Change Institution Name</a></li>
											<li class="divider"></li>
											<li><a href="#">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>

							<tr>
								<td>Practice XYZ</td>
								<td>Practice</td>
								<td>Jan 2014</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown">
											Edit <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Add</a></li>
											<li><a href="#">Edit</a></li>
											<li><a href="#">Change Institution Name</a></li>
											<li class="divider"></li>
											<li><a href="#">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</table>
        </div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
