<div class="row">
  <div class="container">
    <h1>Usage Log</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a ng-click="collapsePanel.geographic = !collapsePanel.geographic"> Geographic Scope </a>
        </h4>
      </div>
      <div id="collapseIndividual" ng-show="!collapsePanel.geographic" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>
            <strong>Select the countries in which SNOMED CT will be used</strong>
          </p>
          <div class="well">
            <form ng-submit="submitUsageLog()">

              <div class="col-sx-4 col-md-4 col-lg-5">
                <h4>List of Countries</h4>
                <div class="selectpicker">
                  <div class="input-group">
                    <input class="form-control" type="search" ng-model="q" placeholder="Search Countries" /> <span class="input-group-addon"><span class="fa fa-search"></span> </span>
                  </div>
                  <div class="form-group">
                    <select name="countries" multiple ng-model="addSelectedCountries" class="form-control">
                      <option ng-repeat="country in availableCountries | filter:q" value="{{country}}">{{country}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2" id="select-btns">
                <button class="btn btn-success" ng-click="addCountries()">add</button>
                <button class="btn btn-danger" ng-click="removeCountries()">remove</button>
              </div>
              <div class="col-sx-4 col-md-4 col-lg-5">
                <h4>Selected Countries</h4>
                <div class="selectpicker">
                  <ul class="form-group">
                    <select class="form-control" id="countries" name="countries" multiple ng-model="removeSelectedCountries">
                      <option ng-repeat="country in usageLogForm.countries" value="{{country}}">{{country}}</option>
                    </select>
                  </ul>
                </div>

              </div>
          </div>
    </div>
      </div>
              </div>
          </div>
          <div class="row">
            <div class="container">
              <h3>Sublicensed Institutions</h3>
              <div ng-repeat="country in usageLogForm.countries">
                <span>{{country}}</span>
                <div></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <div class="pull-right">
                <input class="btn btn-default" disabled="disabled" type="submit" value="Save Usage" /> <input class="btn btn-default" type="submit" value="Cancel" />
              </div>
    
    
        </form>
      </div>
  