Package : {{releasePackage.name}}
Versions
<div ng-repeat="releaseVersion in releasePackage.releaseVersions">{{releaseVersion.name}}</div> 


<div class="row">
	<div class="page-header">
		<h2>International Releases</h2>
	</div>
	<div class="col-lg-8">
		<div class="well package">
			<header>	
				<h3>SNOMED Internatinoal Edition</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet eleifend est. Aenean iaculis faucibus porta. Mauris mollis vitae metus eget hendrerit. Fusce consequat ultricies ante. Aenean urna leo, iaculis vitae nunc id, pretium facilisis purus. Sed luctus, turpis ac varius egestas, ante felis convallis justo, eget imperdiet urna odio quis ipsum. Mauris dignissim, lorem vitae faucibus aliquam, elit purus dictum nisi, ac fringilla metus mauris vestibulum libero. Proin convallis pulvinar massa, et vehicula lacus vestibulum id. Fusce semper turpis vitae mi vehicula, ut bibendum lorem tristique. Curabitur euismod hendrerit erat, ut bibendum magna elementum at.</p>
			</header>
			<div class="footer">
				<h4><span class="label label-success">Current:</span> January 2014 Releases </h4>
				<p><a href="#">Full Download</a></p>
				<p><a href="#">Jan 2013-Jan 2014</a></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h2>Member Country Extensions Release</h2>
			<p>If the country you're looking for is not on the list, please refer to the <a href="http://www.ihtsdo.org/" target="_blank">IHTSDO website</a> for release download infomation</p>
		</div>
	</div>

	<div class="col-lg-8">

		<h3>Australia</h3>
		<div class="well well-inactive package">
			<header>	
				<span class="label label-primary pull-right">Apply for Extension</span>
				<h3>SNOMED CT Canadian Edition</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet eleifend est. Aenean iaculis faucibus porta. Mauris mollis vitae metus eget hendrerit. Fusce consequat ultricies ante. Aenean urna leo, iaculis vitae nunc id, pretium facilisis purus. Sed luctus, turpis ac varius egestas, ante felis convallis justo, eget imperdiet urna odio quis ipsum. Mauris dignissim, lorem vitae faucibus aliquam, elit purus dictum nisi, ac fringilla metus mauris vestibulum libero. Proin convallis pulvinar massa, et vehicula lacus vestibulum id. Fusce semper turpis vitae mi vehicula, ut bibendum lorem tristique. Curabitur euismod hendrerit erat, ut bibendum magna elementum at.</p>
			</header>
			<div class="footer">
				<h4><span class="label label-default">Current:</span> January 2014 Releases </h4>
				<p><a href="#">Full Download</a></p>
				<p><a href="#">Jan 2013-Jan 2014</a></p>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<h3>Canada</h3>

		<div class="well package">
			<header>	
				<h3>SNOMED CT Canadian Edition</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet eleifend est. Aenean iaculis faucibus porta. Mauris mollis vitae metus eget hendrerit. Fusce consequat ultricies ante. Aenean urna leo, iaculis vitae nunc id, pretium facilisis purus. Sed luctus, turpis ac varius egestas, ante felis convallis justo, eget imperdiet urna odio quis ipsum. Mauris dignissim, lorem vitae faucibus aliquam, elit purus dictum nisi, ac fringilla metus mauris vestibulum libero. Proin convallis pulvinar massa, et vehicula lacus vestibulum id. Fusce semper turpis vitae mi vehicula, ut bibendum lorem tristique. Curabitur euismod hendrerit erat, ut bibendum magna elementum at.</p>
			</header>
			<div class="footer">
				<h4><span class="label label-success">Current:</span> January 2014 Releases </h4>
				<p><a href="#">Full Download</a></p>
				<p><a href="#">Jan 2013-Jan 2014</a></p>
			</div>
		</div>
	</div>