
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h1>SNOMED CT - Downloads</h1>
		</div>
	</div>
</div>

<div ng-repeat="memberReleases in releasePackagesByMember | orderBy: releasePackageOrderBy">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div>
				<h2>
					{{memberReleases.packages[0].member.key | enum:'global.member.'}} 
					<a class="btn-sm btn-link" ng-click="viewLicence(memberReleases.packages[0].member.key)">View Licence</a>
				</h2>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="releasePackage in memberReleases.packages | orderBy:utils.getLatestPublishedDate:true | filter: utils.isPackagePublished">
		<div class="col-sm-12 col-md-12 col-lg-12"> 
			<div class="well package">
				<div class="pull-right" ng-show="$root.authenticated">
					<span class="alert alert-warning" ng-show="!isPrimaryApplicationApproved">Primary application is being processed</span>
					<button class="btn btn-success pull-right" ng-show="isMembershipUnstarted && isPrimaryApplicationApproved && !isIHTSDOPackage" ng-click="utils.openExtensionApplication(releasePackage)">			
						Apply for extension
					</button>
					<span class="alert alert-warning" ng-show="isMembershipIncomplete && !isApplicationWaitingForApplicant && isPrimaryApplicationApproved && !isIHTSDOPackage">Application being processed</span>
					<span class="alert alert-warning" ng-show="isMembershipIncomplete && isApplicationWaitingForApplicant && !isIHTSDOPackage">
						Application being updated, 
						<span ng-click="goToExtensionApplication()" class="btn btn-link">click to view application.</span>
					</span>
				</div>
					<h3>{{releasePackage.name}}</h3>
					<p>{{releasePackage.description}}</p>
							<div ng-repeat="version in releasePackage.releaseVersions | filter: utils.isVersionOnline"
							ng-show="utils.isLatestVersion(version, (releasePackage.releaseVersions | filter: utils.isVersionOnline))" 
							ng-click="goToViewPackagePage(releasePackage.releasePackageId)">
								<div class="col-sm-2"><strong>Current: {{version.name}}</strong></div>
								<ul class="list-unstyled">
									<li ng-repeat="releaseFile in version.releaseFiles">
										<a href="{{'/app/rest/releasePackages/'+releasePackage.releasePackageId+'/releaseVersions/'+releaseVersion.releaseVersionId+'/releaseFiles/'+releaseFile.releaseFileId+'/download'}}" class="btn btn-link" ng-disabled="!releaseFile.downloadUrl || isMembershipUnstarted || isMembershipIncomplete" target="_blank">{{releaseFile.label}}</a>
									</li>
								</ul>
							</div>
				</div>
	
			</div>
		</div>
	</div>
</div>

<div ng-show="releasePackagesByMember.length == 0">
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-circle"></i> There are currently no release packages available.
	</div>
</div>