
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h1>Releases available for Registered Users</h1>
			<p ng-show="!$root.authenticated">Click <a href="#/register">Register</a> to Start Application Process</p>
		</div>
	</div>
</div>

<div ng-repeat="memberReleases in releasePackagesByMember | orderBy: releasePackageOrderBy">
	<div class="row" ng-show="$index === 1">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="release-divider">
			<h2>Member Country Releases</h2>
			<p>If the country you're looking for is not in this list, please refer to the <a href="http://www.ihtsdo.org/">IHTSDO website</a>
			for release download information.</p>  
		</div>
		</div>
	</div>
		
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="release-header">
				<h2 id="{{'section-'+memberReleases.member.key}}">
					{{memberReleases.member.key | enum:'global.member.'}} 
					<a class="btn btn-sm btn-link" ng-click="viewLicence(memberReleases.packages[0].member.key)">View Licence</a>
				</h2>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="releasePackage in memberReleases.packages | orderBy:utils.getLatestPublishedDate:true | filter: utils.isPackagePublished" ng-controller="ViewReleaseController">
		<div class="col-sm-12 col-md-12 col-lg-12"> 
			<div class="panel panel-default release-package">	
				<div class="panel-heading">	
					<div ng-class="{'status text-muted': !isMembershipInGoodStanding}">
						
					<!-- Warnings and action invitations -->
					<a class="btn btn-sm btn-success pull-right" href="#/login"
						ng-show="!$root.authenticated">
						Login to download
					</a>
					<span class="btn-sm btn-warning pull-right"
						ng-show="$root.authenticated && isAccountDeactivated">
						Account Deactivated
					</span>
					<a class="btn btn-sm btn-warning pull-right"
						href="#/affiliateRegistration"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationWaitingForApplicant"
						>
						Primary application needs attention
					</a>
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && !isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved">
						Primary application is being processed
					</span>
					<button class="btn btn-sm btn-success pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipUnstarted"
						ng-click="utils.openExtensionApplication(releasePackage)">
							Apply for extension
					</button>
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipIncomplete && !isApplicationWaitingForApplicant">
						Application being processed
					</span>
					<button class="btn btn-sm btn-warning pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipIncomplete && isApplicationWaitingForApplicant"
						ng-click="goToExtensionApplication()" >
						Application needs attention, click to continue application
					</button>
						<div>
							<h3 class="panel-title" ng-click="goToViewPackagePage(releasePackage.releasePackageId)">{{releasePackage.name}}</h3>
						</div>
					</div>
				</div>
			  <div class="panel-body">
			   {{releasePackage.description}}
			  </div>
			</div>
		</div>
	</div>
</div>

<div ng-show="releasePackagesByMember.length == 0">
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-circle"></i> There are currently no release packages available.
	</div>
</div>