<div class="row">
	<div class="page-header" ng-repeat="releasePackage in releasePackages">
		<h1>SNOMED CT International Edition Releases</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet eleifend est. Aenean iaculis faucibus porta. Mauris mollis vitae metus eget hendrerit. Fusce consequat ultricies ante. Aenean urna leo, iaculis vitae nunc id, pretium facilisis purus. Sed luctus, turpis ac varius egestas, ante felis convallis justo, eget imperdiet urna odio quis ipsum. Mauris dignissim, lorem vitae faucibus aliquam, elit purus dictum nisi, ac fringilla metus mauris vestibulum libero. Proin convallis pulvinar massa, et vehicula lacus vestibulum id. Fusce semper turpis vitae mi vehicula, ut bibendum lorem tristique. Curabitur euismod hendrerit erat, ut bibendum magna elementum at.

		</p>
	</div>

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Version</th>
				<th>Name</th>
				<th>Files</th>
				<th>Description</th>
				<th>Date Released</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>

	</table>
</div>