<div class="row">
	<div class="col-md-12">
	<button ng-click="goToViewPackages()" type="button" class="btn btn-link">Back to all available releases</button>
	</div>
</div>

<div class="row" >
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h2>{{releasePackage.name}} <button class="btn btn-sm btn-link" ng-click="viewLicence(releasePackage.member.key)">View Licence</button></h2>
			<p>{{releasePackage.description}}</p>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default release-package package" ng-repeat="releaseVersion in releaseVersions.online">
			<div class="panel-heading status">
				<div class="status">
					<!-- Warnings and action invitations -->
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && isAccountDeactivated">
						Account Deactivated
					</span>
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && isPendingInvoice && isMembershipApproved">
						Pending Invoice
					</span>
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && !isPrimaryApplicationApproved">
						Primary application is being processed
					</span>
					<button class="btn btn-sm btn-success pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipUnstarted"
						ng-click="utils.openExtensionApplication(releasePackage)">
							Apply for extension
					</button>
					<span class="alert-danger-flag pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipIncomplete && !isApplicationWaitingForApplicant">
						Application being processed
					</span>
					<button class="btn btn-sm btn-warning pull-right"
						ng-show="$root.authenticated && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage && isMembershipIncomplete && isApplicationWaitingForApplicant"
						ng-click="goToExtensionApplication()" >
						Application needs attention, click to continue application
					</button>
					
					<h3 class="panel-title">{{releaseVersion.name}}</h3>
				</div>
			</div>
			<div class="panel-body">
				<p>{{releaseVersion.description}}</p>
					<span><strong>Published On:</strong> {{releaseVersion.publishedAt | date: 'yyyy-MM-dd'}}</span>
			</div>
			<div class="panel-footer"
				ng-show="$root.authenticated">
				<div class="row">
				<div class="col-md-2">
					<span class="version-title">File:</span>
				</div>
				<div class="col-md-10">
					<div ng-repeat="releaseFile in releaseVersion.releaseFiles">
						<i class="fa fa-file"></i>
						<button class="btn btn-link disabled no-padding" disabled="disabled" 
							ng-show="!releaseFile.clientDownloadUrl || !isMembershipInGoodStanding">
							{{releaseFile.label}}
						</button>
						
						<a href="{{releaseFile.clientDownloadUrl}}" 
							ng-hide="!releaseFile.clientDownloadUrl || !isMembershipInGoodStanding" 
							target="_blank">
							{{releaseFile.label}}
						</a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

