<div class="row" >
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h2>{{releasePackage.name}} <button class="btn-sm btn-link" ng-click="viewLicence(releasePackage.member.key)">View Licence</button></h2>
			<p>{{releasePackage.description}}</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default release-package package" ng-repeat="releaseVersion in releaseVersions.online">
			<div class="panel-heading">	
				<header>	
					<h3>{{releaseVersion.name}}</h3>
				</header>
			</div>
			<div class="panel-body">
				<p>{{releaseVersion.description}}</p>
					<span><strong>Published On:</strong> {{releaseVersion.publishedAt | date: 'longDate'}}</span>
			</div>
			<div class="panel-footer">
				<div class="col-md-2">
					<span class="version-title">File:</span>
				</div>
				<div class="col-md-6">
					<p ng-repeat="releaseFile in releaseVersion.releaseFiles">
						<i class="fa fa-file"></i> <a href="{{releaseFile.clientDownloadUrl}}" class="btn btn-link" ng-disabled="!releaseFile.clientDownloadUrl || !isMembershipInGoodStanding" target="_blank">{{releaseFile.label}}</a>
					</p>
					<a class="btn btn-success pull-right" ng-show="!$root.authenticated" href="#/login">
						Login to download
					</a>
				</div>
				<div class="pull-right" ng-show="$root.authenticated">
					<div ng-show="isAccountDeactivated">
						<span class="btn-sm btn-warning pull-right" ng-show="isAccountDeactivated">Account Deactivated</span>
					</div>
					<div ng-show="!isAccountDeactivated">
						<span class="alert alert-warning" ng-show="!isPrimaryApplicationApproved">Primary application is being processed</span>
						<button class="btn btn-success pull-right" ng-show="isMembershipUnstarted && isPrimaryApplicationApproved && !isIHTSDOPackage" ng-click="utils.openExtensionApplication(releasePackage)">			
							Apply for extension
						</button>
						<span class="alert alert-warning" ng-show="isMembershipIncomplete && !isApplicationWaitingForApplicant && isPrimaryApplicationApproved && !isIHTSDOPackage">Application being processed</span>
						<span class="alert alert-warning" ng-show="isMembershipIncomplete && isApplicationWaitingForApplicant && !isIHTSDOPackage">
							Application being updated, 
							<span ng-click="goToExtensionApplication()" class="btn btn-link">click to view application.</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
	<button ng-click="goToViewPackages()" type="button" class="btn btn-link">Back to view all available releases</button>
	</div>
</div>