
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h1>Releases available for Registered Users</h1>
			<p ng-show="!$root.authenticated">Click <a href="#/register">Register</a> to Start Application Process</p>
		</div>
	</div>
</div>

<div ng-repeat="memberReleases in releasePackagesByMember | orderBy: releasePackageOrderBy">
	<div class="row" ng-show="$index === 1">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<hr>
			<h2>Member Country Releases</h2>
			<p>If the country you're looking for is not in this list, please refer to the <a href="http://www.ihtsdo.org/">IHTSDO website</a>
			for release download information.</p>  
		</div>
	</div>
		
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div>
				<h2>
					{{memberReleases.packages[0].member.key | enum:'global.member.'}} 
					<a class="btn-sm btn-link" ng-click="viewLicence(memberReleases.packages[0].member.key)">View Licence</a>
				</h2>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="releasePackage in memberReleases.packages | orderBy:utils.getLatestPublishedDate:true | filter: utils.isPackagePublished" ng-controller="ViewReleaseController">
		<div class="col-sm-12 col-md-12 col-lg-12"> 
			<div class="panel panel-default release-package">	
				<div class="panel-heading">	
					<div ng-class="{'status text-muted': !isMembershipInGoodStanding}">
						<div ng-show="$root.authenticated">
							<div ng-show="isAccountDeactivated">
								<span class="btn-sm btn-warning pull-right" ng-show="isAccountDeactivated">Account Deactivated</span>
							</div>
							<div ng-show="!isAccountDeactivated">
								<span class="btn-sm btn-warning pull-right" ng-show="isPrimaryApplicationWaitingForApplicant">Primary application needs attention</span>
								<span class="btn-sm btn-warning pull-right" ng-show="!isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved">Primary application is being processed</span>
								<button class="btn-sm btn-success pull-right" ng-show="isMembershipUnstarted && isPrimaryApplicationApproved && !isIHTSDOPackage" ng-click="utils.openExtensionApplication(releasePackage)">			
									Apply for extension
								</button>
								<span class="btn-sm btn-warning pull-right" ng-show="isMembershipIncomplete && !isApplicationWaitingForApplicant && isPrimaryApplicationApproved && !isIHTSDOPackage">Application being processed</span>
								<span class="btn-sm btn-warning pull-right" ng-show="isMembershipIncomplete && isApplicationWaitingForApplicant && !isIHTSDOPackage">
									Application in progress, 
									<span ng-click="goToExtensionApplication()" class="btn-sm btn-link">click to continue application.</span>
								</span>
							</div>
						</div>
						<div>
							<h3 class="panel-title" ng-click="goToViewPackagePage(releasePackage.releasePackageId)">{{releasePackage.name}}</h3>
						</div>
					</div>
				</div>
			  <div class="panel-body">
			   {{releasePackage.description}}
			  </div>
			  <div class="panel-footer">
			 		<div class="row" ng-repeat="version in releasePackage.releaseVersions | filter: utils.isVersionOnline"
						ng-show="utils.isLatestVersion(version, (releasePackage.releaseVersions | filter: utils.isVersionOnline))">
						<div class="col-md-1">
							<div class="version-title">Versions: </div>
						</div>
						<div class="col-md-10" >
							<h4 class="version">{{version.name}}</h4>
							<span>{{version.publishedAt | date: 'longDate'}}</span>
							<!-- Removed for MLDS-690
							<ul class="list-unstyled">
							  <li ng-repeat="releaseFile in version.releaseFiles">
									<i class="fa fa-file"></i>
									<span ng-show="releaseFile.clientDownloadUrl && isMembershipInGoodStanding">
										<a href="{{releaseFile.clientDownloadUrl}}" class="btn btn-link" target="_blank">{{releaseFile.label}}</a>
									</span>
									<span ng-show="!(releaseFile.clientDownloadUrl && isMembershipInGoodStanding)">
										{{releaseFile.label}}
									</span>
								</li>
							</ul>
							 -->
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="releasePackagesByMember.length == 0">
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-circle"></i> There are currently no release packages available.
	</div>
</div>