
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="page-header">
			<h1>
				Available Release Packages
			</h1>
		</div>
	</div>
</div>

<div class="row" ng-repeat="releasePackagesPair in releasePackagesByMember">
<h1>{{'global.member.'+releasePackagesPair[0] | translate}}</h1>

<div class="row" ng-repeat="releasePackage in releasePackagesPair[1] | orderBy:utils.getLatestPublishedDate:true | filter: utils.isPackagePublished">
	<div class="col-sm-12 col-md-12 col-lg-12"> 
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{releasePackage.name}}</h3>
			</div>
			<div class="panel-body">
				<p>{{releasePackage.description}}</p>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Version</th>
							<th>Description</th>
							<th>Files</th>
							<th>Date Released</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="version in releasePackage.releaseVersions | filter: utils.isVersionOnline"
						ng-show="utils.isLatestVersion(version, (releasePackage.releaseVersions | filter: utils.isVersionOnline))" 
						ng-click="goToViewPackagePage(releasePackage.releasePackageId)">
						<td class="col-sm-2">{{version.name}}</td>
						<td class="col-sm-6">{{version.description}}</td>
						<td class="col-sm-2">
							<span ng-repeat="file in version.releaseFiles">
								<span>{{file.label}}</span><span ng-show="!$last">, </span>
							</span>
						</td>
						<td class="col-sm-2">{{version.publishedAt | date:'medium'}}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>
</div>
</div>

<div ng-show="(releasePackages | filter: utils.isPackagePublished).length == 0">
	<div class="alert alert-warning">
		<i class="fa fa-exclamation-circle"></i> There are currently no release packages available.
	</div>

</div>
