<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IHTSDO MLDS</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="styles/famfamfam-flags.css">
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
	
	<script type='text/javascript' src="bower_components/css3-mediaqueries-js/css3-mediaqueries.js"></script>  
	<script type='text/javascript' src="bower_components/es5-shim/es5-shim.js"></script>
	<script type='text/javascript' src="bower_components/placeholders/build/placeholders.js"></script>
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script type='text/javascript' src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
	  <script type='text/javascript' src="bower_components/respond/respond.min.js"></script>
	<![endif]-->

</head>
<body ng-app="MLDS" ng-controller="MainController">
  <div class="development"></div>
  <nav class="navbar navbar-default" role="navigation" ng-switch="authenticated">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a href="#" ng-switch-when="false"><img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo"></a>
        <a href="#/dashboard" ng-switch-when="true"><img class="img-responsive" src="images/logo.jpg" alt="ihtsdo-logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse" >
        <ul class="nav navbar-nav nav-pills navbar-right">
          <li>
          	<a href="#" ng-switch-when="false"> <span translate="global.menu.home">Home</span></a>
          	<a href="#/dashboard" ng-switch-when="true"> <span translate="global.menu.home">Home</span></a>
          </li>
          <li ng-switch-when="false"><a href="#/viewPackages"> <span>SNOWMED CT</span></a></li>
          <li class="dropdown pointer" ng-switch-when="true"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"> <span> <span class="hidden-tablet"
                translate="global.menu.account.main"
              > Account </span> <b class="caret"></b>
            </span>
          </a>
            <ul class="dropdown-menu" ng-controller="MenuController">
              <li><a href="#/dashboard"> <span translate="global.menu.account.dashboard">Dashboard</span></a></li>
              <li><a href="#/contactInfo"> <span translate="global.menu.account.contactInfo">Contact Info</span></a></li>
              <li><a href="#/password"> <span translate="global.menu.account.password">Password</span></a></li>
<!--               <li><a href="#/sessions"> <span translate="global.menu.account.sessions">Sessions</span></a></li> -->
              <li><a href="#/viewPackages"> <span >SNOMED Packages</span></a></li>
            </ul></li>
          <li ng-switch-when="false"><a href="#/login"> <span translate="global.menu.account.login">Login</span></a></li>
          <li ng-switch-when="true"><a href="#/logout"> <span translate="global.menu.account.logout">Log out</span></a></li>
          <li ng-switch-when="true" ng-show="isAuthorized(userRoles.staffOrAdmin)" class="dropdown pointer" ng-controller="AdminController"><a class="dropdown-toggle" data-toggle="dropdown"
            href="javascript:;"
          > <span> <span class="hidden-tablet" translate="global.menu.admin">Admin</span> <b class="caret"></b>
            </span>
          </a>
            <ul class="dropdown-menu">
              <li><a href="#/adminDashboard"> <span translate="global.menu.account.dashboard">Dashboard</span></a></li>
              <li><a href="#/packageManagement"> <span>Package Management</span></a></li>
              <li><a href="#/pendingApplications"> <span>Pending Applications</span></a></li>
              <li><a href="#/countries"> <span  >Countries</span></a></li>
              <li class="divider"></li>
              <li><a href="#/metrics"> <span translate="global.menu.account.metrics">Metrics</span></a></li>
              <li><a href="#/audits"> <span translate="global.menu.account.audits">Audits</span></a></li>
              <li><a href="#/logs"> <span translate="global.menu.account.logs">Logs</span></a></li>
              <li><a href="#/docs"> <span translate="global.menu.account.apidocs">API Docs</span></a></li>
            </ul></li>
          <li class="dropdown pointer" ng-controller="LanguageController"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"> <span> <span class="hidden-tablet"
                translate="global.menu.language"
              >Language</span> <b class="caret"></b>
            </span>
          </a>
            <ul class="dropdown-menu">
<!--               <li active-menu="da"><a href="#" ng-click="changeLanguage('da')"><span class="famfamfam-flag-dk"></span> &nbsp;<span translate="global.language.da">Danish</span></a></li> -->
              <li active-menu="en"><a href="" ng-click="changeLanguage('en')"><span class="famfamfam-flag-gb"></span> &nbsp;<span translate="global.language.en">English</span></a></li>
              <li active-menu="fr"><a href="" ng-click="changeLanguage('fr')"><span class="famfamfam-flag-fr"></span> &nbsp;<span translate="global.language.fr">French</span></a></li>
<!--               <li active-menu="de"><a href="#" ng-click="changeLanguage('de')"><span class="famfamfam-flag-de"></span> &nbsp;<span translate="global.language.de">German</span></a></li> -->
<!--               <li active-menu="pl"><a href="#" ng-click="changeLanguage('pl')"><span class="famfamfam-flag-pl"></span> &nbsp;<span translate="global.language.pl">Polish</span></a></li> -->
<!--               <li active-menu="ru"><a href="#" ng-click="changeLanguage('ru')"><span class="famfamfam-flag-ru"></span> &nbsp;<span translate="global.language.ru">Russian</span></a></li> -->
            </ul></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" ng-view=""></div>

<footer class="navbar-fixed-bottom">
      <div class="container">
        <p class="muted pull-left">&copy; IHTSDO 2014</p>
        <a class="btn btn-link pull-right" target="_blank" href="/tos.html">Terms and Conditions FIXME COPY</a>

    </div>
  </footer>


  <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->


  <!-- build:js scripts/scripts.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/intl-tel-input/build/js/intlTelInput.js" charset="UTF-8"></script>
  <script src="scripts/http-auth-interceptor.js"></script>
  <script src="scripts/truncate.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="scripts/controllers/ActivationController.js"></script>
  <script src="scripts/controllers/AdminDashboardController.js"></script>
  <script src="scripts/controllers/AddInstitutionController.js"></script>
  <script src="scripts/controllers/AddPackageModalController.js"></script>
  <script src="scripts/controllers/AddEditReleaseVersionModalController.js"></script>
  <script src="scripts/controllers/AddReleaseFileModalController.js"></script>
  <script src="scripts/controllers/AddUsageReportController.js"></script>
  <script src="scripts/controllers/ApplicationReviewController.js"></script>
  <script src="scripts/controllers/ApplicationReviewComparisonSearchController.js"></script>
  <script src="scripts/controllers/ApproveApplicationConfirmationModalController.js"></script>
  <script src="scripts/controllers/ApproveApplicationModalController.js"></script>
  <script src="scripts/controllers/ChangeRequestedModalController.js"></script>
  <script src="scripts/controllers/ContactInfoController.js"></script>
  <script src="scripts/controllers/EditInstitutionController.js"></script>
  <script src="scripts/controllers/DeleteInstitutionController.js"></script>
  <script src="scripts/controllers/DeletePackageModalController.js"></script>
  <script src="scripts/controllers/DeleteVersionModalController.js"></script>
  <script src="scripts/controllers/EditCountController.js"></script>
  <script src="scripts/controllers/EditPackageModalController.js"></script>
  <script src="scripts/controllers/PendingApplicationsController.js"></script>
  <script src="scripts/controllers/RemoveCountryController.js"></script>
  <script src="scripts/controllers/PackageManagementController.js"></script>
  <script src="scripts/controllers/PackageController.js"></script>
  <script src="scripts/controllers/RetractUsageReportController.js"></script>
  <script src="scripts/controllers/ReviewRequestedModalController.js"></script>
  <script src="scripts/controllers/SubmitUsageReportController.js"></script>
  <script src="scripts/controllers/AffiliateRegistrationController.js"></script>
  <script src="scripts/controllers/AffiliateRegistrationReviewController.js"></script>
  <script src="scripts/controllers/TakeOfflineModalController.js"></script>
  <script src="scripts/controllers/TakeOnlineModalController.js"></script>
  <script src="scripts/controllers/LoginController.js"></script>
  <script src="scripts/controllers/RegisterController.js"></script>
  <script src="scripts/controllers/RejectApplicationModalController.js"></script>
  <script src="scripts/controllers/RequestPasswordResetController.js"></script>
  <script src="scripts/controllers/ResetPasswordController.js"></script>
  <script src="scripts/controllers/UserListController.js"></script>
  <script src="scripts/controllers/UserDashboardController.js"></script>
  <script src="scripts/controllers/AffiliateRegistrationUsageLogController.js"></script>
  <script src="scripts/controllers/FullPageUsageLogController.js"></script>
  <script src="scripts/controllers/EmbeddableUsageLogController.js"></script>
  <script src="scripts/controllers/ViewPackagesController.js"></script>
  <script src="scripts/controllers/ViewPackageController.js"></script>
  <script src="scripts/services.js"></script>
  <script src="scripts/services/Events.js"></script>
  <script src="scripts/services/DomainBlacklistService.js"></script>
  <script src="scripts/services/UserRegistrationService.js"></script>
  <script src="scripts/services/AuthenticationSharedService.js"></script>
  <script src="scripts/services/CountryService.js"></script>
  <script src="scripts/services/CommercialUsageService.js"></script>
  <script src="scripts/services/AffiliateService.js"></script>
  <script src="scripts/services/Register.js"></script>
  <script src="scripts/services/ReleaseFilesService.js"></script>
  <script src="scripts/services/ReleaseVersionsService.js"></script>
  <script src="scripts/services/PackagesService.js"></script>
  <script src="scripts/services/PackageUtilsService.js"></script>
  <script src="scripts/services/USER_ROLES.js"></script>
  <script src="scripts/services/UserSession.js"></script>
  <script src="scripts/directives/activeLink.js"></script>
  <script src="scripts/directives/activeMenu.js"></script>
  <script src="scripts/directives/autoSubmit.js"></script>
  <script src="scripts/directives/bsValidation.js"></script>
  <script src="scripts/directives/dateAfterValidation.js"></script>
  <script src="scripts/directives/inputTel.js"></script>
  <script src="scripts/directives/passwordStrengthBar.js"></script>
  <script src="scripts/directives/unique.js"></script>
  <script src="scripts/country/router_country.js"></script>
  <script src="scripts/country/controller_country.js"></script>
  <script src="scripts/country/service_country.js"></script>
  <!-- endbuild -->

  <!-- Jira feedback widget -->
  <script type="text/javascript"
    src="https://jira.ihtsdotools.org/s/d41d8cd98f00b204e9800998ecf8427e/en_US-v99clk-1988229788/6262/3/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=89d47347"
  ></script>

</body>
</html>
