<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/bower_components/**" security="none" />
    <http pattern="/css/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/js/**" security="none" />
    <http pattern="/templates/**" security="none" />

    
	<http realm="MLDS" auto-config="false" entry-point-ref="vfLoginUrlAuthenticationEntryPoint">
		<logout logout-success-url="/" />
		<form-login login-page="/login.html" authentication-failure-handler-ref="vfAuthFailureHandler" 
		    default-target-url="/"/>
		    <!-- 
		<remember-me key="an1d1fr4c0Rul3s" use-secure-cookie="true"/>
		     --> 
		<anonymous/>
		<intercept-url pattern="/api/authenticate" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
		<intercept-url pattern="/admin" access="ROLE_ADMINISTRATOR" requires-channel="https"/>
		<intercept-url pattern="/dashboard" access="ROLE_USER" requires-channel="https"/>
		<intercept-url pattern="/login.html" requires-channel="https" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<!-- 
		<intercept-url pattern="/**" requires-channel="https"/>
		 -->
	</http>
	
	<beans:bean id="vfAuthFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/login.html?error=1" />
	</beans:bean>

	<beans:bean id="vfLoginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.html"/>
    	<beans:property name="forceHttps" value="true"></beans:property>
	</beans:bean>

	<beans:bean id="org.springframework.security.authentication.AuthenticationProvider" class="ca.intelliware.ihtsdo.mlds.stormpath.StormpathAuthenticationProvider">
		<beans:property name="client" ref="stormpathClient"/>
		<beans:property name="applicationRestUrl" value="https://api.stormpath.com/v1/applications/25dDiN6pTMT6tP1sfQGP78"/>
	</beans:bean>
	<beans:bean id="stormpathClient" class="ca.intelliware.ihtsdo.mlds.web.StormpathClientFactory">
		<beans:property name="apiKeyProperties">
			<beans:props>
				<beans:prop key="apiKey.id">59DFF1KVG4OXXEJGVZNX04QXM</beans:prop>
				<beans:prop key="apiKey.secret">S35jsyb1CVUL0JVj6fPsTNTol8tp3Qq85Eusva631aQ</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
    <authentication-manager>
        <authentication-provider ref="org.springframework.security.authentication.AuthenticationProvider">
		</authentication-provider>
    </authentication-manager>
</beans:beans>