<div class="modal-header">
     <h3 class="modal-title" ng-show="isNewObject">Add Release Version</h3>
     <h3 class="modal-title" ng-show="!isNewObject">Edit Release Version</h3>
 </div>
 <div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
 	  <form name="formPackageVersion" bs-validation>

      <div class="form-group">
          <label>Name</label> 
          <input class="form-control" placeholder="Enter Version Name" name="name" ng-model="releaseVersion.name" ng-required="true">
          <span ng-show="formPackageVersion.name.$error.required && submitAttempted" class="help-block">Required Field</span>
      </div>
      <div class="form-group">
          <label>Description</label> 
          <textarea class="form-control" rows="3" placeholder="Enter Version Description" name="description" ng-model="releaseVersion.description" ng-required="true"></textarea>
          <span ng-show="formPackageVersion.description.$error.required && submitAttempted" class="help-block">Required Field</span>
      </div>
	</form>
 	
 </div>
 <div class="modal-footer">
     <button class="btn btn-secondary btn-link" ng-click="$dismiss()">Cancel</button>
     <button class="btn btn-success" ng-show="formPackageVersion.$invalid" ng-click="submitAttempted = true">Save</button>
     <button class="btn btn-success" ng-hide="formPackageVersion.$invalid" ng-click="ok(formPackageVersion)" ng-disabled="submitting">Save
     	<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
     </button>
 </div>
