<div class="modal-header">
     <h3 class="modal-title">Add Release File</h3>
 </div>
 <div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
 	  <form name="formReleaseFile" bs-validation role="form">
 	  <div class="row">
       <div class="col-md-12">
      <div class="form-group">
          <label>Label</label> 
          <input class="form-control" placeholder="Enter Display Label For File" name="label" ng-model="releaseFile.label" ng-required="true"/>
          <span ng-show="formReleaseFile.label.$error.required && submitAttempted" class="help-block">Required Field</span>
      </div>
      <div class="form-group">
   
          <label>Download URL</label> 
          <input class="form-control" rows="3" placeholder="Enter File Download URL" name="downloadUrl" ng-model="releaseFile.downloadUrl" ng-required="true" type="url"/>
          <span ng-show="formReleaseFile.downloadUrl.$error.required && submitAttempted" class="help-block">Required Field</span>
          <span ng-show="formReleaseFile.downloadUrl.$error.url && submitAttempted" class="help-block">Invalid URL</span>
      </div>
      </div>
	</form>
</div>
 </div>
 <div class="modal-footer">
     <button class="btn btn-secondary btn-link" ng-click="$dismiss()">Cancel</button>
     <button class="btn btn-success" ng-show="formReleaseFile.$invalid" ng-click="submitAttempted = true"><i class="fa fa-plus"></i> Add</button>
     <button class="btn btn-success" ng-hide="formReleaseFile.$invalid" ng-click="ok(formReleaseFile)" ng-disabled="submitting">
     	<i class="fa fa-plus"></i>
     	Add
     	<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
     </button>
 </div>
