<div class="modal-header">
     <h3 class="modal-title">Add Release</h3>
 </div>
 <div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
 	  <form name="formPackage" bs-validation>
      <div class="form-group">
          <label>Name</label> 
          <input class="form-control" placeholder="Enter Release Name" name="name" ng-model="releasePackage.name" ng-required="true">
          <span ng-show="formPackage.name.$error.required && submitAttempted" class="help-block">Required Field</span>
      </div>
      <div class="form-group">
          <label>Description</label> 
          <div text-angular name="description" ng-model="releasePackage.description"></div>
          <span ng-show="formPackage.description.$error.required && submitAttempted" class="help-block">Required Field</span>
      </div>
      <div class="form-group" ng-show="$root.Session.isAdmin()">
          <label>Member</label>
          <select class="form-control" name="member" 
          	ng-model="releasePackage.member" ng-options="m as (m.key | enum:'global.member.') for m in members track by m.key">
          </select>
      </div>
      </div>
	</form>
 </div>
 <div class="modal-footer">
     <button class="btn btn-secondary btn-link" ng-click="$dismiss()">Cancel</button>
     <button class="btn btn-success" ng-show="formPackage.$invalid" ng-click="submitAttempted = true"><i class="fa fa-plus"></i> Add</button>
     <button class="btn btn-success" ng-hide="formPackage.$invalid" ng-click="ok(formPackage)" ng-disabled="submitting">
     	<i class="fa fa-plus"></i>
     	Add
     	<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
     </button>
 </div>