<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Affiliates</h2>
			<button class="btn btn-primary" ng-model="showAllAffiliates" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Show all affiliates</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Type</th>
						<th>Member</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="affiliate in affiliates | filter: affiliatesFilter">
					<td>{{affiliate.affiliateDetails.organizationName ? affiliate.affiliateDetails.organizationName : affiliate.affiliateDetails.firstName + ' '+affiliate.affiliateDetails.lastName}}</td>
					<td>{{'approval.state.'+affiliate.application.approvalState | translate}}</td>
					<td>{{'affiliate.type.'+affiliate.application.type | translate}} - {{'affiliate.subType.'+affiliate.application.subType | translate}}</td>
					<td>{{affiliate.homeMember.key}}</td>
					<td> <a class="btn btn-primary btn-sm" ng-click="viewApplication(affiliate.application)"><i class="fa fa-pencil"></i> Application</a></td>
				</tr>
				</tbody>
			</table>

	</div>
</div>