<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<span class="pull-right"><a href="#/affiliates">Back to Affiliate Management</a></span>
			<h1>Affiliate Review</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="alert alert-warning" ng-show="!isEditable">
			You can view applications submitted to other Member Registration Centres, but you cannot process them.
		</div>
		<div ng-include="'views/contactInfo.html'"></div>
	</div>
	
	<div class="col-md-4">
		<h2>Applications</h2>
		
		<div ng-repeat="application in affiliate.applications">
			<div class="col-xs-8">
				{{'application.applicationType.'+application.applicationType | translate}}
			</div>
			<div class="col-xs-4">
				<a class="btn btn-primary btn-sm" ng-show="isApplicationApproved(application)" ng-click="viewApplication(application)"><i class="fa fa-eye"></i> Application</a>			
				<a class="btn btn-primary btn-sm" ng-show="!isApplicationApproved(application)" ng-click="approveApplication(application)"><i class="fa fa-eye"></i> Application</a>			
			</div>
		</div>
	</div>
</div>



