<div ng-hide="loading">

<div class="row">
	<div class="col-md-12">
		<div class="page-header">	
			<span><a href="#/affiliateManagement"><i class="fa fa-angle-double-left"></i> Back to Affiliate Management</a></span>
			<h1>
				{{(affiliate.affiliateDetails.organizationName) ? affiliate.affiliateDetails.organizationName : affiliate.affiliateDetails.firstName + ' ' + affiliate.affiliateDetails.lastName}}
			</h1>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div class="col-sm-12" ng-show="!affiliate.creator && $root.Session.isAdmin()">
		<div class="alert alert-warning">
			<button class="btn btn-xs btn-success pull-right" ng-click="createLogin()">
				Create Login
			</button>
			User does not have a login
		</div>
	</div>

	<div class="col-md-8">
		<div class="applicant-info">
			<div class="alert alert-warning" ng-hide="isEditable">
				You can view applications submitted to other Member Registration Centres, but you cannot process them.
			</div>
			<p><strong>Affiliate No:</strong> {{affiliate.affiliateId}}</p>
			<hr>
			<div ng-include src="'views/affiliateDetailsSummary.html'"></div>
			<div class="row">
				<div class="col-sm-12"
					ng-include="'views/usageReportsTable.html'" ng-controller="UsageReportsTableController">
				</div>
			</div> 
		</div>
	</div>
	<div class="col-md-4">
		<form name="notesForm" novalidate bs-validation>
			<div class="form-group">
				<div class="pull-right">
					<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
					<button class="btn btn-success btn-xs" ng-click="submit()" ng-show="isEditable" ng-disabled="submitting || !isEditable">
						Save
					</button>
				</div>
			</div>
			<div class="form-group">
				<label>Staff Notes</label>
				<textarea class="form-control" rows="10" required name="notesInternal" ng-model="affiliate.notesInternal" ng-disabled="!isEditable" auto-submit></textarea>
			</div>
		</form>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Application History</h4>
			</div>
			<div class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="application in affiliate.applications | orderBy:['-submittedAt','-createdAt']">
							<div class="row">
								<div class="col-xs-4 no-padding">
									<strong>{{application.applicationType | enum:'application.applicationType.'}}</strong><br>
									<small>{{application.submittedAt | date: 'yyyy-MM-dd' }}</small>
								</div>
								<div class="col-xs-2 no-padding" ng-class="{'text-warning':isApplicationPending(application), 'text-danger':isApplicationWaitingForApplicant(application)}" style="margin-top: 0.5em;">
									<strong>{{application.approvalState | enum:'approval.state.'}}</strong>
								</div>
								<div class="col-xs-6 no-padding">
									<a class="btn btn-primary btn-sm pull-right" ng-show="isApplicationApproved(application)" ng-click="viewApplication(application)"><i class="fa fa-eye"></i> Application</a>			
									<a class="btn  btn-primary btn-sm pull-right" ng-show="!isApplicationApproved(application)" ng-click="approveApplication(application)"><i class="fa fa-warning"></i> Application</a>			
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Account Activity</h3>
		<div ng-include="'views/auditsEmbed.html'"></div>
	</div>
</div>

</div>