<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		 <span class="pull-right"><a href="#/pendingApplications">Back to Pending Applications</a></span>
      	<h1> Application Review</h1>
      	      </div>
    
  </div>
</div>

    <div class="col-md-8">
      <div class="well">
      <h4><span ng-show="pending.application.organizationName">{{pending.application.organizationName}} - </span>
       {{pending.application.name}}</h4>
       <p> <strong>Application Date: {{pending.application.submittedAt | date}}</strong> </p>
       <p><strong>Status:</strong> {{'approval.state.'+pending.application.approvalState | translate}}</p>
       <p><strong>Issue No:</strong> {{pending.application.applicationId}}</p>
       <ul class="list-group">
         <li class="list-group-item list-group-item-info"><h4>Affiliate Info</h4></li>
         <li class="list-group-item" ng-show="pending.application.type!='INDIVIDUAL'"><strong>Organization Type:</strong>
           <span ng-show="affiliateform.organization.type=='OTHER'">{{pending.application.organizatioTypeOther}}</span>
           <span ng-show="affiliateform.organization.type!='OTHER'">{{'licensee.organizationType.'+pending.application.organizationType | translate}}</span> 
         </li>
         <li class="list-group-item"><strong>Use Type:</strong> {{'licensee.type.'+pending.application.type | translate}}</li>
         <li class="list-group-item"><strong>Use Subtype:</strong> {{apending.application.subType}}</li>
         <li class="list-group-item"><strong>Type of Agreement:</strong> {{'licensee.agreementType.'+pending.usage.context.agreementType | translate}}</li>
       </ul>

       <ul class="list-group" ng-show="pending.application.type!='INDIVIDUAL'">
        <li class="list-group-item list-group-item-info"><h4>Affiliate Information:</h4></li>
        <li class="list-group-item"><strong>Organization Name:</strong> {{pending.application.organizationName}}</li>
        <li class="list-group-item"><strong>Address:</strong> {{pending.application.address}}</li>
        <li class="list-group-item"><strong>City:</strong> {{pending.application.city}}</li>
        <li class="list-group-item"><strong>Post Code:</strong> {{pending.application.postCode}}</li>
        <li class="list-group-item"><strong>Country:</strong> {{pending.application.country}}</li>
        <li class="list-group-item"><strong>Phone Number:</strong> {{pending.application.phone}} <span ng-show="affiliateform.contactextension">ext: {{pending.application.extension}}</span></li>
        <li class="list-group-item"><strong>Alternate Email:</strong> {{pending.application.alternateEmail}}</li>
        <li class="list-group-item" ng-show="pending.application.type=='COMMERCIAL'"><strong>Third Email:</strong> {{pending.application.thirdEmail}}</li>
        <li class="list-group-item" ng-show="pending.application.type=='OTHER'"><strong>Other:</strong>{{pending.application.otherText}}</li>
      </ul>


      <ul class="list-group">
        <li class="list-group-item list-group-item-info"><h4>Affiliate User Information</h4></li>
        <li class="list-group-item"><strong>Name:</strong> {{pending.application.name}}</li>
        <li class="list-group-item"><strong>Email:</strong> {{pending.application.email}}</li>
        <li class="list-group-item"><strong>Landline Phone Number:</strong> {{pending.application.phone}} <span ng-show="affiliateform.extension">ext: {{affiliateform.contact.extension}}</span></li>
        <li class="list-group-item"><strong>Mobile Phone Number:</strong> {{pending.application.mobilePhone}}</li>
      </ul>

      <ul class="list-group" ng-show="pending.application.type=='INDIVIDUAL'">
        <li class="list-group-item"><strong>Address:</strong> {{pending.application.address}}</li>
        <li class="list-group-item"><strong>City:</strong> {{pending.application.city}}</li>
        <li class="list-group-item"><strong>Post Code:</strong> {{pending.application.postCode}}</li>
        <li class="list-group-item"><strong>Country:</strong> {{pending.application.country}}</li>
      </ul>

      <ul class="list-group" ng-show="pending.application.type=='COMMERCIAL'">
       <li class="list-group-item list-group-item-info"><h4>Affiliate Billing Information</h4></li>
       <li class="list-group-item"><strong>Address:</strong> {{pending.application.billingStreet}}</li>
       <li class="list-group-item"><strong>City:</strong> {{pending.application.billingCity}}</li>
       <li class="list-group-item"><strong>Post Code:</strong> {{pending.application.billingPostCode}}</li>
       <li class="list-group-item"><strong>Country:</strong> {{pending.application.billingCountry}}</li>
     </ul>

     <ul class="list-group" >
      <li class="list-group-item list-group-item-info"><h4>Usage Context Information</h4></li>
      <li class="list-group-item">
        <strong>Licence Usage:</strong>
        <p class="list-group-item-text">{{pending.usage.context.currentUsage}}</p>
      </li>
      <li class="list-group-item">
        <strong>Planned Future Use:</strong> 
        <p class="list-group-item-text">{{pending.usage.context.plannedUsage}}</p>
      </li>
      <li class="list-group-item">
        <strong>Purpose:</strong> 
        <p class="list-group-item-text">{{pending.usage.context.purpose}}</p>
      </li>
      <li class="list-group-item" ng-show="pending.application.type=='COMMERCIAL'" ng-repeat="countryRecord in usageCountryCountslist">
       <p><strong>Country:</strong> {{countryRecord.country.commonName}} </p>
       <p><strong>Practices:</strong> {{countryRecord.practices}} </p>
       <p><strong>Institutions:</strong> 
       <span ng-repeat="entry in commercialUsageInstitutionsByCountry[countryRecord.country.isoCode2]">
        {{entry.name}}<span ng-show="!$last">,</span>
      </span></p>
    </li>
    
    <li class="list-group-item" ng-show="pending.application.type!='COMMERCIAL'"><strong>Countries:</strong>
     <span ng-repeat="countryRecord in usageCountryCountslist">
      {{countryRecord.country.commonName}}<span ng-show="!$last">,</span>
    </span><br>
  </li>
</ul>
</div>
</div>
<div class="col-md-4">
   <div class="well">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
  <form name="notesForm" novalidate bs-validation >
   <div class="form-group">
   		<div class="pull-right" ng-show="submitting"><i class="fa fa-spinner"></i></div>
     <label>Staff Notes</label>
     <textarea class="form-control" rows="10" required name="notesInternal" ng-model="pending.application.notesInternal" auto-submit></textarea>
   </div>
 </form>
 <div>
 	<a class="btn btn-success btn-block" ng-click="approveApplication()">Approve Application</a>
  <a class="btn btn-warning btn-block" ng-click="changeRequested()">Change Requested from Applicant</a>
  <a class="btn btn-warning btn-block" ng-click="reviewRequested()">Review Requested from Staff</a>
  <a class="btn btn-danger btn-block" ng-click="rejectApplication()">Decline Application</a>
 </div>

 	

</div>
</div>
