
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h4>Blacklisted Domains</h4>
		</div>
		<form class="form-inline" ng-submit="domainform.submit()"> 
			<div class="form-group">
				<label>Add to Blacklist</label>
				<input type="text" class="form-control" ng-model="domainform.name">
				<input type="submit" class="btn btn-default" value="Add"/>
			</div>
		</form>

		<div class="table-responsive space">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Domain</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="domain in domainBlacklist">
						<td>{{domain.domainname}}</td>
						<td><button class="btn btn-danger" ng-click="removeDomain(domain.domainname)"><i class="fa fa-times"></i>Remove Domain</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>