<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h3 class="modal-title">Failed to Create Login</h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	
	<form name="createLoginForm" bs-validation>
		<div class="form-group">
			<label>Login Email</label> 
			<input class="form-control" type="email" name="email" ng-model="affiliate.affiliateDetails.email" required
				unique="{{[oldEmail]}}"
				/>
			<div ng-show="submitAttempted">
				<p class="help-block" ng-show="!createLoginForm.email.$error.required
			       	&& !createLoginForm.email.$error.email 
			       	&& createLoginForm.email.$error.notUnique ">
			         Email already in use.
				</p>
				<p class="help-block" ng-show="createLoginForm.email.$error.required
			       	&& !createLoginForm.email.$error.email 
			       	&& !createLoginForm.email.$error.notUnique ">
			         Field is required.
			    </p>
			    <p class="help-block" ng-show="!createLoginForm.email.$error.required
			       	&& createLoginForm.email.$error.email 
			       	&& !createLoginForm.email.$error.notUnique ">
			         Please enter a valid email.
			    </p>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-link" ng-click="$dismiss()" ng-disabled="submitting">Cancel</button>
	<button class="btn btn-success" ng-show="createLoginForm.$invalid" ng-click="submitAttempted = true" >
		Retry
	</button>
	<button class="btn btn-success" ng-show="!createLoginForm.$invalid" ng-disabled="submitting" ng-click="ok()">
		Retry
	</button>
</div>