<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
     <h3 class="modal-title">Edit Package</h3>
 </div>
 <div class="modal-body">
 	  <form name="formPackage" bs-validation>
 	  <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <label>Name</label> 
          <input class="form-control" placeholder="Enter Package Name" name="name" ng-model="releasePackage.name" ng-required="true">
          <span ng-show="formPackage.name.$error.required && submitAttempted" class="help-block">Required Field</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <label>Description</label> 
          <textarea class="form-control" rows="3" placeholder="Enter Package Description" name="description" ng-model="releasePackage.description" ng-required="true"></textarea>
          <span ng-show="formPackage.description.$error.required && submitAttempted" class="help-block">Required Field</span>
        </div>
      </div>
      </div>
	</form>
 	
 </div>
 <div class="modal-footer">
     <button class="btn btn-secondary btn-link" ng-click="$dismiss()">Cancel</button>
     <button class="btn btn-success" ng-show="formPackage.$invalid" ng-click="submitAttempted = true">Update</button>
     <button class="btn btn-success" ng-hide="formPackage.$invalid" ng-click="ok(formPackage)" ng-disabled="submitting">
     	Update
     	<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
     </button>
 </div>
