<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
     <h3 class="modal-title">Edit {{'global.member.'+member.key | translate}} License</h3>
 </div>
 <div class="modal-body">
 	   	<form name="licenseForm" action="{{'/app/rest/members/' + member.key + '/license'}}" method="POST" enctype="multipart/form-data" bs-validation>
 	   		<div class="form-group">
	 	   		<label>License File</label>
	 	   		<input class="form-control" type="file" name="file" required ng-model="memberLicenseForm.file"/>
					<p ng-show="licenseForm.file.$error.required && submitAttempted" class="help-block">
            Required Field. {{licenseForm.file.$error}}
          </p> 	   		
          <input type="submit">Submit</input>
 	   		</div>
 	   		
 	   	</form>
 </div>
 <div class="modal-footer">
     <button class="btn btn-link" ng-click="$dismiss()">Close</button>
<!--      <button class="btn btn-success" ng-show="licenseForm.$invalid" ng-click="submitAttempted = true">Save</button> -->
     <button class="btn btn-success" ng-click="memberLicenseForm.submit()">Save</button>
 </div>
