
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="page-header">
			<h1>
				<span translate="views.ihtsdoReleases.title">IHTSDO Releases</span>
			</h1>
			<p>This page contains IHTSDO releases, both production and alpha/beta (technology previews), available for Members to download</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default" ng-repeat="package in onlinePackages">
			<div class="panel-heading">
				<h3 class="panel-title"> <a ng-click="goToPackage(package)">{{package.name}}</a>
				</h3>
			</div>
			<div class="panel-body">

				<div ng-bind-html="package.description"></div>
			</div>
			<div class="panel-footer" ng-repeat="version in package.releaseVersions | filter: utils.isVersionOnline" ng-show="utils.isLatestVersion(version, (package.releaseVersions | filter: utils.isVersionOnline))">
				<div class="row">
					<div class="col-lg-1">
						<div class="current"><span translate="views.ihtsdoReleases.latest">Latest</span>:</div>
					</div>
						<div class="col-lg-10">
						<h4 class="version">{{version.name}} </h4>
						<span><strong><span translate="global.word.publishedOn">Published On</span>:</strong> {{version.publishedAt | date: 'yyyy-MM-dd'}}</span>
						<p class="download-files" ng-repeat="file in version.releaseFiles">
							<i class="fa fa-file"></i>
							<a href="{{file.clientDownloadUrl}}" target="_blank" ng-bind-html="file.label"></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning" ng-show="onlinePackages.length == 0"><i class="fa fa-exclamation-circle"></i> <span translate="views.ihtsdoReleases.noPublicReleases">There are currently no public releases available.</span></div>
	</div>
</div>
