<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Import Affiliate Records</h1>
		</div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		
		<form class="form-inline"> 
			<div class="form-group">
				<label>Upload Affiliate CSV File</label>
				<input type="file" class="form-control" file-model="affiliatesFile">
				<button class="btn btn-success" ng-disabled="submitting" ng-click="uploadFile()">
					<i class="fa fa-upload"></i>
					Upload
					<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
				</button>
			</div>
		</form>
		
		<div ng-show="importResult">
			<h4>Last Import Result</h4>
			<pre>{{importResult}}</pre>
		</div>
		
		<div class="page-header">
			<h2>Export Affiliate Records</h2>
			<p>Export all affiliates in the system in the same format as the <i>Import Affiliate Records</i> format.</p>
			<div>
				<a href="{{exportAffiliatesUrl}}" target="_blank" class="btn btn-default">
					<i class="fa fa-download"></i>
					Export Affiliates
				</a>
			</div>
		</div>
		
		<div class="page-header" ng-show="importSpec">
			<h2>Affiliate Record Format</h2>
			<p>The Affiliate record form is CSV based using <kbd>^</kbd> as a field separator.</p>
			<ul>
				<li>Header row is mandatory and should include the column names in the same order as the column definitions below.</li>
				<li>The <code>importKey</code> should be unique for all the affiliate from a single source member.</li>
				<li>Re-importing an affiliate with <code>member</code>+<code>importKey</code> matching an earlier import will overwrite the data in the system.</li>
			</ul>
			<h4>Example Import with 2 Affiliates</h4>
			<div><pre>{{importSpec.example}}</pre>
			</div>
			<h4>Columns</h4>
			<table class="table table-condensed table-striped table-bordered table-responsive">
			    <thead>
			    <tr>
			        <th>Name</th>
			        <th>Type</th>
			        <th>Required</th>
			        <th>Example</th>
			        <th>Options</th>
			    </tr>
			    </thead>
			
			    <tr ng-repeat="columnSpec in importSpec.columns">
			        <td>{{columnSpec.columnName}}</td>
			        <td>{{columnSpec.attributeClass}}</td>
			        <td>{{columnSpec.required?"Required":""}}</td>
			        <td>{{columnSpec.example}}</td>
			        <td>
			        	<span ng-repeat="option in columnSpec.options">{{option}}{{!$last?", ":""}}</span>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div ng-show="audits" class="page-header">
			<h2>Import Activity</h2>
			<div ng-include="'views/auditsEmbed.html'"></div>
		</div>
	</div>
</div>