<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Import Affiliate Records</h1>
		</div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		
		<form class="form-inline"> 
			<div class="form-group">
				<label>Upload Affiliate CSV File</label>
				<input type="file" class="form-control" file-model="affiliatesFile">
				<button class="btn btn-success" ng-disabled="submitting" ng-click="uploadFile()">
					Upload
					<span ng-show="submitting"><i class="fa fa-spinner"></i></span>
				</button>
			</div>
		</form>
		<div ng-show="importResult">
			<h4>Last Import Result</h4>
			<pre>{{importResult}}</pre>
		</div>
		<div>
			<h2>Export Affiliates as CSV</h2>
			<a href="{{exportAffiliatesUrl}}" target="_blank" class="btn btn-default">Export Affiliates</a>
		</div>
		<div ng-show="audits">
			<h4>Import History</h4>
			<div ng-include="'views/auditsEmbed.html'"></div>
		</div>
	</div>
</div>