<div>
    <h2>License T&C</h2>
    {{canAccess}}
    <table class="table table-striped table-bordered table-hover">
    	<thead>
    		<tr>
    			<th>Member</th>
    			<th>Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="member in members | orderBy: canAccess : true">
    			<td>{{member.key}}</td>
    			<td>
    				<button class="btn btn-default" ng-click="viewLicense(member.key)">View License</button>
    				<button class="btn btn-success" ng-show="canAccess(member)" ng-click="editLicense(member)">Edit License</button>
    			</td>
    		</tr>
    	</tbody>
    </table>
    
</div>
