<div class="page-header">
    <h2>Member Management</h2>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Member</th>
    			<th>Name</th>
    			<th>Public Landing Page</th>
    			<th></th>
    			<th>License</th>
    			<th>Version</th>
    			<th>Last Uploaded</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="member in members | filter: canAccess">
    			<td>{{member.key}}</td>
    			<td>{{member.name}}</td>
    			<td>{{landingPage(member)}}</td>
    			<td>
    				<button class="btn btn-primary" ng-click="viewBranding(member)"><i class="fa fa-image"></i> Branding</button>
    				<button class="btn btn-success" ng-show="canAccess(member)" ng-click="editMember(member)"><i class="fa fa-edit"></i> Edit</button>
    			</td>
    			<td>{{member.licenseName}}</td>
    			<td>{{member.licenseVersion}}</td>
    			<td>{{member.license.lastUpdated | date: 'yyyy-MM-dd'}}</td>
    			<td>
    				<button class="btn btn-primary" ng-click="viewLicense(member.key)"><i class="fa fa-gavel"></i> License</button>
    				<button class="btn btn-success" ng-show="canAccess(member)" ng-click="editLicense(member)"><i class="fa fa-edit"></i> Edit</button>
    			</td>
    		</tr>
    	</tbody>
    </table>
    
</div>
