<div class="row">
	<div class="col-lg-10">
		<h1>Package Details</h1>
		<div class="well">
			<h2>Package Name <a class="btn btn-default pull-right"  ng-click="editReleasePackage()">Edit</a></h2>
		   <h4>Name:</h4>
		   <p>{{packageEntity.name}} </p>
		    <h4>Description:</h4> 
		    <p>{{packageEntity.description}}</p>
		    <p>{{packageEntity}} </p>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-default" ng-click="addReleaseVersion()">Add New Version</button>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<h3>Online Versions</h3>

			<div class="well well-lg package" ng-repeat="releaseVersion in packageEntity.releaseVersions" ng-show="releaseVersion.online">

				<header>	
					<div class="dropdown pull-right">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="">Edit</a></li>
							<li><a ng-click="">Take Offline</a></li>
						</ul>
					</div>
					<a ng-click="goToPackage(package)"><h4> {{releaseVersion.name}}</h4></a>
				</header>
				<p>{{releaseVersion.description}}</p>

				<div class="footer">
					<p ng-repeat="packageFile in releaseVersion.releaseFiles"><a href="{{packageFile.downloadUrl}}">{{packageFile.label}}</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<h3>Offline Versions</h3>

			<div class="well well-lg package" ng-repeat="releaseVersion in packageEntity.releaseVersions" ng-show="!releaseVersion.online">

				<header>	
					<div class="dropdown pull-right">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="">Edit</a></li>
							<li><a ng-click="">Take Online</a></li>
						</ul>
					</div>
					<a ng-click="goToPackage(package)"><h4> {{releaseVersion.name}}</h4></a>
				</header>
				<p>{{releaseVersion.description}}</p>

				<div class="footer">
					<p ng-repeat="packageFile in releaseVersion.releaseFiles"><a href="{{packageFile.downloadUrl}}">{{packageFile.label}}</a></p>
				</div>
			</div>
		</div>
	</div>
	
<div class="row">
	<div class="col-lg-10">
	<button ng-click="goToReleaseManagement()" type="button" class="btn btn-link">Back to Release Management</button>
	</div>
</div>