
<div class="row">

	<div class="col-lg-12">
		<div class="page-header">
			<button class="btn btn-success pull-right" ng-click="addReleasePackage()"><i class="fa fa-plus"></i> Add New Package</button>
			<h2>Release Management</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h3>Public Releases</h3>
		<div class="panel panel-default" ng-repeat="package in packages | orderBy:utils.getLatestPublishedDate:true | filter: utils.isPackagePublished">
			<div class="panel-heading">
				<div class="dropdown pull-right">
					<button class="btn btn-xs btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="editReleasePackage(package)">Edit</a></li>
					</ul>
				</div>
				<h3 class="panel-title"> <a ng-click="goToPackage(package)">{{package.name}}</a></h3>
			</div>
			<div class="panel-body">
				<p>{{package.description}}</p>
				
			</div>
			  <div class="panel-footer" ng-repeat="version in package.releaseVersions | filter: utils.isVersionOnline" ng-show="utils.isLatestVersion(version, (package.releaseVersions | filter: utils.isVersionOnline))">
				<div class="row">
				<div class="col-lg-2">
					<h4><span class="label label-success">Current:</span>  </h4>
				</div>
				<div class="col-lg-10">
					<h4 class="version">{{version.name}} </h4>
				<span><strong>Published On:</strong> {{version.publishedAt | date: 'medium'}}</span>
				<p ng-repeat="file in version.releaseFiles"><a href="{{file.downloadUrl}}" target="_blank">{{file.label}}</a></p>
			  </div>
			   </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
			<h3>Offline Releases</h3>

		<div class="panel panel-default" ng-repeat="package in packages | orderBy:'createdAt':true | filter: not(utils.isPackagePublished)">
		  <div class="panel-heading">
		    <div class="dropdown pull-right">
					<button class="btn btn-xs btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="editReleasePackage(package)">Edit</a></li>
						<li class="divider"></li>
						<li><a ng-click="deleteReleasePackage(package)">Remove</a></li>
					</ul>
				</div>
				<h4 class="panel-title"><a ng-click="goToPackage(package)"> {{package.name}}</a></h4>
		  </div>
		  <div class="panel-body">
		   	<p>{{package.description}}</p>
		   	
		  </div>
		</div>
<div class="alert alert-info" ng-show="(packages | filter: not(utils.isPackagePublished)).length == 0"><i class="fa fa-exclamation-circle"></i> There are currently no offline releases available </div>
	</div>
</div>


