<div>
	<h2>Release Management</h2>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-default" ng-click="openModal()">Add New Packages</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<h3>Public Releases</h3>

			<div class="well well-lg package">

				<header>	
					<div class="dropdown pull-right">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Edit</a></li>
							<li><a ng-click="openModal()">Take Offline</a></li>
						</ul>
					</div>
					<a href="#"><h4> SNOWMED CT International Edition</h4></a>
				</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in hendrerit felis. Pellentesque egestas ipsum et est mollis adipiscing. Proin venenatis id arcu ut volutpat. Mauris in nisi at dolor tempor ultricies vitae quis mauris. Morbi gravida nisl quis neque venenatis, eu porttitor diam aliquet. Nullam tristique et risus non porta. Praesent aliquet est non laoreet viverra.</p>

			<div class="footer">
				<h4><span class="label label-success">Current:</span>  January 2014 Release </h4>
				<p><a href="#">Full Download - Release Format 1 & Release Format 2</a></p>
				<p><a href="#">Jan 2013 - Jan 2014 Delta</a></p>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<h3>Offline Releases</h3>

			<div class="well well-lg package">

				<header>	
					<div class="dropdown pull-right">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Edit</a></li>
							<li><a ng-click="openModal()">Make Public</a></li>
						</ul>
					</div>
					<a href="#"><h4> SNOWMED CT International Edition</h4></a>
				</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in hendrerit felis. Pellentesque egestas ipsum et est mollis adipiscing. Proin venenatis id arcu ut volutpat. Mauris in nisi at dolor tempor ultricies vitae quis mauris. Morbi gravida nisl quis neque venenatis, eu porttitor diam aliquet. Nullam tristique et risus non porta. Praesent aliquet est non laoreet viverra.</p>

			<div class="footer">
				<h4><span class="label label-danger">Offline</span>  January 2014 Release </h4>
				<p><a href="#">Full Download</a></p>
				<p><a href="#">Jan 2013 - Jan 2014 Delta</a></p>
			</div>
			</div>
		</div>
	</div>
	
</div>