<div class="row">
	<div class="col-md-12">
		<h1>Pending Applications</h1>

		<table class="table table-striped table-hover">
			<tr>
				<th>Date Submitted</th>
				<th>Status</th>
				<th>Type</th>
				<th>No. of Sublicences</th>
				<th>Affiliate Name</th>
				<th>Home Country</th>
				<th>Use Type</th>
				<th>Agreement Type</th>
				<th></th>
			</tr>
			<tbody>
				<tr ng-repeat="pending in pendingApplications">
					<td>{{pending.application.submittedAt | date}}</td>
					<td>{{pending.application.approved?"Approved":(pending.application.submitted?"Submitted":"Not Submitted")}}</td>
					<td>New <span class="label label-danger">FIXME</span></td>
					<td>{{totalSublicences(pending.usage)}}</td>
					<td>{{pending.application.organizationName ? pending.application.organizationName : pending.application.name}}</td>
					<td>{{pending.application.country}}</td>
					<td>{{'licensee.type.'+pending.application.type | translate}} - {{pending.application.subType}}</td>
					<td>{{'licensee.agreementType.'+pending.usage.context.agreementType | translate}}</td>
					<td> <a class="btn btn-default btn-xs pull-right" ng-click="goToApplication(application)"><i class="fa fa-pencil"></i> Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>