<div class="row">
	<div class="col-md-12">
		<h1>Pending Applications</h1>

		<table class="table table-striped table-hover">
			<tr>
				<th>Date Submitted</th>
				<th>Status</th>
				<th>Type</th>
				<th>No. of Sublicences</th>
				<th>Affiliate Name</th>
				<th>Home Country</th>
				<th>Use Type</th>
				<th>Agreement Type</th>
				<th></th>
			</tr>
			<tbody>
				<tr ng-repeat="application in applications">
					<td>{{application.username}}</td>
					<td>{{application.approved?"Approved":(application.submitted?"Submitted":"Not Submitted")}}</td>
					<td>??</td>
					<td>??</td>
					<td>{{application.organizationName ? application.organizationName : application.name}}</td>
					<td>??</td>
					<td>{{'licensee.type.'+application.type | translate}} - {{application.subType}}</td>
					<td>??</td>
					<td> <a class="btn btn-default btn-xs pull-right" ng-click="goToApplication(application)"><i class="fa fa-pencil"></i> Edit</a></td>
				</tr>
			</tbody>
		</table>
		
		<div>
		{{applications}}</div>
	</div>
</div>