<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Post Announcement</h2>
		</div>
	</div>
</div>
<div class="row">
	<form name="form" bs-validation>

		<div class="col-md-12">
			<h3>Message Content</h3>

			<div class="form-group">
				<label>Email Subject</label>
				<input class="form-control"
					placeholder="Enter Subject" name="subject"
					ng-model="announcement.subject" ng-required="true" ng-disabled="completed">
				<span
					ng-show="form.subject.$error.required && form.attempted"
					class="help-block">Required Field</span>
			</div>

			<div class="form-group">
				<label>Email Body</label>
				<div text-angular name="body" ng-model="announcement.body"
					ng-required="true" ng-disabled="completed"></div>
				<span class="help-block">Remember to add a salutation and valediction to the email.</span>
				<span ng-show="form.body.$error.required && form.attempted" class="help-block">Required Field</span>
			</div>
		</div>

		<div class="col-md-12">
			<h3>Audience</h3>
			
			<div class="form-group">
				<label>Affiliates</label>
				<div ng-show="isAdmin">
					<select ng-model="includeAllAffiliates">
						<option value="0" selected="selected">My Affiliates ({{announcement.member.key | enum:'global.member.'}})</option>
						<option value="1">All Affiliates</option>
					</select>
				</div>
				<div ng-show="!isAdmin">
					<div>My Affiliates ({{announcement.member.key | enum:'global.member.'}})</div>
				</div>
			</div>
			
			<div class="form-group">
				<label>Additional Email Addresses</label>
				
				<input class="form-control" name="emails" ng-model="emailListString"  ng-disabled="completed">
				<span class="help-block">Send the announcement to additional email addressses.</span>
			</div>
			
		</div>

		<div class="col-md-12">
			<button class="btn btn-success" ng-show="form.$invalid"
				ng-click="form.attempted = true" ng-disabled="completed">
				<i class="fa fa-send"></i>
				Post Announcement
			</button>
			<button class="btn btn-success" ng-hide="form.$invalid"
				ng-click="postAnnouncement()" ng-disabled="submitting || completed">
				<i class="fa fa-send"></i>
				Post Announcement 
				<span ng-show="submitting"><i class="fa fa-spinner fa-spin"></i></span>
			</button>
			<button class="btn btn-success" ng-hide="!completed" ng-click="newAnnouncement()">
				New Announcement
			</button>
		</div>
		
		<div class="col-md-12">
			<alert class="space" ng-repeat="alert in alerts" type="{{alert.type}}"
				close="closeAlert($index)">{{alert.msg}}</alert>
		</div>

	</form>
</div>