<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Release Management &nbsp;&nbsp;<button class="btn btn-success" ng-click="addReleasePackage()"><i class="fa fa-plus"></i> Add Release</button></h2>

			<div ng-if="isAdmin">
				<span>Show releases for: </span>
				<select ng-model="releaseManagementFilter.showAllMembers">
					<option value="" selected="selected" ng-bind="Session.member.key | enum:'global.member.'">Only my releases</option>
					<option value="1">All Members</option>
				</select>
				<a popover-placement="top" popover="Switch between your releases and releases from all members" class="btn btn-link"><i class="fa fa-question-circle fa-2x"></i></a>
			</div>
		</div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
</div>
<div ng-repeat="memberEntry in packagesByMember">
<div class="row">
	<div class="col-lg-8">
		<div class="">
			<h3>Public Releases: <span>{{memberEntry.member.key | enum:'global.member.'}}</span></h3>
			<p>Releases are made public when one or more versions inside the release is made public. To take a release offline, select a release below and set all versions to offline.</p>
		</div>
	 	<div>
	        <label ng-if="memberEntry.member.key != 'IHTSDO'">
	        	<input type="checkbox" name="promotePackages" ng-model="memberEntry.member.promotePackages" ng-change="promoteMemberPackagesChanged(memberEntry.member)">
	        	Show online packages ahead of IHTSDO packages to affiliates.
	        </label>
    	</div>
		<div class="panel panel-default" ng-repeat="package in memberEntry.onlinePackages">
			<div class="panel-heading">
				<div class="pull-right">
					<button type="button" class="btn btn-sm" ng-click="promotePackage(memberEntry, package)" ng-show="canPromotePackage(memberEntry, package) || canDemotePackage(memberEntry, package)" ng-disabled="!canPromotePackage(memberEntry, package)"><span class="glyphicon glyphicon-chevron-up"></span></button>
					<button type="button" class="btn btn-sm" ng-click="demotePackage(memberEntry, package)" ng-show="canPromotePackage(memberEntry, package) || canDemotePackage(memberEntry, package)" ng-disabled="!canDemotePackage(memberEntry, package)"><span class="glyphicon glyphicon-chevron-down"></span></button>
					<div class="dropdown" ng-show="isEditableReleasePackage(package)">
						<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="editReleasePackage(package)">Edit</a></li>
						</ul>
					</div>
				</div>
				<h3 class="panel-title"> <a ng-click="goToPackage(package)">{{package.name}} - {{package.member.key | enum:'global.member.'}}</a>
				</h3>
			</div>
			<div class="panel-body">

				<div ng-bind-html="package.description"></div>
			</div>
			<div class="panel-footer" ng-repeat="version in package.releaseVersions | filter: utils.isVersionOnline" ng-show="utils.isLatestVersion(version, (package.releaseVersions | filter: utils.isVersionOnline))">
				<div class="row">
					<div class="col-lg-1">
						<div class="current">Latest:</div>
					</div>
						<div class="col-lg-10">
						<h4 class="version">{{version.name}} </h4>
						<span><strong>Published On:</strong> {{version.publishedAt | date: 'yyyy-MM-dd'}}</span>
						<p class="download-files" ng-repeat="file in version.releaseFiles"><a href="{{releaseFile.clientDownloadUrl}}" target="_blank"  ng-hide="!releaseFile.clientDownloadUrl">{{file.label}}</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning" ng-show="memberEntry.onlinePackages.length == 0"><i class="fa fa-exclamation-circle"></i> There are currently no public releases available</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="page-header">
			<h3>Offline & Alpha/Beta Releases: <span>{{memberEntry.member.key | enum:'global.member.'}}</span></h3>
			<p>Releases that do not have any online versions are taken offline or made available for alpha/beta reviews. To take a release online, select a release below and set one or more versions online.</p>
		</div>
			<div class="panel panel-default" ng-repeat="package in memberEntry.offlinePackages">
				<div class="panel-heading">
					<div class="dropdown pull-right" ng-show="isEditableReleasePackage(package)">
						<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="editReleasePackage(package)">Edit</a></li>
							<li class="divider"></li>
							<li><a ng-click="deleteReleasePackage(package)">Remove</a></li>
						</ul>
					</div>
					<h4 class="panel-title"><a ng-click="goToPackage(package)"> {{package.name}} - {{package.member.key | enum:'global.member.'}}</a></h4>
				</div>
				<div class="panel-body">
					<div ng-bind-html="package.description"></div>
				</div>
			</div>
		<div class="alert alert-warning" ng-show="memberEntry.offlinePackages.length == 0"><i class="fa fa-exclamation-circle"></i> There are currently no offline or alpha releases available </div>
	</div>
</div>
</div>
