<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h2>Release Management &nbsp;&nbsp;<button class="btn btn-success" ng-click="addReleasePackage()"><i class="fa fa-plus"></i> Add Release</button></h2>
						
			<div ng-if="isAdmin">
				<span>Show releases for: </span>
				<select ng-model="utils.showAllMembers">
					<option value="" selected="selected" ng-bind="Session.member.key | enum:'global.member.'">Only my releases</option>
					<option value="1">All Members</option>
				</select>
				<a popover-placement="top" popover="Switch between your releases and releases from all members" class="btn btn-link"><i class="fa fa-question-circle fa-2x"></i></a> 
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="">
			<h3>Public Releases</h3>
			<p>Releases are made public when one or more versions inside the release is made public. To take a release offline, select a release below and set all versions to offline.</p>	
		</div>
		<div class="panel panel-default" ng-repeat="package in onlinePackages">
			<div class="panel-heading">
				<div class="dropdown pull-right" 
					ng-show="isEditableReleasePackage(package)">
					<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="editReleasePackage(package)">Edit</a></li>
					</ul>
				</div>
				<h3 class="panel-title"> <a ng-click="goToPackage(package)">{{package.name}} - {{package.member.key | enum:'global.member.'}}</a></h3>
			</div>
			<div class="panel-body">
				
				<p>{{package.description}}</p>
			</div>
			<div class="panel-footer" ng-repeat="version in package.releaseVersions | filter: utils.isVersionOnline" ng-show="utils.isLatestVersion(version, (package.releaseVersions | filter: utils.isVersionOnline))">
				<div class="row">
					<div class="col-lg-1">
						<div class="current">Latest:</div>
					</div>
						<div class="col-lg-10">
						<h4 class="version">{{version.name}} </h4>
						<span><strong>Published On:</strong> {{version.publishedAt | date: 'longDate'}}</span>
						<p class="download-files" ng-repeat="file in version.releaseFiles"><a href="{{file.downloadUrl}}" target="_blank">{{file.label}}</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning" ng-show="onlinePackages.length == 0"><i class="fa fa-exclamation-circle"></i> There are currently no public releases available</div>
	</div>	
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="page-header">
			<h3>Offline Releases</h3>
			<p>Releases that do not have any online versions are taken offline. To take a release online, select a release below and set one or more versions online.</p>
		</div>
			<div class="panel panel-default" ng-repeat="package in offinePackages">
				<div class="panel-heading">
					<div class="dropdown pull-right"
						ng-show="isEditableReleasePackage(package)">
						<button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="editReleasePackage(package)">Edit</a></li>
							<li class="divider"></li>
							<li><a ng-click="deleteReleasePackage(package)">Remove</a></li>
						</ul>
					</div>
					<h4 class="panel-title"><a ng-click="goToPackage(package)"> {{package.name}} - {{package.member.key | enum:'global.member.'}}</a></a></h4>
				</div>
				<div class="panel-body">
					<p>{{package.description}}</p>
				</div>
			</div>
		<div class="alert alert-warning" ng-show="offinePackages.length == 0"><i class="fa fa-exclamation-circle"></i> There are currently no offline releases available </div>
	</div>
</div>
