<div class="modal-header">
     <h3 class="modal-title">Confirm Publishing Version</h3>
 </div>
 <div class="modal-body">
 	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
 	<p>Please verify that you have selected the correct version before publishing</p>
 	<div>
		<label>Package Name: </label>
		<span>{{releasePackage.name}}</span>
 	</div>
 	<div>
		<label>Package Version: </label>
		<span>{{releaseVersion.name}}</span>
 	</div>
 	
 </div>
 <div class="modal-footer">
     <button class="btn btn-link" ng-click="$dismiss()">No</button>
     <button class="btn btn-success" ng-click="ok()">Yes</button>
 </div>