<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h2>Review Usage Reports</h2>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Affiliate Name</th>
						<th>
							<a ng-click="orderByField='submitted'; reverseSort = !reverseSort">
								Date Submitted
								<span ng-hide="orderByField == 'submitted'"><i class="fa fa-sort"></i></span> 
								<span ng-show="orderByField == 'submitted'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='state'; reverseSort = !reverseSort">
								Status
								<span ng-hide="orderByField == 'state'"><i class="fa fa-sort"></i></span> 
								<span ng-show="orderByField == 'state'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='type'; reverseSort = !reverseSort">
								Type 
								<span ng-hide="orderByField == 'type'"><i class="fa fa-sort"></i></span>
								<span ng-show="orderByField == 'type'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
							</a>
						</th>
						<th>Implementation Status</th>
						<th>
							<a ng-click="orderByField='startDate'; reverseSort = !reverseSort">
								Start Date 
								<span ng-hide="orderByField == 'startDate'"><i class="fa fa-sort"></i></span>
								<span ng-show="orderByField == 'startDate'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='endDate'; reverseSort = !reverseSort">
								End Date
								<span ng-hide="orderByField == 'endDate'"><i class="fa fa-sort"></i></span> 
								<span ng-show="orderByField == 'endDate'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
							</a>
						</th>
						<th>Hospitals</th>
						<th>Practices</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usageReport in usageReports | orderBy:orderByField:reverseSort | filter:reportSearch()"  ng-click="usageReportsUtils.goToReviewUsageReport(usageReport)">
					<td>{{usageReport.affiliate.affiliateDetails.firstName + ' ' + usageReport.affiliate.affiliateDetails.lastName}}</td>
					<td>{{usageReport.submitted | date: 'yyyy-MM-dd'}}</td>
					<td>{{usageReport.state | enum:'usageReport.state.'}}</td>
					<td>{{usageReport.type | enum:'affiliate.type.'}}</td>
					<td>{{usageReport.context.implementationStatus | enum:'affiliate.implementationStatus.'}}</td>
					<td>{{usageReport.startDate}}</td>
					<td>{{usageReport.endDate}}</td>
					<td>{{usageReportsUtils.usageReportHospitals(usageReport)}}</td>
					<td>{{usageReportsUtils.usageReportPractices(usageReport)}}</td>
					
					<td> <a class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Review</a></td>
				</tr>
				</tbody>
			</table>
		</div>


	</div>
</div>